openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
paths:
  /blink-hendelse/vaapenrom:
    put:
      tags:
      - vaapenromendring-controller
      operationId: endreVaapenrom
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Vaapenrom"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
    post:
      tags:
      - vaapenromendring-controller
      operationId: lagreNyttVaapenrom
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Vaapenrom"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
    delete:
      tags:
      - vaapenromendring-controller
      operationId: sletteVaapenrom
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/samleromraade:
    post:
      tags:
      - samleromraade-controller
      operationId: lagreNyttSamleromraade
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SamleromraadeEvent"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/loyve/endring:
    post:
      tags:
      - loyveendring-controller
      summary: "Lagre nytt eller endring på ervervsløyve, næringsløyve eller avslag\
        \ på ervervsløyve"
      operationId: lagreEndring
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AnnetLoyveEndring"
              - $ref: "#/components/schemas/AvslattSoknadEndring"
              - $ref: "#/components/schemas/ErvervsloyveEndring"
              - $ref: "#/components/schemas/NaeringsloyveEndring"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/korrigeringer/mottatt:
    post:
      tags:
      - korreksjon-event-controller
      summary: Lagre at en korreksjon har blitt plukket opp av Blink
      operationId: updatePickedUpByBlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KorreksjonsId"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/korrigeringer/endring:
    post:
      tags:
      - korreksjon-event-controller
      summary: "Lagre endring eller korreksjon av våpen eller våpendel, eller eieroverfø\
        ring av våpen eller våpendel"
      operationId: lagreEndring_1
      requestBody:
        content:
          application/json:
            schema:
              type: string
              oneOf:
              - $ref: "#/components/schemas/VAAPEN"
              - $ref: "#/components/schemas/VAAPENDEL"
              - $ref: "#/components/schemas/VAAPENKORREKSJON"
              - $ref: "#/components/schemas/VAAPENDELKORREKSJON"
              - $ref: "#/components/schemas/EIEROVERFORING_VAAPEN_SAKSBEHANDLER"
              - $ref: "#/components/schemas/EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/ChangeFailed"
                - $ref: "#/components/schemas/ChangeSuccess"
  /blink-hendelse/korrigeringer/avbrutt:
    post:
      tags:
      - korreksjon-event-controller
      summary: Lagre at en korreksjon har blitt bekreftet avbrutt av Blink
      operationId: updateAcknowledgeCancelledByBlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KorreksjonsId"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
components:
  schemas:
    DigitalEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          navn:
            type: string
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
      required:
      - eiertype
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
          UKJENT_INNEHAVER: "#/components/schemas/UkjentInnehaver"
          POLITI: "#/components/schemas/PolitiInnehaver"
      properties:
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        id:
          type: integer
          format: int64
      required:
      - eiertype
    EierPerson:
      type: object
      description: Representerer en person
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator for eieren
          example: 5678
        personidentifikator:
          type: string
          description: Fødselsnummer eller D-nummer
          example: 12345678901
        navn:
          type: string
          description: Navn på fysisk person - kun visning ved behov
          example: Kari Ole Normann
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
          example: PERSON
      required:
      - eiertype
      - personidentifikator
    EierVirksomhet:
      type: object
      description: Representerer en virksomhet
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator for eieren
          example: 1234
        organisasjonsnummer:
          type: string
          description: Organisasjonsnummer
          example: 123456789
        navn:
          type: string
          description: Navn på virksomhet - kun visning ved behov
          example: PANGPANG AS
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
          example: VIRKSOMHET
      required:
      - eiertype
      - organisasjonsnummer
    ManuellEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      required:
      - eiertype
    PolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: TAPTE VÅPEN - OSLO
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - importertKategori
    UkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: 311280
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type: string
            description: Navn på utenlandsk person
            example: Kari Ole Normann
          adresse:
            type: string
            description: Adressen til utenlandsk person
            example: Kari Ole Normann
          stilling:
            type: string
            description: Stilling til utenlandsk person
            example: Diplomat
          telefon:
            type: string
            description: Telefon til utenlandsk person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - personidentifikator
    Vaapenrom:
      type: object
      properties:
        id:
          type: string
          description: Unik intern identifikator for våpenrommet. I form av UUID.
        innehaver:
          description: Eier av våpenrommet
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        status:
          type: string
          description: Status på våpenrom
          enum:
          - GODKJENT
          - GODKJENNING_TILBAKETRUKKET
          - SLETTET
          example: GODKJENT
        saksreferanse:
          type: string
          description: Alle våpenrom som innvilges må ha en saksreferanse i websak
        matrikkelnummer:
          type: string
          description: identifikator for fast eiendom i Norge hvor våpenrommet er
        createdDate:
          type: string
          format: date-time
        deletedDate:
          type: string
          format: date-time
      required:
      - id
      - innehaver
      - saksreferanse
      - status
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type: integer
          format: int32
      required:
      - beskrivelse
      - id
      - innehaver
      - navn
    SamleromraadeEvent:
      type: object
      properties:
        samleromraade:
          $ref: "#/components/schemas/Samleromraade"
        eventType:
          type: string
          enum:
          - NEW
          - UPDATE
          - DELETE
      required:
      - eventType
      - samleromraade
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ammunisjonskjoployve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for tidsbegrenset engangskjøp av ammunisjon til våpen som
        ikke er registreringspliktig
      required:
      - annetloyveLoyvetype
      - gyldigTil
      - innehaver
      - isActiveAndNotExpired
      - kaliber
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Ammunisjonssamlerloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          beskrivelse:
            type: string
      description: Løyve for ammunisjonssamlere
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AnnetLoyve:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          AMMUNISJONSKJOP_IKKEREGPLIKTIG: "#/components/schemas/Ammunisjonskjoployve"
          AMMUNISJONSSAMLER: "#/components/schemas/Ammunisjonssamlerloyve"
          GODKJENT_SAMLER: "#/components/schemas/GodkjentSamlerloyve"
          PIRATBESKYTTELSE: "#/components/schemas/Piratbeskyttelsesloyve"
          ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
          LAANELOYVE: "#/components/schemas/Laaneloyve"
          IKKE_ERVERVSMESSIG_INNFORSEL: "#/components/schemas/Privatimportloyve"
          ERVERVSMESSIG_INNFORSEL: "#/components/schemas/Naeringsimportloyve"
          MIDLERTIDIG_INNFORSEL: "#/components/schemas/MidlertidigInnforselsloyve"
          UTFORSEL: "#/components/schemas/Utforrselsloyve"
          GODKJENT_SKYTEBANE: "#/components/schemas/GodkjentSkytebaneloyve"
          GODKJENT_SKYTTERFORENING: "#/components/schemas/GodkjentSkytterforeningsloyve"
          HOYKAPASITETSMAGASIN: "#/components/schemas/Hoykapasitetsmagasinloyve"
      properties:
        annetloyveLoyvetype:
          type: string
          description: Type løyve for andre formål enn erverv eller innehav av skytevåpen
          enum:
          - AMMUNISJONSKJOP_IKKEREGPLIKTIG
          - AMMUNISJONSSAMLER
          - GODKJENT_SAMLER
          - PIRATBESKYTTELSE
          - ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN
          - LAANELOYVE
          - IKKE_ERVERVSMESSIG_INNFORSEL
          - ERVERVSMESSIG_INNFORSEL
          - MIDLERTIDIG_INNFORSEL
          - UTFORSEL
          - GODKJENT_SKYTEBANE
          - GODKJENT_SKYTTERFORENING
          - NYTT_SKYTEPROGRAM
          - HOYKAPASITETSMAGASIN
        isActiveAndNotExpired:
          type: boolean
        saksreferanse:
          type: string
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    AnnetLoyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          annetLoyve:
            oneOf:
            - $ref: "#/components/schemas/Ammunisjonskjoployve"
            - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
            - $ref: "#/components/schemas/GodkjentSamlerloyve"
            - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
            - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
            - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
            - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
            - $ref: "#/components/schemas/Laaneloyve"
            - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
            - $ref: "#/components/schemas/Naeringsimportloyve"
            - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
            - $ref: "#/components/schemas/Privatimportloyve"
            - $ref: "#/components/schemas/Utforrselsloyve"
      required:
      - annetLoyve
      - changeType
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AvslattSoknad:
      type: object
      description: Spesifisering for avslått søknad
      properties:
        ervervsloyve:
          $ref: "#/components/schemas/Ervervsloyve"
        imiSak:
          type: boolean
        imiSaksnummer:
          type: string
        avslagsgrunnlag:
          type: string
          enum:
          - VANDEL
          - EDRUELIGHET
          - SKIKKETHET
          - BEHOV
      required:
      - avslagsgrunnlag
      - ervervsloyve
    AvslattSoknadEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          avslag:
            $ref: "#/components/schemas/AvslattSoknad"
      required:
      - avslag
      - changeType
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ervervsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForErverv"
      - type: object
        properties:
          gyldigTil:
            type: string
            format: date
          typeErverv:
            type: string
            enum:
            - SKYTEVAAPEN
            - VAAPENDEL
            - AMMUNISJON
            - HOYKAPASITETSMAGASIN
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          vaapendeltype:
            type: string
            enum:
            - PIPE
            - LAASKASSE
            - REVOLVERTONNE
            - SLUTTSTYKKE
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          spesifisering:
            $ref: "#/components/schemas/ErvervsloyveSpesifikt"
          paaVegneAv:
            $ref: "#/components/schemas/EierPerson"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          brukesAv:
            type: integer
            format: int64
          saksreferanse:
            type: string
      description: Løyve for erverv av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeErverv
      - vedtaksdato
    ErvervsloyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      required:
      - changeType
      - ervervsloyve
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        funksjonsmaate:
          type: string
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    GodkjentSamlerloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          samlerorganisasjon:
            type: string
      description: Løyve for godkjent samler
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - samlerorganisasjon
      - status
      - vedtaksdato
    GodkjentSkytebaneloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          beskrivelse:
            type: string
      description: Løyve for godkjent skytebane
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    GodkjentSkytterforeningsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
      description: Løyve for godkjenning som skytterforening
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          UTEN_BEHOVSPROVING: "#/components/schemas/UtenBehovsprovingGrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ETTERREGISTRERT: "#/components/schemas/Etterregistrertgrunnlag"
          DEAKTIVERT: "#/components/schemas/Deaktivertgrunnlag"
          AMNESTI: "#/components/schemas/Amnestigrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          UTRYDDELSE_AV_SKADEDYR: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          SLAKTING: "#/components/schemas/Slaktegrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - REPLIKA_LUFT_FJAER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - grunnlagsType
    GrunnlagWithBeskrivelse:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type: string
      required:
      - grunnlagsType
    Hoykapasitetsmagasinloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          godkjentForVaapen:
            type: integer
            format: int64
      description: Løyve for høykapasitetsmagasin knyttet til våpen
      required:
      - annetloyveLoyvetype
      - godkjentForVaapen
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    IkkeSkytevaapenErvervsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          beskrivelse:
            type: string
          grunnlagsbeskrivelse:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for erverv av våpen som ikke regnes som skytevåpen
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - grunnlagsbeskrivelse
      - gyldigTil
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          registrertIJegerRegisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
      required:
      - grunnlagsType
      - registrertIJegerRegisteret
      - tilleggsvaapen
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Laaneloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          laanenivaaSport:
            type: string
            enum:
            - HALVAUTOMATISK_MED_HOT_PATRONKAPASITET
            - PISTOL_REVOLVER
            - OVRIGE_RIFLER_HAGLER
      description: Løyve for lån av våpen
      required:
      - annetloyveLoyvetype
      - grunnlag
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    MidlertidigInnforselsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          importBeskrivelse:
            type: string
      description: Løyve for midlertidig innførser
      required:
      - annetloyveLoyvetype
      - importBeskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Naeringsimportloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          naeringsloyveid:
            type: string
          importBeskrivelse:
            type: string
      description: Løyve for innførsel av våpen for næringsdrivende virksomhet
      required:
      - annetloyveLoyvetype
      - importBeskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - naeringsloyveid
      - saksreferanse
      - status
      - vedtaksdato
    Naeringsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          loyvehaver:
            $ref: "#/components/schemas/EierPerson"
          typeNaeringsvirksomhet:
            type: array
            items:
              type: string
              enum:
              - HANDEL
              - UTLEIE
              - MEKLING
              - TILVIRKNING
          avgrensninger:
            type: string
          dispensasjon:
            type: string
          saksreferanse:
            type: string
      - $ref: "#/components/schemas/LoyveForErverv"
      description: Løyve for næringsdrivende virksomhet
      required:
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeNaeringsvirksomhet
      - vedtaksdato
    NaeringsloyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          naeringsloyve:
            $ref: "#/components/schemas/Naeringsloyve"
      required:
      - changeType
      - naeringsloyve
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Piratbeskyttelsesloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
      description: Løyve for godkjenning av beskyttelse av skip mot piratvirksomhet
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Privatimportloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          erversloyveid:
            type: string
      description: Løyve for innførsel av våpen som ikke er ervervsmessig
      required:
      - annetloyveLoyvetype
      - erversloyveid
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    SaksbehandlerEndringLoyve:
      type: object
      discriminator:
        propertyName: changeType
      properties:
        changeType:
          type: string
          enum:
          - NAERINGSLOYVE
          - ERVERVSLOYVE
          - AVSLAG_SOKNAD_ERVERV
          - ANNET_LOYVE
      required:
      - changeType
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            $ref: "#/components/schemas/Samleromraade"
      required:
      - grunnlagsType
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Skyteprogram:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type: array
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
      required:
      - arrangertAv
      - navn
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            $ref: "#/components/schemas/Skyteprogram"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type: string
      required:
      - grunnlagsType
      - reservevaapen
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Utforrselsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          utforselBeskrivelse:
            type: string
      description: Løyve for utførsel av våpen
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - utforselBeskrivelse
      - vedtaksdato
    KorreksjonsId:
      type: object
      properties:
        id:
          type: string
          format: uuid
      required:
      - id
    Innehavsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      description: Løyve for innehavelse av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - OVERDEL
            - UNDERDEL
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - skytevaapentype
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - lademekanisme
      - skytevaapentype
    Skytevaapen:
      type: object
      description: Skytevåpen-modellen
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
      required:
      - definerendeType
      - funksjonsmaate
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    VAAPEN:
      type: object
      description: Endring av skytevaapen
      properties:
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - vaapen
    Vaapendel:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
      properties:
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        serienummer:
          type: string
        annetFabrikkmerke:
          type: string
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    VAAPENDEL:
      type: object
      description: Endring av vaapendel
      properties:
        vaapendel:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - vaapendel
    VAAPENKORREKSJON:
      type: object
      description: Korreksjon av skytevaapen
      properties:
        korreksjonsId:
          type: string
          format: uuid
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - korreksjonsId
      - vaapen
    VAAPENDELKORREKSJON:
      type: object
      description: Korreksjon av vaapendel
      properties:
        korreksjonsId:
          type: string
          format: uuid
        vaapendel:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - korreksjonsId
      - vaapendel
    EIEROVERFORING_VAAPEN_SAKSBEHANDLER:
      type: object
      description: Eieroverføring av Skytevaapen
      properties:
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        loyveForErverv:
          oneOf:
          - $ref: "#/components/schemas/Ervervsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - loyveForErverv
      - vaapen
    LoyveForErverv:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/Ervervsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER:
      type: object
      description: Eieroverføring av Vaapendel
      properties:
        vaapendel:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        loyveForErverv:
          oneOf:
          - $ref: "#/components/schemas/Ervervsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - loyveForErverv
      - vaapendel
    ChangeFailed:
      allOf:
      - $ref: "#/components/schemas/ChangeResponse"
      - type: object
        properties:
          reason:
            type: string
      required:
      - reason
    ChangeResponse:
      type: object
    ChangeSuccess:
      allOf:
      - $ref: "#/components/schemas/ChangeResponse"
      - type: object
        properties:
          changeType:
            type: string
            enum:
            - VAAPEN
            - VAAPENDEL
            - VAAPENKORREKSJON
            - VAAPENDELKORREKSJON
            - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
            - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - changeType
