openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
paths:
  /samleromraade:
    post:
      tags:
      - samleromraade-controller
      operationId: lagreNyttSamleromraade
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SamleromraadeEvent"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SamleromraadeEvent"
  /blink-hendelse/loyve/endring:
    post:
      tags:
      - loyveendring-controller
      summary: "Lagre nytt eller endring på ervervsløyve, næringsløyve eller avslag\
        \ på ervervsløyve"
      operationId: lagreEndring
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AvslattSoknadEndring"
              - $ref: "#/components/schemas/ErvervsloyveEndring"
              - $ref: "#/components/schemas/NaeringsloyveEndring"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/korrigeringer/mottatt:
    post:
      tags:
      - korrigerings-event-controller
      summary: Lagre at en korreksjon har blitt plukket opp av Blink
      operationId: updatePickedUpByBlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KorreksjonsId"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/korrigeringer/endring:
    post:
      tags:
      - korrigerings-event-controller
      summary: "Lagre endring eller korreksjon på våpen eller våpendel, eller eieroverfø\
        ring på våpen eller våpendel"
      operationId: lagreEndring_1
      requestBody:
        content:
          application/json:
            schema:
              type: string
              oneOf:
              - $ref: "#/components/schemas/VAAPEN"
              - $ref: "#/components/schemas/VAAPENDEL"
              - $ref: "#/components/schemas/VAAPENKORREKSJON"
              - $ref: "#/components/schemas/VAAPENDELKORREKSJON"
              - $ref: "#/components/schemas/EIEROVERFORING_VAAPEN_SAKSBEHANDLER"
              - $ref: "#/components/schemas/EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/ChangeFailed"
                - $ref: "#/components/schemas/ChangeSuccess"
components:
  schemas:
    EierPerson:
      type: object
      description: Representerer en person
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator for eieren
          example: 5678
        personidentifikator:
          type: string
          description: Fødselsnummer eller D-nummer
          example: 12345678901
        navn:
          type: string
          description: Navn på fysisk person - kun visning ved behov
          example: Kari Ole Normann
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          example: PERSON
      required:
      - eiertype
      - personidentifikator
    EierVirksomhet:
      type: object
      description: Representerer en virksomhet
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator for eieren
          example: 1234
        organisasjonsnummer:
          type: string
          description: Organisasjonsnummer
          example: 123456789
        navn:
          type: string
          description: Navn på virksomhet - kun visning ved behov
          example: PANGPANG AS
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          example: VIRKSOMHET
      required:
      - eiertype
      - organisasjonsnummer
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type: integer
          format: int32
      required:
      - beskrivelse
      - id
      - innehaver
      - navn
    SamleromraadeEvent:
      type: object
      properties:
        samleromraade:
          $ref: "#/components/schemas/Samleromraade"
        eventType:
          type: string
          enum:
          - NEW
          - UPDATE
          - DELETE
      required:
      - eventType
      - samleromraade
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ammunisjonssamlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AvslattSoknad:
      type: object
      description: Spesifisering for avslått søknad
      properties:
        ervervsloyve:
          $ref: "#/components/schemas/Ervervsloyve"
        imiSak:
          type: boolean
        imiSaksnummer:
          type: string
        avslagsgrunnlag:
          type: string
          enum:
          - VANDEL
          - EDRUELIGHET
          - SKIKKETHET
          - BEHOV
      required:
      - avslagsgrunnlag
      - ervervsloyve
    AvslattSoknadEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          avslag:
            $ref: "#/components/schemas/AvslattSoknad"
      required:
      - avslag
      - changeType
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ervervsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForErverv"
      - type: object
        properties:
          gyldigTil:
            type: string
            format: date
          typeErverv:
            type: string
            enum:
            - SKYTEVAAPEN
            - VAAPENDEL
            - AMMUNISJON
            - HOYKAPASITETSMAGASIN
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          vaapendeltype:
            type: string
            enum:
            - PIPE
            - LAASKASSE
            - REVOLVERTONNE
            - SLUTTSTYKKE
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Ammunisjonssamlergrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Hoykapasitetsgrunnlag"
            - $ref: "#/components/schemas/IkkeSkytevaapengrunnlag"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/Piratgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          spesifisering:
            $ref: "#/components/schemas/ErvervsloyveSpesifikt"
          paaVegneAv:
            $ref: "#/components/schemas/EierPerson"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
          brukesAv:
            type: integer
            format: int64
          saksreferanse:
            type: string
      description: Løyve for erverv av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeErverv
      - vedtaksdato
    ErvervsloyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      required:
      - changeType
      - ervervsloyve
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        funksjonsmaate:
          type: string
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          HOYKAPASITETSMAGASIN: "#/components/schemas/Hoykapasitetsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          AMMUNISJONSSAMLING: "#/components/schemas/Ammunisjonssamlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          IKKE_SKYTEVAAPEN: "#/components/schemas/IkkeSkytevaapengrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          PIRAT: "#/components/schemas/Piratgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - REPLIKA_LUFT_FJAER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - AMMUNISJONSSAMLING
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - PIRAT
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - IKKE_SKYTEVAAPEN
          - HOYKAPASITETSMAGASIN
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - grunnlagsType
    GrunnlagWithBeskrivelse:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type: string
      required:
      - grunnlagsType
    Hoykapasitetsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    IkkeSkytevaapengrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          registrertIJegerRegisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
      required:
      - grunnlagsType
      - registrertIJegerRegisteret
      - tilleggsvaapen
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Naeringsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          loyvehaver:
            $ref: "#/components/schemas/EierPerson"
          typeNaeringsvirksomhet:
            type: array
            items:
              type: string
              enum:
              - HANDEL
              - UTLEIE
              - MEKLING
              - TILVIRKNING
          avgrensninger:
            type: string
          dispensasjon:
            type: string
          saksreferanse:
            type: string
      - $ref: "#/components/schemas/LoyveForErverv"
      description: Løyve for næringsdrivende virksomhet
      required:
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeNaeringsvirksomhet
      - vedtaksdato
    NaeringsloyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          naeringsloyve:
            $ref: "#/components/schemas/Naeringsloyve"
      required:
      - changeType
      - naeringsloyve
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Piratgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    SaksbehandlerEndringLoyve:
      type: object
      discriminator:
        propertyName: changeType
      properties:
        changeType:
          type: string
          enum:
          - NAERINGSLOYVE
          - ERVERVSLOYVE
          - AVSLAG_SOKNAD_ERVERV
      required:
      - changeType
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            $ref: "#/components/schemas/Samleromraade"
      required:
      - grunnlagsType
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Skyteprogram:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type: array
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
      required:
      - arrangertAv
      - navn
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            $ref: "#/components/schemas/Skyteprogram"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type: string
      required:
      - grunnlagsType
      - reservevaapen
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    KorreksjonsId:
      type: object
      properties:
        id:
          type: string
          format: uuid
      required:
      - id
    Innehavsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Ammunisjonssamlergrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Hoykapasitetsgrunnlag"
            - $ref: "#/components/schemas/IkkeSkytevaapengrunnlag"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/Piratgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      description: Løyve for innehavelse av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - OVERDEL
            - UNDERDEL
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - skytevaapentype
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - lademekanisme
      - skytevaapentype
    Skytevaapen:
      type: object
      description: Skytevåpen-modellen
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
      required:
      - definerendeType
      - funksjonsmaate
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    VAAPEN:
      type: object
      description: Endring av skytevaapen
      properties:
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - vaapen
    Vaapendel:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        serienummer:
          type: string
        annetFabrikkmerke:
          type: string
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    VAAPENDEL:
      type: object
      description: Endring av vaapendel
      properties:
        vaapendel:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - vaapendel
    VAAPENKORREKSJON:
      type: object
      description: Korreksjon av skytevaapen
      properties:
        korreksjonsId:
          type: string
          format: uuid
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - korreksjonsId
      - vaapen
    VAAPENDELKORREKSJON:
      type: object
      description: Korreksjon av vaapendel
      properties:
        korreksjonsId:
          type: string
          format: uuid
        vaapendel:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - korreksjonsId
      - vaapendel
    EIEROVERFORING_VAAPEN_SAKSBEHANDLER:
      type: object
      description: Eieroverføring av Skytevaapen
      properties:
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        loyveForErverv:
          oneOf:
          - $ref: "#/components/schemas/Ervervsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - loyveForErverv
      - vaapen
    LoyveForErverv:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/Ervervsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER:
      type: object
      description: Eieroverføring av Vaapendel
      properties:
        vaapendel:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        loyveForErverv:
          oneOf:
          - $ref: "#/components/schemas/Ervervsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        arkivreferanse:
          type: string
        melding:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - arkivreferanse
      - changeType
      - loyveForErverv
      - vaapendel
    ChangeFailed:
      allOf:
      - $ref: "#/components/schemas/ChangeResponse"
      - type: object
        properties:
          reason:
            type: string
      required:
      - reason
    ChangeResponse:
      type: object
    ChangeSuccess:
      allOf:
      - $ref: "#/components/schemas/ChangeResponse"
      - type: object
        properties:
          changeType:
            type: string
            enum:
            - VAAPEN
            - VAAPENDEL
            - VAAPENKORREKSJON
            - VAAPENDELKORREKSJON
            - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
            - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - changeType
