openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
paths:
  /blink-hendelse/vaapenrom:
    put:
      tags:
      - vaapenromendring-controller
      summary: Trekk tilbake godkjenning av våpenrom. Status settes til GODKJENNING_TILBAKETRUKKET.
        Saksreferanse og matrikkelnummer kan endres samtidig.
      operationId: endreVaapenrom
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Vaapenrom"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
    post:
      tags:
      - vaapenromendring-controller
      summary: Opprett våpenrom.
      operationId: lagreNyttVaapenrom
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Vaapenrom"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
    delete:
      tags:
      - vaapenromendring-controller
      summary: Slett våpenrom. Status settes til SLETTET.
      operationId: sletteVaapenrom
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/kulediameter/{id}:
    put:
      tags:
      - kulediameter-controller
      summary: Oppdater eksisterende kulediameter
      description: Oppdaterer en eksisterende kulediameter identifisert av ID. Returnerer
        den oppdaterte kulediameteren.
      operationId: updateKulediameter
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KulediameterRequest"
        required: true
      responses:
        "200":
          description: Kulediameter oppdatert
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KulediameterDetailed"
        "400":
          description: Ugyldig request-body
        "404":
          description: Kulediameter ikke funnet
  /blink-hendelse/kaliber/{id}:
    put:
      tags:
      - kaliber-controller
      summary: Oppdater eksisterende kaliber
      description: Oppdaterer et eksisterende kaliber identifisert av ID. Returnerer
        det oppdaterte kaliberet.
      operationId: updateCaliber
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KaliberRequest"
        required: true
      responses:
        "200":
          description: Kaliber oppdatert
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KaliberDetailed"
        "400":
          description: Ugyldig request-body
        "404":
          description: Kaliber ikke funnet
  /blink-hendelse/fabrikkmerker/{id}:
    put:
      tags:
      - fabrikkmerke-controller
      summary: Oppdater eksisterende fabrikkmerke
      description: Oppdaterer et eksisterende fabrikkmerke identifisert av ID. Returnerer
        det oppdaterte fabrikkmerket.
      operationId: updateFabrikkmerke
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FabrikkmerkeRequest"
        required: true
      responses:
        "200":
          description: Fabrikkmerke oppdatert
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FabrikkmerkeDetailed"
        "400":
          description: Ugyldig request-body
        "404":
          description: Fabrikkmerke ikke funnet
  /blink-hendelse/aksjoner:
    put:
      tags:
      - aksjon-controller
      summary: Oppdater eksisterenede aksjon
      operationId: oppdaterAksjon
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Aksjon"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
    post:
      tags:
      - aksjon-controller
      summary: Opprett NY aksjon
      operationId: nyAksjon
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Aksjon"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/samleromraade:
    post:
      tags:
      - samleromraade-controller
      operationId: lagreNyttSamleromraade
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SamleromraadeEvent"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/opprettelse:
    post:
      tags:
      - saksbehandler-opprettelse-controller
      operationId: opprett
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/IKKE_ERVERVSMESSIG_INNFORSEL_SKYTEVAAPEN"
              - $ref: "#/components/schemas/IKKE_ERVERVSMESSIG_INNFORSEL_VAAPENDEL"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /blink-hendelse/loyve/endring:
    post:
      tags:
      - loyveendring-controller
      summary: "Lagre nytt eller endring på ervervsløyve, næringsløyve eller avslag\
        \ på ervervsløyve"
      operationId: lagreEndring
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AnnetLoyveEndring"
              - $ref: "#/components/schemas/AvslattSoknadEndring"
              - $ref: "#/components/schemas/ErvervsloyveEndring"
              - $ref: "#/components/schemas/NaeringsloyveEndring"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/kulediameter:
    get:
      tags:
      - kulediameter-controller
      summary: Hent kulediameter
      description: "Henter alle kulediametere, returnerer en liste med kulediametere,\
        \ Benytt kunAktive for å fltrere på aktive/inaktive"
      operationId: hentKulediameter
      parameters:
      - name: kunAktive
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        "200":
          description: Kulediameter Hentet
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KulediameterDetailed"
    post:
      tags:
      - kulediameter-controller
      summary: Opprett nye kulediameter
      description: Oppretter ny kulediameter i kodelisten basert på innsendt request-body.
        returnerer den nye kulediameteren med ny ID
      operationId: createKulediameter
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KulediameterRequest"
        required: true
      responses:
        "201":
          description: Kulediameter opprettet
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KulediameterDetailed"
        "400":
          description: Ugyldig request-body
        "409":
          description: Kulediameter finnes allerede
  /blink-hendelse/korrigeringer/mottatt:
    post:
      tags:
      - korreksjon-event-controller
      summary: Lagre at en korreksjon har blitt plukket opp av Blink
      operationId: updatePickedUpByBlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KorreksjonsId"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/korrigeringer/endring:
    post:
      tags:
      - korreksjon-event-controller
      summary: "Lagre endring eller korreksjon av våpen eller våpendel, eller eieroverfø\
        ring av våpen eller våpendel"
      operationId: lagreEndring_1
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/VAAPEN"
              - $ref: "#/components/schemas/VAAPENDEL"
              - $ref: "#/components/schemas/VAAPENKORREKSJON"
              - $ref: "#/components/schemas/VAAPENDELKORREKSJON"
              - $ref: "#/components/schemas/EIEROVERFORING_VAAPEN_SAKSBEHANDLER"
              - $ref: "#/components/schemas/EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/ChangeFailed"
                - $ref: "#/components/schemas/ChangeSuccess"
  /blink-hendelse/korrigeringer/avbrutt:
    post:
      tags:
      - korreksjon-event-controller
      summary: Lagre at en korreksjon har blitt bekreftet avbrutt av Blink
      operationId: updateAcknowledgeCancelledByBlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KorreksjonsId"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/kaliber:
    post:
      tags:
      - kaliber-controller
      summary: Opprett nytt kaliber
      description: Oppretter et nytt kaliber basert på innsendt request-body. Returnerer
        det opprettede kaliberet med generert ID.
      operationId: createKaliber
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KaliberRequest"
        required: true
      responses:
        "201":
          description: Kaliber opprettet
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KaliberDetailed"
        "400":
          description: Ugyldig request-body
        "409":
          description: Kaliber finnes allerede
  /blink-hendelse/fabrikkmerker:
    post:
      tags:
      - fabrikkmerke-controller
      summary: Opprett nytt fabrikkmerke
      description: Oppretter et nytt fabrikkmerke basert på innsendt request-body.
        Returnerer det opprettede fabrikkmerket med generert ID.
      operationId: createFabrikkmerke
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FabrikkmerkeRequest"
        required: true
      responses:
        "201":
          description: Fabrikkmerke opprettet
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FabrikkmerkeDetailed"
        "400":
          description: Ugyldig request-body
        "409":
          description: Fabrikkmerke finnes allerede
  /blink-hendelse/besittelse/politi/endring:
    post:
      tags:
      - kripos-event-controller
      summary: Kripos-hendelser (pall/pakke)
      description: "\nRegistrerer en hendelse som beskriver en endring i politiets\
        \ besittelse av våpen eller våpendeler. \nHendelsen kan gjelde en pakke eller\
        \ en pall og er en av 17 subtyper diskriminert av feltet `type`. \nSe schemaet\
        \ for `HendelsePoltietsBesittelse` for detaljer på hver subtype.\n\n### Valideringsregler\n\
        \n| Type | Krav |\n|---|---|\n| `PAKKE_OPPRETTET` | Ny pakke. `pakke.id` må\
        \ være gyldig UUID og ikke finnes fra før. |\n| `PAKKE_KRIPOS_ETTERREGISTRERING_ENDELIG_DESTRUERT`\
        \ | Ny pakke. Etterregistrering av en destruert pakke. `pakke.id` må være\
        \ gyldig UUID og ikke finnes fra før. `besluttetHandtering` må være `DESTRUKSJON`\
        \ og `pakkestatus` må være `ENDELIG_DESTRUERT`. |\n| `PAKKE_ENDRING_DISTRIKT`\
        \ | Endring på pakke fra politidistrikt. Pakken må finnes, og dens nåværende\
        \ status må være `REGISTRERT`, `UNDER_TRANSPORT`, `UTLEVERT`, `MELLOMLAGRET`\
        \ eller `INAKTIVT`. |\n| `PAKKE_ENDRING_KRIPOS` | Endring på pakke fra Kripos.\
        \ Pakken må finnes. Pakkestatus i forespørselen må være `MOTTATT_KRIPOS`,\
        \ `FERDIGBEHANDLET_KRIPOS`, `REFERANSESAMLING`, `SENDT_FORSVARET` eller `ENDELIG_DESTRUERT`.\
        \ |\n| `PAKKE_TILBAKELEVERT`, `PAKKE_ENDRING_REFERANSESAMLING`, `PAKKE_FJERN_FRA_REFERANSESAMLING`,\
        \ `PAKKE_UTLAANSENDRING` | Andre pakkeoperasjoner. Pakken må finnes. |\n|\
        \ `PALL_OPPRETTET` | Ny pall. `pall.id` må være gyldig UUID og ikke finnes\
        \ fra før. `pall.status` må være `UNDER_KONSTRUKSJON` og `pall.pakker` må\
        \ være en tom liste. |\n| `PAKKE_TIL_PALL` | Legge pakker på pall. Alle refererte\
        \ pakker og pallen må finnes. `pakkeIdEr` kan ikke være tom. |\n| `PAKKE_FRA_PALL`\
        \ | Fjerne pakke fra pall. Pakken må finnes, og pallen den ligger på kan ikke\
        \ være forseglet. |\n| `PALL_FORSEGLET`, `PALL_AAPNET`, `PALL_SENDT`, `PALL_ENDELIG_DESTRUERT`\
        \ | Palloperasjoner. Pallen må finnes. |\n| `PALL_MOTTATT_KRIPOS` | Kripos\
        \ mottar pall. Pallen må finnes. `status` i forespørselen må være `MOTTATT_KRIPOS`\
        \ eller `MELLOMLAGRET`. |\n| `PALL_SENDT_FORSVARET` | Send pall til Forsvaret.\
        \ Pallen må finnes og være forseglet. |\n"
      operationId: lagreEndring_2
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AapnePall"
              - $ref: "#/components/schemas/EndeligDestruksjon"
              - $ref: "#/components/schemas/EndrePakkeDistrikt"
              - $ref: "#/components/schemas/EndrePakkeKripos"
              - $ref: "#/components/schemas/ForseglePall"
              - $ref: "#/components/schemas/MottaPall"
              - $ref: "#/components/schemas/PakkeEndringReferansesamling"
              - $ref: "#/components/schemas/PakkeEndringUtlaan"
              - $ref: "#/components/schemas/PakkeEtterregistreringDestruert"
              - $ref: "#/components/schemas/PakkeFjernReferansesamling"
              - $ref: "#/components/schemas/PakkeFraPall"
              - $ref: "#/components/schemas/PakkerTilPall"
              - $ref: "#/components/schemas/PallUnderKonstruksjon"
              - $ref: "#/components/schemas/RegistrerPakke"
              - $ref: "#/components/schemas/SendForsvaret"
              - $ref: "#/components/schemas/SendPall"
              - $ref: "#/components/schemas/TilbakeleverPakke"
        required: true
      responses:
        "200":
          description: Hendelsen ble akseptert og registrert.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KriposValidationResult"
              examples:
                Akseptert:
                  description: Akseptert
                  value:
                    status: SUCCESS
                    warnings: []
                    errors: []
        "400":
          description: "Forespørselen ble avvist: body er `KriposValidationResult`\
            \ med detaljer i `errors`."
          content:
            '*/*':
              schema:
                anyOf:
                - $ref: "#/components/schemas/KriposValidationResult"
                - $ref: "#/components/schemas/ErrorMessageModel"
              examples:
                Valideringsfeil:
                  description: Valideringsfeil
                  value:
                    status: ERROR
                    warnings: []
                    errors:
                    - field: pakkestatus
                      errorType: PAKKE_CHANGE_NOT_ALLOWED
  /blink-hendelse/aksjoner/{aksjonsid}:
    delete:
      tags:
      - aksjon-controller
      summary: Slett aksjon
      operationId: slettAksjon
      parameters:
      - name: aksjonsid
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
components:
  schemas:
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
          UKJENT_INNEHAVER: "#/components/schemas/UkjentInnehaver"
          POLITI: "#/components/schemas/PolitiInnehaver"
      properties:
        id:
          type: integer
          format: int64
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
    EierPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalPerson"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: "12345678901"
          navn:
            type:
            - string
            - "null"
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type:
            - string
            - "null"
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en person
      required:
      - eiertype
    EierVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalVirksomhet"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: "123456789"
          navn:
            type:
            - string
            - "null"
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      description: Representerer en virksomhet
      required:
      - eiertype
    PolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: false
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
    UkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: "311280"
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type:
            - string
            - "null"
            description: Navn på ukjent person
            example: Kari Ole Normann
          adresse:
            type:
            - string
            - "null"
            description: Adressen til ukjent person
            example: Kari Ole Normann
          stilling:
            type:
            - string
            - "null"
            description: Stilling til ukjent person
            example: Diplomat
          telefon:
            type:
            - string
            - "null"
            description: Telefon til ukjent person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
    Vaapenrom:
      type: object
      properties:
        id:
          type: string
          description: Unik intern identifikator for våpenrommet. I form av UUID.
        innehaver:
          description: Eier av våpenrommet
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        status:
          type: string
          description: Status på våpenrom
          enum:
          - GODKJENT
          - GODKJENNING_TILBAKETRUKKET
          - SLETTET
          example: GODKJENT
        saksreferanse:
          type: string
          description: Alle våpenrom som innvilges må ha en saksreferanse i websak
        matrikkelnummer:
          type:
          - string
          - "null"
          description: identifikator for fast eiendom i Norge hvor våpenrommet er
        createdDate:
          type:
          - string
          - "null"
          format: date-time
          description: "Tidspunktet når våpenrommet ble opprettet i databasen, blir\
            \ satt på lagringstidspunktet, skal være tom ved innsending"
        deletedDate:
          type:
          - string
          - "null"
          format: date-time
          description: "Tidspunktet når våpenrommet ble soft-slettet i databasen,\
            \ skal være tom ved innsending"
    KulediameterRequest:
      type: object
      properties:
        navn:
          type: string
          minLength: 1
        aktiv:
          type:
          - boolean
          - "null"
      required:
      - navn
    KulediameterDetailed:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        slettetDato:
          type:
          - string
          - "null"
          format: date
    KaliberRequest:
      type: object
      properties:
        navn:
          type: string
          minLength: 1
        aliasBetegnelse:
          type:
          - string
          - "null"
      required:
      - navn
    KaliberDetailed:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        aliasBetegnelse:
          type:
          - string
          - "null"
        slettetDato:
          type:
          - string
          - "null"
          format: date
    FabrikkmerkeRequest:
      type: object
      properties:
        navn:
          type: string
          minLength: 1
        merknad:
          type:
          - string
          - "null"
        advarsel:
          type:
          - string
          - "null"
      required:
      - navn
    FabrikkmerkeDetailed:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        merknad:
          type:
          - string
          - "null"
        advarsel:
          type:
          - string
          - "null"
        slettetDato:
          type:
          - string
          - "null"
          format: date
    Aksjon:
      type: object
      properties:
        id:
          type: string
        aksjonstype:
          type: string
          enum:
          - FORHAANDSVARSEL
          - TILBAKEKALL
          - FORBUDMOTREGISTRERINGSFRIEVAAPEN
        aksjonsdato:
          type: string
          format: date
        aksjonsbeskrivelse:
          type:
          - string
          - "null"
        saksreferanse:
          type: string
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        slettetDato:
          type:
          - string
          - "null"
          format: date-time
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          $ref: "#/components/schemas/EierPerson"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type:
          - integer
          - "null"
          format: int32
    SamleromraadeEvent:
      type: object
      properties:
        samleromraade:
          $ref: "#/components/schemas/Samleromraade"
        eventType:
          type: string
          enum:
          - NEW
          - UPDATE
          - DELETE
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type:
            - string
            - "null"
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    BrukesAv:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/BrukesAvErvervsloyvePeker"
          ERVERVSLOYVE_FULL: "#/components/schemas/BrukesAvErvervsloyveExpanded"
          SKYTEVAAPEN: "#/components/schemas/BrukesAvSkytevaapenPeker"
          SKYTEVAAPEN_FULL: "#/components/schemas/BrukesAvSkytevaapenExpanded"
      properties:
        brukesAvType:
          type: string
          enum:
          - ERVERVSLOYVE
          - SKYTEVAAPEN
          - ERVERVSLOYVE_FULL
          - SKYTEVAAPEN_FULL
    BrukesAvErvervsloyveExpanded:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          ervervsloyveId:
            type:
            - string
            - "null"
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          modell:
            type:
            - string
            - "null"
          funksjonsmaate:
            type:
            - string
            - "null"
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          lademekanisme:
            type:
            - string
            - "null"
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type:
            - string
            - "null"
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
    BrukesAvErvervsloyvePeker:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          ervervsloyveId:
            type: string
    BrukesAvSkytevaapenExpanded:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          skytevaapenId:
            type:
            - integer
            - "null"
            format: int64
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          lademekanisme:
            type:
            - string
            - "null"
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type:
            - string
            - "null"
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
    BrukesAvSkytevaapenPeker:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          skytevaapenId:
            type: integer
            format: int64
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    DigitalPerson:
      type: object
      properties:
        id:
          type: integer
          format: int64
        foedselsdato:
          type: string
          format: date
        personidentifikator:
          type: string
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        navn:
          type: string
    DigitalVirksomhet:
      type: object
      properties:
        id:
          type: integer
          format: int64
        organisasjonsnummer:
          type: string
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        navn:
          type: string
    ErvervUtenLoyve:
      type: object
      properties:
        loyveId:
          type: string
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        grunnlag:
          oneOf:
          - $ref: "#/components/schemas/Aldersgrunnlag"
          - $ref: "#/components/schemas/Amnestigrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/Avlivingsgrunnlag"
          - $ref: "#/components/schemas/Deaktivertgrunnlag"
          - $ref: "#/components/schemas/Etterregistrertgrunnlag"
          - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          - $ref: "#/components/schemas/Jaktgrunnlag"
          - $ref: "#/components/schemas/Minneverdegrunnlag"
          - $ref: "#/components/schemas/Museumsgrunnlag"
          - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/Samlergrunnlag"
          - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
          - $ref: "#/components/schemas/Slaktegrunnlag"
          - $ref: "#/components/schemas/Sportsgrunnlag"
          - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
          - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
          - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
          - $ref: "#/components/schemas/Vaapendelgrunnlag"
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    Ervervsloyve:
      type: object
      description: Løyve for erverv av våpen eller våpendel
      properties:
        loyveId:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        gyldigTil:
          type:
          - string
          - "null"
          format: date
        typeErverv:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        skytevaapentype:
          type:
          - string
          - "null"
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapendeltype:
          type:
          - string
          - "null"
          enum:
          - LAASKASSE
          - PIPE
          - REVOLVERTONNE
          - SLUTTSTYKKE
          - UKJENT
        grunnlag:
          oneOf:
          - $ref: "#/components/schemas/Aldersgrunnlag"
          - $ref: "#/components/schemas/Amnestigrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/Avlivingsgrunnlag"
          - $ref: "#/components/schemas/Deaktivertgrunnlag"
          - $ref: "#/components/schemas/Etterregistrertgrunnlag"
          - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          - $ref: "#/components/schemas/Jaktgrunnlag"
          - $ref: "#/components/schemas/Minneverdegrunnlag"
          - $ref: "#/components/schemas/Museumsgrunnlag"
          - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/Samlergrunnlag"
          - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
          - $ref: "#/components/schemas/Slaktegrunnlag"
          - $ref: "#/components/schemas/Sportsgrunnlag"
          - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
          - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
          - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
          - $ref: "#/components/schemas/Vaapendelgrunnlag"
        spesifisering:
          oneOf:
          - $ref: "#/components/schemas/ErvervsloyveSpesifikt"
          - type: "null"
        paaVegneAv:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
        fritakFraAlderskrav:
          type: boolean
        oppbevaringsansvarlig:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        brukesAv:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/BrukesAvErvervsloyveExpanded"
          - $ref: "#/components/schemas/BrukesAvErvervsloyvePeker"
          - $ref: "#/components/schemas/BrukesAvSkytevaapenExpanded"
          - $ref: "#/components/schemas/BrukesAvSkytevaapenPeker"
        saksreferanse:
          type: string
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          oneOf:
          - $ref: "#/components/schemas/Fabrikkmerke"
          - type: "null"
        modell:
          type:
          - string
          - "null"
        funksjonsmaate:
          type:
          - string
          - "null"
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type:
          - string
          - "null"
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type:
          - string
          - "null"
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        pipelengde:
          type:
          - integer
          - "null"
          format: int32
        kaliber:
          type:
          - array
          - "null"
          items:
            $ref: "#/components/schemas/Kaliber"
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    ExistingPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalPerson"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: "12345678901"
          navn:
            type:
            - string
            - "null"
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type:
            - string
            - "null"
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en person
      required:
      - eiertype
    ExistingVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalVirksomhet"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: "123456789"
          navn:
            type:
            - string
            - "null"
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      required:
      - eiertype
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          UTEN_BEHOVSPROVING: "#/components/schemas/UtenBehovsprovingGrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ETTERREGISTRERT: "#/components/schemas/Etterregistrertgrunnlag"
          DEAKTIVERT: "#/components/schemas/Deaktivertgrunnlag"
          AMNESTI: "#/components/schemas/Amnestigrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          VAAPENDEL: "#/components/schemas/Vaapendelgrunnlag"
          UTRYDDELSE_AV_SKADEDYR: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          SLAKTING: "#/components/schemas/Slaktegrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - VAAPENDEL
          - REPLIKA_LUFT_FJAER
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
    IKKE_ERVERVSMESSIG_INNFORSEL_SKYTEVAAPEN:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerOpprettelse"
      - type: object
        properties:
          vaapen:
            $ref: "#/components/schemas/Skytevaapen"
          ikkeervervsmessigInnforselsloyveId:
            type:
            - string
            - "null"
      description: Gjennomføring av privatimport av Skytevåpen
    IKKE_ERVERVSMESSIG_INNFORSEL_VAAPENDEL:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerOpprettelse"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
          ikkeervervsmessigInnforselsloyveId:
            type:
            - string
            - "null"
      description: Gjennomføring av privatimport av Våpendel
    Innehavsloyve:
      type: object
      description: Løyve for innehavelse av våpen eller våpendel
      properties:
        loyveId:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        grunnlag:
          oneOf:
          - $ref: "#/components/schemas/Aldersgrunnlag"
          - $ref: "#/components/schemas/Amnestigrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/Avlivingsgrunnlag"
          - $ref: "#/components/schemas/Deaktivertgrunnlag"
          - $ref: "#/components/schemas/Etterregistrertgrunnlag"
          - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          - $ref: "#/components/schemas/Jaktgrunnlag"
          - $ref: "#/components/schemas/Minneverdegrunnlag"
          - $ref: "#/components/schemas/Museumsgrunnlag"
          - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/Samlergrunnlag"
          - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
          - $ref: "#/components/schemas/Slaktegrunnlag"
          - $ref: "#/components/schemas/Sportsgrunnlag"
          - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
          - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
          - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
          - $ref: "#/components/schemas/Vaapendelgrunnlag"
        paaVegneAv:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
        fritakFraAlderskrav:
          type: boolean
        oppbevaringsansvarlig:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        ervervsloyve:
          oneOf:
          - $ref: "#/components/schemas/Ervervsloyve"
          - type: "null"
        ervervUtenLoyve:
          oneOf:
          - $ref: "#/components/schemas/ErvervUtenLoyve"
          - type: "null"
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          unntattFraRegistreringIJegerregisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - UNDERDEL
            - OVERDEL
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
          UTEN_EIERSKAP: "#/components/schemas/UtenEierskap"
      properties:
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
        loyveidIfEier:
          type: string
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    NaeringAmmunisjonsalg:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringBegrensetHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringBegrensetTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringIkkeRegpliktigeVaapen:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringMekling:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringUtleie:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    Naeringsloyve:
      type: object
      description: Løyve for næringsdrivende virksomhet
      properties:
        loyveId:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingVirksomhet"
        loyvehaver:
          type: "null"
          description: Løyvehaver for næringsløyvet - Kan kun være midlertidig null
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
        dagligAnsvarshavende:
          type: "null"
          description: Den daglige utførende ansvarshavende - Ikke obligatorisk
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
        typeNaeringsvirksomhet:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/NaeringAmmunisjonsalg"
            - $ref: "#/components/schemas/NaeringBegrensetHandel"
            - $ref: "#/components/schemas/NaeringBegrensetTilvirkning"
            - $ref: "#/components/schemas/NaeringHandel"
            - $ref: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
            - $ref: "#/components/schemas/NaeringMekling"
            - $ref: "#/components/schemas/NaeringTilvirkning"
            - $ref: "#/components/schemas/NaeringUtleie"
        avgrensninger:
          type:
          - string
          - "null"
        dispensasjon:
          type:
          - string
          - "null"
        saksreferanse:
          type: string
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    Naeringstype:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          HANDEL: "#/components/schemas/NaeringHandel"
          UTLEIE: "#/components/schemas/NaeringUtleie"
          MEKLING: "#/components/schemas/NaeringMekling"
          TILVIRKNING: "#/components/schemas/NaeringTilvirkning"
          HANDELIKKEREGPLIKTIGEVAAPEN: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
          BEGRENSETHANDEL: "#/components/schemas/NaeringBegrensetHandel"
          BEGRENSETTILVIRKNING: "#/components/schemas/NaeringBegrensetTilvirkning"
          AMMUNISJON: "#/components/schemas/NaeringAmmunisjonsalg"
      properties:
        type:
          type: string
          enum:
          - HANDEL
          - BEGRENSETHANDEL
          - UTLEIE
          - MEKLING
          - TILVIRKNING
          - BEGRENSETTILVIRKNING
          - HANDELIKKEREGPLIKTIGEVAAPEN
          - AMMUNISJON
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          pipelengde:
            type:
            - integer
            - "null"
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type:
            - string
            - "null"
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type:
            - string
            - "null"
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type:
            - string
            - "null"
    SaksbehandlerOpprettelse:
      type: object
      description: Saksbehandler opprettelse av våpen enten via import eller opprettelse
        på andre grunnlag.
      discriminator:
        propertyName: opprettelseType
        mapping:
          IKKE_ERVERVSMESSIG_INNFORSEL_SKYTEVAAPEN: "#/components/schemas/IKKE_ERVERVSMESSIG_INNFORSEL_SKYTEVAAPEN"
          IKKE_ERVERVSMESSIG_INNFORSEL_VAAPENDEL: "#/components/schemas/IKKE_ERVERVSMESSIG_INNFORSEL_VAAPENDEL"
      properties:
        arkivreferanse:
          type: string
        ervervsloyveId:
          type: string
        ikkeervervsmessigInnforselsloyveId:
          type: string
        opprettelseType:
          type: string
          enum:
          - IKKE_ERVERVSMESSIG_INNFORSEL_SKYTEVAAPEN
          - IKKE_ERVERVSMESSIG_INNFORSEL_VAAPENDEL
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            oneOf:
            - $ref: "#/components/schemas/Samleromraade"
            - type: "null"
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Skyteprogram:
      type: object
      properties:
        id:
          type:
          - integer
          - "null"
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type:
          - array
          - "null"
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
    Skytevaapen:
      type: object
      description: Skytevåpen
      properties:
        id:
          type:
          - integer
          - "null"
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type:
          - string
          - "null"
          enum:
          - AKTIV
          - SKAL_DESTRUERES
          - DESTRUERT
          - DEAKTIVERT
          - DEAKTIVERT_GAMMELT_REGELVERK
          - PERMANENT_UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
          - TAPSMELDT
          - TAPT_FRA_DODSBO
          - STJAALET
          - SLETTET
        avfyringsmekanisme:
          type:
          - string
          - "null"
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type:
          - string
          - "null"
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          $ref: "#/components/schemas/LoyveForInnehav"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - LAASKASSE
          - PIPE
          - REVOLVERTONNE
          - SLUTTSTYKKE
          - UKJENT
      required:
      - registreringsobjektType
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            oneOf:
            - $ref: "#/components/schemas/Skyteprogram"
            - type: "null"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type:
            - string
            - "null"
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    UkjentDel:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          lademekanisme:
            type:
            - string
            - "null"
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type:
            - string
            - "null"
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type:
            - string
            - "null"
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type:
            - string
            - "null"
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    UtenEierskap:
      type: object
      description: Løyve for et våpen uten eier som oppbevares hos politiet
      properties:
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    Vaapendel:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
          UKJENT: "#/components/schemas/UkjentDel"
      properties:
        id:
          type: integer
          format: int64
        innehavsloyve:
          $ref: "#/components/schemas/LoyveForInnehav"
        vaapendeltype:
          type: string
          enum:
          - LAASKASSE
          - PIPE
          - REVOLVERTONNE
          - SLUTTSTYKKE
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - SKAL_DESTRUERES
          - DESTRUERT
          - DEAKTIVERT
          - DEAKTIVERT_GAMMELT_REGELVERK
          - PERMANENT_UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
          - TAPSMELDT
          - TAPT_FRA_DODSBO
          - STJAALET
          - SLETTET
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        modell:
          type: string
        serienummer:
          type: string
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        annetFabrikkmerke:
          type: string
    Vaapendelgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    AmmunisjonsLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          merke:
            type: string
          kaliber:
            oneOf:
            - $ref: "#/components/schemas/Kaliber"
            - type: "null"
          antall:
            type: integer
            format: int32
      description: Linje for ammunisjon i import
    Ammunisjonskjoployve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type:
            - string
            - "null"
          gyldigTil:
            type: string
            format: date
      description: Løyve for tidsbegrenset engangskjøp av ammunisjon til våpen som
        ikke er registreringspliktig
    Ammunisjonssamlerloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          beskrivelse:
            type: string
      description: Løyve for ammunisjonssamlere
    AnnetLoyve:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          AMMUNISJONSKJOP_IKKEREGPLIKTIG: "#/components/schemas/Ammunisjonskjoployve"
          AMMUNISJONSSAMLER: "#/components/schemas/Ammunisjonssamlerloyve"
          GODKJENT_SAMLER: "#/components/schemas/GodkjentSamlerloyve"
          PIRATBESKYTTELSE: "#/components/schemas/Piratbeskyttelsesloyve"
          ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
          LAANELOYVE: "#/components/schemas/Laaneloyve"
          IKKE_ERVERVSMESSIG_INNFORSEL: "#/components/schemas/Privatimportloyve"
          ERVERVSMESSIG_INNFORSEL: "#/components/schemas/Naeringsimportloyve"
          MIDLERTIDIG_INNFORSEL: "#/components/schemas/MidlertidigInnforselsloyve"
          UTFORSEL: "#/components/schemas/Utforrselsloyve"
          GODKJENT_SKYTEBANE: "#/components/schemas/GodkjentSkytebaneloyve"
          GODKJENT_SKYTTERFORENING: "#/components/schemas/GodkjentSkytterforeningsloyve"
          HOYKAPASITETSMAGASIN: "#/components/schemas/Hoykapasitetsmagasinloyve"
      properties:
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        loyveId:
          type: string
        saksreferanse:
          type: string
        vedtaksdato:
          type: string
          format: date
        annetloyveLoyvetype:
          type: string
          description: Type løyve for andre formål enn erverv eller innehav av skytevåpen
          enum:
          - AMMUNISJONSKJOP_IKKEREGPLIKTIG
          - AMMUNISJONSSAMLER
          - GODKJENT_SAMLER
          - PIRATBESKYTTELSE
          - ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN
          - LAANELOYVE
          - IKKE_ERVERVSMESSIG_INNFORSEL
          - ERVERVSMESSIG_INNFORSEL
          - MIDLERTIDIG_INNFORSEL
          - UTFORSEL
          - GODKJENT_SKYTEBANE
          - GODKJENT_SKYTTERFORENING
          - HOYKAPASITETSMAGASIN
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    AnnetLoyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          annetLoyve:
            oneOf:
            - $ref: "#/components/schemas/Ammunisjonskjoployve"
            - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
            - $ref: "#/components/schemas/GodkjentSamlerloyve"
            - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
            - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
            - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
            - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
            - $ref: "#/components/schemas/Laaneloyve"
            - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
            - $ref: "#/components/schemas/Naeringsimportloyve"
            - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
            - $ref: "#/components/schemas/Privatimportloyve"
            - $ref: "#/components/schemas/Utforrselsloyve"
    AvslattSoknad:
      type: object
      description: Spesifisering for avslått søknad
      properties:
        ervervsloyve:
          $ref: "#/components/schemas/Ervervsloyve"
        imiSak:
          type:
          - boolean
          - "null"
        imiSaksnummer:
          type:
          - string
          - "null"
        avslagsgrunnlag:
          type: string
          enum:
          - VANDEL
          - EDRUELIGHET
          - SKIKKETHET
          - BEHOV
    AvslattSoknadEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          avslag:
            $ref: "#/components/schemas/AvslattSoknad"
    ErvervsloyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
    GodkjentSamlerloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          samlerorganisasjon:
            type: string
      description: Løyve som godkjent samler
    GodkjentSkytebaneloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            oneOf:
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
          beskrivelse:
            type: string
      description: Løyve for godkjent skytebane
    GodkjentSkytterforeningsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            oneOf:
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
      description: Løyve for godkjenning som skytterforening
    Hoykapasitetsmagasinloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          brukesAv:
            oneOf:
            - $ref: "#/components/schemas/BrukesAvErvervsloyveExpanded"
            - $ref: "#/components/schemas/BrukesAvErvervsloyvePeker"
            - $ref: "#/components/schemas/BrukesAvSkytevaapenExpanded"
            - $ref: "#/components/schemas/BrukesAvSkytevaapenPeker"
      description: Løyve for høykapasitetsmagasin knyttet til våpen eller ervervsløyve
    IkkeSkytevaapenErvervsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          beskrivelse:
            type: string
          grunnlagsbeskrivelse:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for erverv av våpen som ikke regnes som skytevåpen
    ImportLinje:
      type: object
      discriminator:
        propertyName: type
        mapping:
          SKYTEVAAPEN: "#/components/schemas/VaapenLinje"
          VAAPENDEL: "#/components/schemas/VaapendelLinje"
          AMMUNISJON: "#/components/schemas/AmmunisjonsLinje"
          PATRON: "#/components/schemas/PatronLinje"
          PROSJEKTIL: "#/components/schemas/ProsjektilLinje"
          TENNHETTE: "#/components/schemas/TennhetteLinje"
          KRUTT: "#/components/schemas/KruttLinje"
      properties:
        type:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          - AMMUNISJON
          - PATRON
          - PROSJEKTIL
          - TENNHETTE
          - KRUTT
    KruttLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          merke:
            type: string
          kruttType:
            type: string
            enum:
            - SVARTKRUTT
            - ROYKSVAKT
          vektIGram:
            type: integer
            format: int32
      description: Linje for krutt i import
    Kulediameter:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
    Laaneloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/Vaapendelgrunnlag"
          laanenivaaSport:
            type:
            - string
            - "null"
            enum:
            - HALVAUTOMATISK_MED_HOY_PATRONKAPASITET
            - PISTOL_REVOLVER
            - OVRIGE_RIFLER_HAGLER
          gyldigTil:
            type:
            - string
            - "null"
            format: date
      description: Løyve for lån av våpen
    Leverandor:
      type: object
      properties:
        firmanavn:
          type:
          - string
          - "null"
        adresse:
          type:
          - string
          - "null"
        postnummer:
          type:
          - string
          - "null"
        sted:
          type:
          - string
          - "null"
        land:
          type:
          - string
          - "null"
        telefon:
          type:
          - string
          - "null"
    MidlertidigInnforselsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          importBeskrivelse:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for midlertidig innførsel
    Naeringsimportloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            oneOf:
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
          naeringsloyveid:
            type: string
          leverandor:
            $ref: "#/components/schemas/Leverandor"
          importlinjer:
            type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/AmmunisjonsLinje"
              - $ref: "#/components/schemas/KruttLinje"
              - $ref: "#/components/schemas/PatronLinje"
              - $ref: "#/components/schemas/ProsjektilLinje"
              - $ref: "#/components/schemas/TennhetteLinje"
              - $ref: "#/components/schemas/VaapenLinje"
              - $ref: "#/components/schemas/VaapendelLinje"
          totalVerdi:
            $ref: "#/components/schemas/Verdi"
          gyldigTil:
            type: string
            format: date
      description: Løyve for innførsel av våpen for næringsdrivende virksomhet
    NaeringsloyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          naeringsloyve:
            $ref: "#/components/schemas/Naeringsloyve"
    PatronLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          merke:
            type: string
          kaliber:
            oneOf:
            - $ref: "#/components/schemas/Kaliber"
            - type: "null"
          antall:
            type: integer
            format: int32
      description: Linje for patroner i import
    Piratbeskyttelsesloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            oneOf:
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
      description: Løyve for godkjenning av beskyttelse av skip mot piratvirksomhet
    Privatimportloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          ervervsloyveid:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for innførsel av våpen som ikke er ervervsmessig
    ProsjektilLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          merke:
            type: string
          kulediameter:
            $ref: "#/components/schemas/Kulediameter"
          antall:
            type: integer
            format: int32
      description: Linje for prosjektiler i import
    SaksbehandlerEndringLoyve:
      type: object
      discriminator:
        propertyName: changeType
      properties:
        changeType:
          type: string
          enum:
          - NAERINGSLOYVE
          - ERVERVSLOYVE
          - AVSLAG_SOKNAD_ERVERV
          - ANNET_LOYVE
    TennhetteLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          merke:
            type: string
          antall:
            type: integer
            format: int32
      description: Linje for tennhetter i import
    Utforrselsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          utforselBeskrivelse:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for utførsel av våpen
    VaapenLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          vaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          modell:
            type: string
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          antall:
            type: integer
            format: int32
      description: Linje for skytevåpen i import
    VaapendelLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          vaapendeltype:
            type: string
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          modell:
            type: string
          funksjonsmaate:
            type:
            - string
            - "null"
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          antall:
            type: integer
            format: int32
      description: Linje for våpendeler i import
    Verdi:
      type: object
      description: Verdi i Valuta
      properties:
        sum:
          type: number
        valuta:
          type: string
    KorreksjonsId:
      type: object
      properties:
        id:
          type: string
          format: uuid
    VAAPEN:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapen:
            $ref: "#/components/schemas/Skytevaapen"
          melding:
            type:
            - string
            - "null"
      description: Endring av skytevaapen
    VAAPENDEL:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
          melding:
            type:
            - string
            - "null"
      description: Endring av vaapendel
    VAAPENKORREKSJON:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapen:
            $ref: "#/components/schemas/Skytevaapen"
          melding:
            type:
            - string
            - "null"
          korreksjonsId:
            type: string
            format: uuid
      description: Korreksjon av skytevaapen
    VAAPENDELKORREKSJON:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
          melding:
            type:
            - string
            - "null"
          korreksjonsId:
            type: string
            format: uuid
      description: Korreksjon av vaapendel
    EIEROVERFORING_VAAPEN_SAKSBEHANDLER:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapen:
            $ref: "#/components/schemas/Skytevaapen"
          loyveForErverv:
            $ref: "#/components/schemas/LoyveForErverv"
          melding:
            type:
            - string
            - "null"
      description: Eieroverføring av Skytevaapen
    LoyveForErverv:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/Ervervsloyve"
          ERVERV_UTEN_LOYVE: "#/components/schemas/ErvervUtenLoyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        loyveId:
          type: string
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
          loyveForErverv:
            $ref: "#/components/schemas/LoyveForErverv"
          melding:
            type:
            - string
            - "null"
      description: Eieroverføring av Vaapendel
    SaksbehandlerEndring:
      type: object
      description: Endring utført av saksbehandler
      discriminator:
        propertyName: changeType
      oneOf:
      - $ref: "#/components/schemas/VAAPEN"
      - $ref: "#/components/schemas/VAAPENDEL"
      - $ref: "#/components/schemas/VAAPENKORREKSJON"
      - $ref: "#/components/schemas/VAAPENDELKORREKSJON"
      - $ref: "#/components/schemas/EIEROVERFORING_VAAPEN_SAKSBEHANDLER"
      - $ref: "#/components/schemas/EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER"
      properties:
        arkivreferanse:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
        melding:
          type:
          - string
          - "null"
    ChangeFailed:
      allOf:
      - $ref: "#/components/schemas/ChangeResponse"
      - type: object
        properties:
          reason:
            type: string
    ChangeResponse: {}
    ChangeSuccess:
      allOf:
      - $ref: "#/components/schemas/ChangeResponse"
      - type: object
        properties:
          changeType:
            type: string
            enum:
            - VAAPEN
            - VAAPENDEL
            - VAAPENKORREKSJON
            - VAAPENDELKORREKSJON
            - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
            - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
    AapnePall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: "\n        Åpner en tidligere forseglet pall. Setter `pall.forseglet\
        \ = false`.\n        Forutsetning: pallen må finnes.\n    "
      example:
        type: PALL_AAPNET
        pallId: b7e2d4c1-8a35-4f7a-9d1c-3f8b6e4a2d15
    AnnetVaapen:
      type: object
      properties:
        id:
          type: string
        serienummer:
          type:
          - string
          - "null"
        beskrivelse:
          type:
          - string
          - "null"
        type:
          type:
          - string
          - "null"
    EndeligDestruksjon:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: "\n        Endelig destruksjon utført (av Kripos).\n\n        Effekt:\n\
        \        - `pall.status = ENDELIG_DESTRUERT`.\n        - Alle pakker på pallen\
        \ får `pakkestatus = ENDELIG_DESTRUERT`.\n        - Alle tilhørende skytevå\
        pen og våpendeler settes til destruert.\n\n        Forutsetning: pallen må\
        \ finnes.\n    "
      example:
        type: PALL_ENDELIG_DESTRUERT
        pallId: b7e2d4c1-8a35-4f7a-9d1c-3f8b6e4a2d15
    EndrePakkeDistrikt:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakke:
            $ref: "#/components/schemas/Pakke"
      description: "\n        Endring på pakke utført av et politidistrikt.\n\n  \
        \      Effekt: oppdaterer pakken og status på tilhørende skytevåpen/våpendel.\n\
        \        Forutsetning: `pakkestatus` MÅ være `REGISTRERT`, `UNDER_TRANSPORT`\
        \ eller `MELLOMLAGRET`.\n    "
      example:
        type: PAKKE_ENDRING_DISTRIKT
        pakke:
          id: a3f8b12e-9c47-4d8b-b6f2-1e5a7c9d3e02
          pakkenummer: PKG-2026-00042
          sikkerhetskontrollert: true
          kontrollertAv: OSLO-1234
          lokasjon: Oslo politidistrikt
          pakkestatus: MELLOMLAGRET
          lagerplassering: "Hylle 3B, rom 12"
          tilUtlaan: false
          merknad: Flyttet til mellomlager
          innkomstmaate: TILBAKEKALT
          besluttetHandtering: DESTRUKSJON
          besluttetAv: OSLO-5678
          skyteVaapen: 1
          saksreferanse: OSLO-2026-01234
    EndrePakkeKripos:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakke:
            $ref: "#/components/schemas/Pakke"
      description: "\n        Endring på pakke utført av Kripos.\n\n        Effekt:\
        \ oppdaterer pakken og status på tilhørende skytevåpen/våpendel.\n       \
        \ Forutsetning: `pakkestatus` MÅ være en av `MOTTATT_KRIPOS`, `FERDIGBEHANDLET_KRIPOS`,\n\
        \        `REFERANSESAMLING`, `SENDT_FORSVARET` eller `ENDELIG_DESTRUERT`.\n\
        \    "
      example:
        type: PAKKE_ENDRING_KRIPOS
        pakke:
          id: a3f8b12e-9c47-4d8b-b6f2-1e5a7c9d3e02
          pakkenummer: PKG-2026-00042
          sikkerhetskontrollert: true
          kontrollertAv: KRIPOS-9012
          lokasjon: Oslo politidistrikt
          pakkestatus: MOTTATT_KRIPOS
          lagerplassering: Kripos hylle 12A
          tilUtlaan: false
          merknad: Overtatt av Kripos
          innkomstmaate: TATT_I_BESLAG
          besluttetHandtering: DESTRUKSJON
          besluttetAv: KRIPOS-9012
          skyteVaapen: 1
          saksreferanse: OSLO-2026-01234
    ForseglePall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: "\n        Forsegler en pall (klargjør for sending). Setter `pall.forseglet\
        \ = true`.\n        Forutsetning: pallen må finnes.\n    "
      example:
        type: PALL_FORSEGLET
        pallId: b7e2d4c1-8a35-4f7a-9d1c-3f8b6e4a2d15
    HendelsePoltietsBesittelse:
      type: object
      description: "\n            Hendelse som beskriver en endring i politiets besittelse\
        \ av våpen, våpendeler eller\n            'annet våpen'. Feltet `type` er\
        \ diskriminator og bestemmer hvilken subtype dette er.\n            Se undertypene\
        \ for detaljer, og valideringsreglene i KriposEventController\n          \
        \  for fullstendig beskrivelse av hver subtype.\n        "
      discriminator:
        propertyName: type
        mapping:
          PAKKE_OPPRETTET: "#/components/schemas/RegistrerPakke"
          PAKKE_ENDRING_DISTRIKT: "#/components/schemas/EndrePakkeDistrikt"
          PAKKE_TILBAKELEVERT: "#/components/schemas/TilbakeleverPakke"
          PAKKE_ENDRING_KRIPOS: "#/components/schemas/EndrePakkeKripos"
          PAKKE_UTLAANSENDRING: "#/components/schemas/PakkeEndringUtlaan"
          PAKKE_ENDRING_REFERANSESAMLING: "#/components/schemas/PakkeEndringReferansesamling"
          PAKKE_FJERN_FRA_REFERANSESAMLING: "#/components/schemas/PakkeFjernReferansesamling"
          PALL_OPPRETTET: "#/components/schemas/PallUnderKonstruksjon"
          PAKKE_TIL_PALL: "#/components/schemas/PakkerTilPall"
          PAKKE_FRA_PALL: "#/components/schemas/PakkeFraPall"
          PALL_FORSEGLET: "#/components/schemas/ForseglePall"
          PALL_SENDT: "#/components/schemas/SendPall"
          PALL_MOTTATT_KRIPOS: "#/components/schemas/MottaPall"
          PALL_AAPNET: "#/components/schemas/AapnePall"
          PALL_SENDT_FORSVARET: "#/components/schemas/SendForsvaret"
          PALL_ENDELIG_DESTRUERT: "#/components/schemas/EndeligDestruksjon"
          PAKKE_KRIPOS_ETTERREGISTRERING_ENDELIG_DESTRUERT: "#/components/schemas/PakkeEtterregistreringDestruert"
      properties:
        type:
          type: string
          description: "\n        Diskriminator for hendelsestype. Bestemmer hvilken\
            \ subtype av HendelsePoltietsBesittelse som mottas.\n        Se HendelsePoltietsBesittelse\
            \ for oversikt over subtypene.\n    "
          enum:
          - PAKKE_OPPRETTET
          - PAKKE_ENDRING_DISTRIKT
          - PAKKE_TILBAKELEVERT
          - PAKKE_ENDRING_KRIPOS
          - PAKKE_TIL_PALL
          - PAKKE_FRA_PALL
          - PAKKE_UTLAANSENDRING
          - PAKKE_ENDRING_REFERANSESAMLING
          - PAKKE_SENDT
          - PAKKE_MOTTATT
          - PAKKE_KONTROLLERT_KRIPOS
          - PAKKE_KRIPOS_ETTERREGISTRERING_ENDELIG_DESTRUERT
          - PALL_OPPRETTET
          - PALL_FORSEGLET
          - PALL_SENDT
          - PALL_MOTTATT_KRIPOS
          - PALL_SENDT_FORSVARET
          - PALL_AAPNET
          - PALL_ENDELIG_DESTRUERT
          - PAKKE_FJERN_FRA_REFERANSESAMLING
    MottaPall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
          mottaker:
            type: string
          status:
[...]
