openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
paths:
  /blink-hendelse/vaapenrom:
    put:
      tags:
      - vaapenromendring-controller
      summary: Trekk tilbake godkjenning av våpenrom. Status settes til GODKJENNING_TILBAKETRUKKET.
        Saksreferanse og matrikkelnummer kan endres samtidig.
      operationId: endreVaapenrom
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Vaapenrom"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
    post:
      tags:
      - vaapenromendring-controller
      summary: Opprett våpenrom.
      operationId: lagreNyttVaapenrom
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Vaapenrom"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
    delete:
      tags:
      - vaapenromendring-controller
      summary: Slett våpenrom. Status settes til SLETTET.
      operationId: sletteVaapenrom
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/samleromraade:
    post:
      tags:
      - samleromraade-controller
      operationId: lagreNyttSamleromraade
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SamleromraadeEvent"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/loyve/endring:
    post:
      tags:
      - loyveendring-controller
      summary: "Lagre nytt eller endring på ervervsløyve, næringsløyve eller avslag\
        \ på ervervsløyve"
      operationId: lagreEndring
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AnnetLoyveEndring"
              - $ref: "#/components/schemas/AvslattSoknadEndring"
              - $ref: "#/components/schemas/ErvervsloyveEndring"
              - $ref: "#/components/schemas/NaeringsloyveEndring"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/korrigeringer/mottatt:
    post:
      tags:
      - korreksjon-event-controller
      summary: Lagre at en korreksjon har blitt plukket opp av Blink
      operationId: updatePickedUpByBlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KorreksjonsId"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/korrigeringer/endring:
    post:
      tags:
      - korreksjon-event-controller
      summary: "Lagre endring eller korreksjon av våpen eller våpendel, eller eieroverfø\
        ring av våpen eller våpendel"
      operationId: lagreEndring_1
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/VAAPEN"
              - $ref: "#/components/schemas/VAAPENDEL"
              - $ref: "#/components/schemas/VAAPENKORREKSJON"
              - $ref: "#/components/schemas/VAAPENDELKORREKSJON"
              - $ref: "#/components/schemas/EIEROVERFORING_VAAPEN_SAKSBEHANDLER"
              - $ref: "#/components/schemas/EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/ChangeFailed"
                - $ref: "#/components/schemas/ChangeSuccess"
  /blink-hendelse/korrigeringer/avbrutt:
    post:
      tags:
      - korreksjon-event-controller
      summary: Lagre at en korreksjon har blitt bekreftet avbrutt av Blink
      operationId: updateAcknowledgeCancelledByBlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KorreksjonsId"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /blink-hendelse/besittelse/politi/endring:
    post:
      tags:
      - kripos-event-controller
      summary: Kripos hendelser
      operationId: lagreEndring_2
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AapnePall"
              - $ref: "#/components/schemas/EndeligDestruksjon"
              - $ref: "#/components/schemas/EndrePakkeDistrikt"
              - $ref: "#/components/schemas/EndrePakkeKripos"
              - $ref: "#/components/schemas/ForseglePall"
              - $ref: "#/components/schemas/MottaPall"
              - $ref: "#/components/schemas/PakkeEndringReferansesamling"
              - $ref: "#/components/schemas/PakkeEndringUtlaan"
              - $ref: "#/components/schemas/PakkeFraPall"
              - $ref: "#/components/schemas/PakkerTilPall"
              - $ref: "#/components/schemas/PallUnderKonstruksjon"
              - $ref: "#/components/schemas/RegistrerPakke"
              - $ref: "#/components/schemas/SendForsvaret"
              - $ref: "#/components/schemas/SendPall"
              - $ref: "#/components/schemas/TilbakeleverPakke"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KriposValidationResult"
components:
  schemas:
    DigitalEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          navn:
            type: string
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
      required:
      - eiertype
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
          UKJENT_INNEHAVER: "#/components/schemas/UkjentInnehaver"
          POLITI: "#/components/schemas/PolitiInnehaver"
      properties:
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        id:
          type: integer
          format: int64
      required:
      - eiertype
    EierPerson:
      type: object
      description: Representerer en person
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator for eieren
          example: 5678
        personidentifikator:
          type: string
          description: Fødselsnummer eller D-nummer
          example: 12345678901
        navn:
          type: string
          description: Navn på fysisk person - kun visning ved behov
          example: Kari Ole Normann
        foedselsdato:
          type: string
          format: date
          description: Fødselsdato - kun visning ved behov
          example: 1991-01-01
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
          example: PERSON
      required:
      - eiertype
      - personidentifikator
    EierVirksomhet:
      type: object
      description: Representerer en virksomhet
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator for eieren
          example: 1234
        organisasjonsnummer:
          type: string
          description: Organisasjonsnummer
          example: 123456789
        navn:
          type: string
          description: Navn på virksomhet - kun visning ved behov
          example: PANGPANG AS
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
          example: VIRKSOMHET
      required:
      - eiertype
      - organisasjonsnummer
    ManuellEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      required:
      - eiertype
    PolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: false
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - importertKategori
    UkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: 311280
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type: string
            description: Navn på utenlandsk person
            example: Kari Ole Normann
          adresse:
            type: string
            description: Adressen til utenlandsk person
            example: Kari Ole Normann
          stilling:
            type: string
            description: Stilling til utenlandsk person
            example: Diplomat
          telefon:
            type: string
            description: Telefon til utenlandsk person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - personidentifikator
    Vaapenrom:
      type: object
      properties:
        id:
          type: string
          description: Unik intern identifikator for våpenrommet. I form av UUID.
        innehaver:
          description: Eier av våpenrommet
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        status:
          type: string
          description: Status på våpenrom
          enum:
          - GODKJENT
          - GODKJENNING_TILBAKETRUKKET
          - SLETTET
          example: GODKJENT
        saksreferanse:
          type: string
          description: Alle våpenrom som innvilges må ha en saksreferanse i websak
        matrikkelnummer:
          type: string
          description: identifikator for fast eiendom i Norge hvor våpenrommet er
        createdDate:
          type: string
          format: date-time
          description: "Tidspunktet når våpenrommet ble opprettet i databasen, blir\
            \ satt på lagringstidspunktet, skal være tom ved innsending"
        deletedDate:
          type: string
          format: date-time
          description: "Tidspunktet når våpenrommet ble soft-slettet i databasen,\
            \ skal være tom ved innsending"
      required:
      - id
      - innehaver
      - saksreferanse
      - status
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type: integer
          format: int32
      required:
      - beskrivelse
      - id
      - innehaver
      - navn
    SamleromraadeEvent:
      type: object
      properties:
        samleromraade:
          $ref: "#/components/schemas/Samleromraade"
        eventType:
          type: string
          enum:
          - NEW
          - UPDATE
          - DELETE
      required:
      - eventType
      - samleromraade
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AmmunisjonsLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          modell:
            type: string
          kaliber:
            $ref: "#/components/schemas/Kaliber"
          antall:
            type: integer
            format: int32
      description: Linje for ammunisjon i import
      required:
      - antall
      - kaliber
      - type
    Ammunisjonsalg:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    Ammunisjonskjoployve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for tidsbegrenset engangskjøp av ammunisjon til våpen som
        ikke er registreringspliktig
      required:
      - annetloyveLoyvetype
      - gyldigTil
      - innehaver
      - isActiveAndNotExpired
      - kaliber
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Ammunisjonssamlerloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          beskrivelse:
            type: string
      description: Løyve for ammunisjonssamlere
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AnnetLoyve:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          AMMUNISJONSKJOP_IKKEREGPLIKTIG: "#/components/schemas/Ammunisjonskjoployve"
          AMMUNISJONSSAMLER: "#/components/schemas/Ammunisjonssamlerloyve"
          GODKJENT_SAMLER: "#/components/schemas/GodkjentSamlerloyve"
          PIRATBESKYTTELSE: "#/components/schemas/Piratbeskyttelsesloyve"
          ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
          LAANELOYVE: "#/components/schemas/Laaneloyve"
          IKKE_ERVERVSMESSIG_INNFORSEL: "#/components/schemas/Privatimportloyve"
          ERVERVSMESSIG_INNFORSEL: "#/components/schemas/Naeringsimportloyve"
          MIDLERTIDIG_INNFORSEL: "#/components/schemas/MidlertidigInnforselsloyve"
          UTFORSEL: "#/components/schemas/Utforrselsloyve"
          GODKJENT_SKYTEBANE: "#/components/schemas/GodkjentSkytebaneloyve"
          GODKJENT_SKYTTERFORENING: "#/components/schemas/GodkjentSkytterforeningsloyve"
          HOYKAPASITETSMAGASIN: "#/components/schemas/Hoykapasitetsmagasinloyve"
      properties:
        annetloyveLoyvetype:
          type: string
          description: Type løyve for andre formål enn erverv eller innehav av skytevåpen
          enum:
          - AMMUNISJONSKJOP_IKKEREGPLIKTIG
          - AMMUNISJONSSAMLER
          - GODKJENT_SAMLER
          - PIRATBESKYTTELSE
          - ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN
          - LAANELOYVE
          - IKKE_ERVERVSMESSIG_INNFORSEL
          - ERVERVSMESSIG_INNFORSEL
          - MIDLERTIDIG_INNFORSEL
          - UTFORSEL
          - GODKJENT_SKYTEBANE
          - GODKJENT_SKYTTERFORENING
          - NYTT_SKYTEPROGRAM
          - HOYKAPASITETSMAGASIN
        isActiveAndNotExpired:
          type: boolean
        saksreferanse:
          type: string
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    AnnetLoyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          annetLoyve:
            oneOf:
            - $ref: "#/components/schemas/Ammunisjonskjoployve"
            - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
            - $ref: "#/components/schemas/GodkjentSamlerloyve"
            - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
            - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
            - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
            - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
            - $ref: "#/components/schemas/Laaneloyve"
            - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
            - $ref: "#/components/schemas/Naeringsimportloyve"
            - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
            - $ref: "#/components/schemas/Privatimportloyve"
            - $ref: "#/components/schemas/Utforrselsloyve"
      required:
      - annetLoyve
      - changeType
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AvslattSoknad:
      type: object
      description: Spesifisering for avslått søknad
      properties:
        ervervsloyve:
          $ref: "#/components/schemas/Ervervsloyve"
        imiSak:
          type: boolean
        imiSaksnummer:
          type: string
        avslagsgrunnlag:
          type: string
          enum:
          - VANDEL
          - EDRUELIGHET
          - SKIKKETHET
          - BEHOV
      required:
      - avslagsgrunnlag
      - ervervsloyve
    AvslattSoknadEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          avslag:
            $ref: "#/components/schemas/AvslattSoknad"
      required:
      - avslag
      - changeType
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ervervsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForErverv"
      - type: object
        properties:
          gyldigTil:
            type: string
            format: date
          typeErverv:
            type: string
            enum:
            - SKYTEVAAPEN
            - VAAPENDEL
            - AMMUNISJON
            - HOYKAPASITETSMAGASIN
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          vaapendeltype:
            type: string
            enum:
            - PIPE
            - LAASKASSE
            - REVOLVERTONNE
            - SLUTTSTYKKE
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          spesifisering:
            $ref: "#/components/schemas/ErvervsloyveSpesifikt"
          paaVegneAv:
            $ref: "#/components/schemas/EierPerson"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          brukesAv:
            type: integer
            format: int64
          saksreferanse:
            type: string
      description: Løyve for erverv av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeErverv
      - vedtaksdato
    ErvervsloyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      required:
      - changeType
      - ervervsloyve
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        funksjonsmaate:
          type: string
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    GodkjentSamlerloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          samlerorganisasjon:
            type: string
      description: Løyve som godkjent samler
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - samlerorganisasjon
      - status
      - vedtaksdato
    GodkjentSkytebaneloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          beskrivelse:
            type: string
      description: Løyve for godkjent skytebane
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    GodkjentSkytterforeningsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
      description: Løyve for godkjenning som skytterforening
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          UTEN_BEHOVSPROVING: "#/components/schemas/UtenBehovsprovingGrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ETTERREGISTRERT: "#/components/schemas/Etterregistrertgrunnlag"
          DEAKTIVERT: "#/components/schemas/Deaktivertgrunnlag"
          AMNESTI: "#/components/schemas/Amnestigrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          UTRYDDELSE_AV_SKADEDYR: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          SLAKTING: "#/components/schemas/Slaktegrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - REPLIKA_LUFT_FJAER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - grunnlagsType
    GrunnlagWithBeskrivelse:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type: string
      required:
      - grunnlagsType
    Hoykapasitetsmagasinloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          godkjentForVaapen:
            type: integer
            format: int64
          godkjentForErvervsloyve:
            type: string
      description: Løyve for høykapasitetsmagasin knyttet til våpen eller ervervsløyve
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    IkkeSkytevaapenErvervsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          beskrivelse:
            type: string
          grunnlagsbeskrivelse:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for erverv av våpen som ikke regnes som skytevåpen
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - grunnlagsbeskrivelse
      - gyldigTil
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    ImportLinje:
      type: object
      discriminator:
        propertyName: type
        mapping:
          SKYTEVAAPEN: "#/components/schemas/VaapenLinje"
          VAAPENDEL: "#/components/schemas/VaapendelLinje"
          AMMUNISJON: "#/components/schemas/AmmunisjonsLinje"
      properties:
        type:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          - AMMUNISJON
      required:
      - type
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          registrertIJegerRegisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
      required:
      - grunnlagsType
      - registrertIJegerRegisteret
      - tilleggsvaapen
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Laaneloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          laanenivaaSport:
            type: string
            enum:
            - HALVAUTOMATISK_MED_HOY_PATRONKAPASITET
            - PISTOL_REVOLVER
            - OVRIGE_RIFLER_HAGLER
          gyldigTil:
            type: string
            format: date
          isPermanent:
            type: boolean
      description: Løyve for lån av våpen
      required:
      - annetloyveLoyvetype
      - grunnlag
      - innehaver
      - isActiveAndNotExpired
      - isPermanent
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Leverandor:
      type: object
      properties:
        firmanavn:
          type: string
        adresse:
          type: string
        postnummer:
          type: string
        sted:
          type: string
        land:
          type: string
        telefon:
          type: string
    MidlertidigInnforselsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          importBeskrivelse:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for midlertidig innførsel
      required:
      - annetloyveLoyvetype
      - gyldigTil
      - importBeskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    NaeringAmmunisjon:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringIkkeRegpliktigeVaapen:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringMekling:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringUtleie:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    Naeringsimportloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          naeringsloyveid:
            type: string
          leverandor:
            $ref: "#/components/schemas/Leverandor"
          importlinjer:
            type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/AmmunisjonsLinje"
              - $ref: "#/components/schemas/VaapenLinje"
              - $ref: "#/components/schemas/VaapendelLinje"
          totalVerdi:
            $ref: "#/components/schemas/Verdi"
      description: Løyve for innførsel av våpen for næringsdrivende virksomhet
      required:
      - annetloyveLoyvetype
      - importlinjer
      - innehaver
      - isActiveAndNotExpired
      - leverandor
      - loyveId
      - loyvetype
      - naeringsloyveid
      - saksreferanse
      - status
      - totalVerdi
      - vedtaksdato
    Naeringsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          loyvehaver:
            $ref: "#/components/schemas/EierPerson"
            description: Løyvehaver for næringsløyvet - Kan kun være midlertidig null
          dagligAnsvarshavende:
            $ref: "#/components/schemas/EierPerson"
            description: Den daglige utførende ansvarshavende - Ikke obligatorisk
          typeNaeringsvirksomhet:
            type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/Ammunisjonsalg"
              - $ref: "#/components/schemas/NaeringAmmunisjon"
              - $ref: "#/components/schemas/NaeringBegrensetHandel"
              - $ref: "#/components/schemas/NaeringBegrensetTilvirkning"
              - $ref: "#/components/schemas/NaeringHandel"
              - $ref: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
              - $ref: "#/components/schemas/NaeringMekling"
              - $ref: "#/components/schemas/NaeringTilvirkning"
              - $ref: "#/components/schemas/NaeringUtleie"
          avgrensninger:
            type: string
          dispensasjon:
            type: string
          saksreferanse:
            type: string
      - $ref: "#/components/schemas/LoyveForErverv"
      description: Løyve for næringsdrivende virksomhet
      required:
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeNaeringsvirksomhet
      - vedtaksdato
    NaeringsloyveEndring:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndringLoyve"
      - type: object
        properties:
          naeringsloyve:
            $ref: "#/components/schemas/Naeringsloyve"
      required:
      - changeType
      - naeringsloyve
    Naeringstype:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          HANDEL: "#/components/schemas/NaeringHandel"
          UTLEIE: "#/components/schemas/NaeringUtleie"
          MEKLING: "#/components/schemas/NaeringMekling"
          TILVIRKNING: "#/components/schemas/NaeringTilvirkning"
          HANDELIKKEREGPLIKTIGEVAAPEN: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
          BEGRENSETHANDEL: "#/components/schemas/NaeringBegrensetHandel"
          BEGRENSETTILVIRKNING: "#/components/schemas/NaeringBegrensetTilvirkning"
          AMMUNISJON: "#/components/schemas/Ammunisjonsalg"
      properties:
        type:
          type: string
          enum:
          - HANDEL
          - BEGRENSETHANDEL
          - UTLEIE
          - MEKLING
          - TILVIRKNING
          - BEGRENSETTILVIRKNING
          - HANDELIKKEREGPLIKTIGEVAAPEN
          - AMMUNISJON
      required:
      - type
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Piratbeskyttelsesloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
      description: Løyve for godkjenning av beskyttelse av skip mot piratvirksomhet
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Privatimportloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          erversloyveid:
            type: string
      description: Løyve for innførsel av våpen som ikke er ervervsmessig
      required:
      - annetloyveLoyvetype
      - erversloyveid
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    SaksbehandlerEndringLoyve:
      type: object
      discriminator:
        propertyName: changeType
      properties:
        changeType:
          type: string
          enum:
          - NAERINGSLOYVE
          - ERVERVSLOYVE
          - AVSLAG_SOKNAD_ERVERV
          - ANNET_LOYVE
      required:
      - changeType
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            $ref: "#/components/schemas/Samleromraade"
      required:
      - grunnlagsType
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Skyteprogram:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type: array
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
      required:
      - arrangertAv
      - navn
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            $ref: "#/components/schemas/Skyteprogram"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type: string
      required:
      - grunnlagsType
      - reservevaapen
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Utforrselsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          utforselBeskrivelse:
            type: string
      description: Løyve for utførsel av våpen
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - utforselBeskrivelse
      - vedtaksdato
    VaapenLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          vaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          modell:
            type: string
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          antall:
            type: integer
            format: int32
      description: Linje for skytevåpen i import
      required:
      - antall
      - fabrikkmerke
      - funksjonsmaate
      - kaliber
      - modell
      - type
      - vaapentype
    VaapendelLinje:
      allOf:
      - $ref: "#/components/schemas/ImportLinje"
      - type: object
        properties:
          vaapendeltype:
            type: string
            enum:
            - PIPE
            - LAASKASSE
            - REVOLVERTONNE
            - SLUTTSTYKKE
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          modell:
            type: string
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          antall:
            type: integer
            format: int32
      description: Linje for våpendeler i import
      required:
      - antall
      - fabrikkmerke
      - kaliber
      - modell
      - type
      - vaapendeltype
    Verdi:
      type: object
      description: Verdi i Valuta
      properties:
        sum:
          type: number
          description: Beløp i gitt valuta
          example: 199.99
        valuta:
          type: object
          default: NOK
          description: Valutakode i ISO 4217 format
          example: NOK
          properties:
            currencyCode:
              type: string
            displayName:
              type: string
            symbol:
              type: string
            defaultFractionDigits:
              type: integer
              format: int32
            numericCode:
              type: integer
              format: int32
            numericCodeAsString:
              type: string
      required:
      - sum
    KorreksjonsId:
      type: object
      properties:
        id:
          type: string
          format: uuid
      required:
      - id
    Innehavsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      description: Løyve for innehavelse av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - OVERDEL
            - UNDERDEL
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - lademekanisme
      - registreringsobjektType
      - skytevaapentype
    Skytevaapen:
      type: object
      description: Skytevåpen-modellen
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
      required:
      - definerendeType
      - funksjonsmaate
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    VAAPEN:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapen:
            $ref: "#/components/schemas/Skytevaapen"
      description: Endring av skytevaapen
      required:
      - arkivreferanse
      - changeType
      - vaapen
    Vaapendel:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        serienummer:
          type: string
        annetFabrikkmerke:
          type: string
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    VAAPENDEL:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
      description: Endring av vaapendel
      required:
      - arkivreferanse
      - changeType
      - vaapendel
    VAAPENKORREKSJON:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          korreksjonsId:
            type: string
            format: uuid
          vaapen:
            $ref: "#/components/schemas/Skytevaapen"
      description: Korreksjon av skytevaapen
      required:
      - arkivreferanse
      - changeType
      - korreksjonsId
      - vaapen
    VAAPENDELKORREKSJON:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          korreksjonsId:
            type: string
            format: uuid
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
      description: Korreksjon av vaapendel
      required:
      - arkivreferanse
      - changeType
      - korreksjonsId
      - vaapendel
    EIEROVERFORING_VAAPEN_SAKSBEHANDLER:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapen:
            $ref: "#/components/schemas/Skytevaapen"
          loyveForErverv:
            oneOf:
            - $ref: "#/components/schemas/Ervervsloyve"
            - $ref: "#/components/schemas/Naeringsloyve"
      description: Eieroverføring av Skytevaapen
      required:
      - arkivreferanse
      - changeType
      - loyveForErverv
      - vaapen
    LoyveForErverv:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/Ervervsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER:
      allOf:
      - $ref: "#/components/schemas/SaksbehandlerEndring"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
          loyveForErverv:
            oneOf:
            - $ref: "#/components/schemas/Ervervsloyve"
            - $ref: "#/components/schemas/Naeringsloyve"
      description: Eieroverføring av Vaapendel
      required:
      - arkivreferanse
      - changeType
      - loyveForErverv
      - vaapendel
    SaksbehandlerEndring:
      type: object
      description: Endring utført av saksbehandler
      discriminator:
        propertyName: changeType
      oneOf:
      - $ref: "#/components/schemas/VAAPEN"
      - $ref: "#/components/schemas/VAAPENDEL"
      - $ref: "#/components/schemas/VAAPENKORREKSJON"
      - $ref: "#/components/schemas/VAAPENDELKORREKSJON"
      - $ref: "#/components/schemas/EIEROVERFORING_VAAPEN_SAKSBEHANDLER"
      - $ref: "#/components/schemas/EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER"
      properties:
        arkivreferanse:
          type: string
        changeType:
          type: string
          enum:
          - VAAPEN
          - VAAPENDEL
          - VAAPENKORREKSJON
          - VAAPENDELKORREKSJON
          - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
          - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
        melding:
          type: string
      required:
      - arkivreferanse
      - changeType
    ChangeFailed:
      allOf:
      - $ref: "#/components/schemas/ChangeResponse"
      - type: object
        properties:
          reason:
            type: string
      required:
      - reason
    ChangeResponse: {}
    ChangeSuccess:
      allOf:
      - $ref: "#/components/schemas/ChangeResponse"
      - type: object
        properties:
          changeType:
            type: string
            enum:
            - VAAPEN
            - VAAPENDEL
            - VAAPENKORREKSJON
            - VAAPENDELKORREKSJON
            - EIEROVERFORING_VAAPEN_SAKSBEHANDLER
            - EIEROVERFORING_VAAPENDEL_SAKSBEHANDLER
      required:
      - changeType
    AapnePall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: Åpne pall
      required:
      - pallId
      - type
    AnnetVaapen:
      type: object
      properties:
        id:
          type: string
        beskrivelse:
          type: string
        type:
          type: string
      required:
      - id
    EndeligDestruksjon:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: Endelig destruksjon fra Kripos
      required:
      - pallId
      - type
    EndrePakkeDistrikt:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakke:
            $ref: "#/components/schemas/Pakke"
      description: Endring på pakke fra et politikontor
      required:
      - pakke
      - type
    EndrePakkeKripos:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakke:
            $ref: "#/components/schemas/Pakke"
      description: Endring på pakke fra et kripos
      required:
      - pakke
      - type
    ForseglePall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: Forsegle pall
      required:
      - pallId
      - type
    HendelsePoltietsBesittelse:
      type: object
      discriminator:
        propertyName: type
        mapping:
          PAKKE_OPPRETTET: "#/components/schemas/RegistrerPakke"
          PAKKE_ENDRING_DISTRIKT: "#/components/schemas/EndrePakkeDistrikt"
          PAKKE_TILBAKELEVERT: "#/components/schemas/TilbakeleverPakke"
          PAKKE_ENDRING_KRIPOS: "#/components/schemas/EndrePakkeKripos"
          PAKKE_UTLAANSENDRING: "#/components/schemas/PakkeEndringUtlaan"
          PAKKE_ENDRING_REFERANSESAMLING: "#/components/schemas/PakkeEndringReferansesamling"
          PALL_OPPRETTET: "#/components/schemas/PallUnderKonstruksjon"
          PAKKE_TIL_PALL: "#/components/schemas/PakkerTilPall"
          PAKKE_FRA_PALL: "#/components/schemas/PakkeFraPall"
          PALL_FORSEGLET: "#/components/schemas/ForseglePall"
          PALL_SENDT: "#/components/schemas/SendPall"
          PALL_MOTTATT_KRIPOS: "#/components/schemas/MottaPall"
          PALL_AAPNET: "#/components/schemas/AapnePall"
          PALL_SENDT_FORSVARET: "#/components/schemas/SendForsvaret"
          PALL_ENDELIG_DESTRUERT: "#/components/schemas/EndeligDestruksjon"
      properties:
        type:
          type: string
          enum:
          - PAKKE_OPPRETTET
          - PAKKE_ENDRING_DISTRIKT
          - PAKKE_TILBAKELEVERT
          - PAKKE_ENDRING_KRIPOS
          - PAKKE_TIL_PALL
          - PAKKE_FRA_PALL
          - PAKKE_UTLAANSENDRING
          - PAKKE_ENDRING_REFERANSESAMLING
          - PAKKE_SENDT
          - PAKKE_MOTTATT
          - PAKKE_KONTROLLERT_KRIPOS
          - PAKKE_MELLOMLAGRET
          - PAKKE_SENDT_FORSVARET
          - PAKKE_ENDELIG_DESTRUERT
          - PAKKE_BESLUTTET_HAANDTERING
          - PALL_OPPRETTET
          - PALL_ENDRING_DISTRIKT
          - PALL_FORSEGLET
          - PALL_SENDT
          - PALL_MELLOMLAGRET
          - PALL_ENDRING_KRIPOS
          - PALL_MOTTATT_KRIPOS
          - PALL_SENDT_FORSVARET
          - PALL_AAPNET
          - PALL_ENDELIG_DESTRUERT
      required:
      - type
    MottaPall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
          mottaker:
            type: string
          status:
            type: string
            enum:
            - UNDER_KONSTRUKSJON
            - MELLOMLAGRET
            - MOTTATT_KRIPOS
            - SENDT_FORSVARET
            - ENDELIG_DESTRUERT
            - SENDT_FRA_POLITI
      description: Motta pall
      required:
      - mottaker
      - pallId
      - status
      - type
    Pakke:
      type: object
      properties:
        id:
          type: string
        sikkerhetskontrollert:
          type: boolean
        kontrollertAv:
          type: string
        lokasjon:
          type: string
        pakkestatus:
          type: string
          enum:
          - REGISTRERT
          - SENDT_FRA_POLITIDISTRIKT
          - MOTTATT_KRIPOS
          - REFERANSESAMLING
          - KONTROLLERT_KRIPOS
          - MELLOMLAGRET
          - SENDT_FORSVARET
          - ENDELIG_DESTRUERT
        lagerplassering:
          type: string
        iReferansesamling:
          type: boolean
          writeOnly: true
        tilUtlaan:
          type: boolean
        merknad:
          type: string
        straffesaksnummer:
          type: string
        innkomstmaate:
          type: string
          enum:
          - INNLEVERT
          - TILBAKEKALT
          - BESLAGLAGT
        besluttetHandtering:
          type: string
          enum:
          - IKKE_BESLUTTET
          - DESTRUKSJON
          - TILBAKELEVERING
        besluttetAv:
          type: string
        annetVaapen:
          $ref: "#/components/schemas/AnnetVaapen"
        skyteVaapen:
          type: integer
          format: int64
        vaapendel:
          type: integer
          format: int64
        ireferansesamling:
          type: boolean
      required:
      - besluttetHandtering
      - id
      - innkomstmaate
      - ireferansesamling
      - lokasjon
      - pakkestatus
      - tilUtlaan
    PakkeEndringReferansesamling:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakkeId:
            type: string
          referansesamlingEntry:
            $ref: "#/components/schemas/ReferansesamlingEntry"
      description: Pakke endring til referansesamling - ikke ferdig
      required:
      - pakkeId
      - referansesamlingEntry
      - type
    PakkeEndringUtlaan:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakkeId:
            type: string
          utlaan:
            $ref: "#/components/schemas/Utlaan"
      description: Pakke endring til utlån - ikke ferdig
      required:
      - pakkeId
      - type
      - utlaan
    PakkeFraPall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakkeId:
            type: string
      description: Pakke fra pall
      required:
      - pakkeId
      - type
    PakkerTilPall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
          pakkeIdEr:
            type: array
            items:
              type: string
      description: Pakker til pall
      required:
      - pakkeIdEr
      - pallId
      - type
    Pall:
      type: object
      properties:
        id:
          type: string
        lokasjon:
          type: string
        avsender:
          type: string
        mottaker:
          type: string
        forseglet:
          type: boolean
        status:
          type: string
          enum:
          - UNDER_KONSTRUKSJON
          - MELLOMLAGRET
          - MOTTATT_KRIPOS
          - SENDT_FORSVARET
          - ENDELIG_DESTRUERT
          - SENDT_FRA_POLITI
        pakker:
          type: array
          items:
            $ref: "#/components/schemas/Pakke"
      required:
      - avsender
      - forseglet
      - id
      - lokasjon
      - mottaker
      - pakker
      - status
    PallUnderKonstruksjon:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pall:
            $ref: "#/components/schemas/Pall"
      description: Konstruer pall
      required:
      - pall
      - type
    ReferansesamlingEntry:
      type: object
      properties:
        id:
          type: string
        hyllebeskrivelse:
          type: string
        samlingskode:
          type: string
        tilleggsinformasjon:
          type: array
          items:
            type: string
            enum:
            - IKKE_PROVESKYT
            - DEAKTIVERT
        pakke:
          $ref: "#/components/schemas/Pakke"
      required:
      - id
      - pakke
      - tilleggsinformasjon
    RegistrerPakke:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakke:
            $ref: "#/components/schemas/Pakke"
      description: Registrering av ny pakke fra politikontor
      required:
      - pakke
      - type
    SendForsvaret:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: Send forsvaret (krever ikke mottak)
      required:
      - pallId
      - type
    SendPall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
          avsender:
            type: string
          mottaker:
            type: string
      description: Send pall
      required:
      - avsender
      - mottaker
      - pallId
      - type
    TilbakeleverPakke:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakkeId:
            type: string
          besluttetAv:
            type: string
      description: Lever tilbake pakke til registrert eier
      required:
      - besluttetAv
      - pakkeId
      - type
    Utlaan:
      type: object
      properties:
        id:
          type: string
        tilHvem:
          type: string
        kvittertInnAv:
          type: string
        kvittertUtAv:
          type: string
        datoUtlaant:
          type: string
          format: date
        datoTil:
          type: string
          format: date
        pakke:
          $ref: "#/components/schemas/Pakke"
      required:
      - id
      - pakke
      - tilHvem
    KriposError:
      type: object
      properties:
        field:
          type: string
        errorType:
          type: string
          enum:
          - ERROR_INVALID_ID
          - ERROR_ALREADY_EXISTS
          - PAKKE_NOT_FOUND
          - PAKKE_CHANGE_NOT_ALLOWED
          - PALL_NOT_FOUND
          - PAKKE_KAN_IKKE_FJERNES_FRA_FORSEGLET_PALL
      required:
      - errorType
      - field
    KriposValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - WARNING
          - ERROR
          - CRITICAL
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/KriposError"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/KriposError"
      required:
      - errors
      - status
      - warnings
