openapi: 3.1.0
info:
  title: politiavgivelse-api
  description: Avgivelse for api'er til politiet
  version: "0.1"
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
- url: https://vaapen.ut1.brreg.no
  description: Utviklingsmiljø
paths:
  /avgivelse/vaapenskap/person:
    post:
      tags:
      - vaapenoppbevaring-controller
      summary: Search for vaapenskap using personidentifikator
      operationId: findVaapenskapByPerson
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPerson"
        required: true
      responses:
        "200":
          description: Alle vaapenskap til person
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vaapenskap"
        "400":
          description: Bad request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vaapenskap"
  /avgivelse/vaapenrom/person:
    post:
      tags:
      - vaapenoppbevaring-controller
      summary: Search for vaapenrom using personidentifikator
      operationId: findVaapenromBySearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPerson"
        required: true
      responses:
        "200":
          description: "Alle vaapenrom til person, både godkjente og ikke"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vaapenrom"
        "400":
          description: Bad request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vaapenrom"
  /avgivelse/vaapendel/search:
    post:
      tags:
      - search
      summary: Search for vaapendeler using SearchQuery
      operationId: findVaapendelBySearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaapenSearchQuery"
        required: true
      responses:
        "200":
          description: Alle vaapendeler filtrert i henhold til VaapenSearchQuery
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vaapendel"
        "400":
          description: Bad request
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Laaskasse"
                  - $ref: "#/components/schemas/Pipe"
                  - $ref: "#/components/schemas/Revolvertonne"
                  - $ref: "#/components/schemas/Sluttstykke"
  /avgivelse/vaapen/search:
    post:
      tags:
      - search
      summary: Search for vaapen using SearchQuery
      operationId: findVaapenBySearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaapenSearchQuery"
        required: true
      responses:
        "200":
          description: Alle skytevaapen filtrert i henhold til VaapenSearchQuery
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skytevaapen"
        "400":
          description: Bad request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skytevaapen"
  /avgivelse/ervervsloyve/search:
    post:
      tags:
      - search
      summary: Search for ervervsloyve using LoyveSearchQuery
      operationId: findErvervsloyveBySearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoyveSearchQuery"
        required: true
      responses:
        "200":
          description: Alle ervervsloyver filtrert i henhold til LoyveSearchQuery
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
        "400":
          description: Bad request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /andreloyver/virksomhet/:
    post:
      tags:
      - annet-loyve-controller
      summary: Search for annetLoyve using organisasjonsnummer
      operationId: findAndreLoyverVirksomhet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestVirksomhet"
        required: true
      responses:
        "200":
          description: Alle annetLoyve for virksomhet
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AnnetLoyve"
        "400":
          description: Bad request
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Ammunisjonskjoployve"
                  - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                  - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                  - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                  - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                  - $ref: "#/components/schemas/Laaneloyve"
                  - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                  - $ref: "#/components/schemas/Naeringsimportloyve"
                  - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                  - $ref: "#/components/schemas/Privatimportloyve"
                  - $ref: "#/components/schemas/Utforrselsloyve"
  /andreloyver/person/:
    post:
      tags:
      - annet-loyve-controller
      summary: Search for annetLoyve using personidentifikator
      operationId: findAndreLoyverPerson
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPerson"
        required: true
      responses:
        "200":
          description: Alle annetLoyve for person
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AnnetLoyve"
        "400":
          description: Bad request
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Ammunisjonskjoployve"
                  - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                  - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                  - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                  - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                  - $ref: "#/components/schemas/Laaneloyve"
                  - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                  - $ref: "#/components/schemas/Naeringsimportloyve"
                  - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                  - $ref: "#/components/schemas/Privatimportloyve"
                  - $ref: "#/components/schemas/Utforrselsloyve"
  /avgivelse/samleromraade:
    get:
      tags:
      - samler-controller
      operationId: getSamleromraaderOnPerson
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPerson"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Samleromraade"
  /avgivelse/naeringsloyver:
    get:
      tags:
      - naeringsloyve-controller
      operationId: findAllNaeringsloyver
      parameters:
      - name: organisasjonsnummer
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Naeringsloyve"
  /avgivelse/korreksjon:
    get:
      tags:
      - korreksjons-controller
      operationId: getNextKorreksjonsForslag
      responses:
        "200":
          description: Get next available proposal. See Schemas for details on proposalId.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Proposal"
        "404":
          description: No available proposal at this time.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Proposal"
  /avgivelse/korreksjon/vaapendel:
    get:
      tags:
      - korreksjons-controller
      operationId: getNextVaapendelKorreksjon
      responses:
        "200":
          description: Get next available Vaapendel proposal. See Schemas for details
            on proposalId.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VaapendelProposal"
        "404":
          description: No available proposal at this time.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VaapendelProposal"
  /avgivelse/korreksjon/skytevaapen:
    get:
      tags:
      - korreksjons-controller
      operationId: getNextSkytevaapenKorreksjon
      responses:
        "200":
          description: Get next available Skytevaapen proposal. See Schemas for details
            on proposalId.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SkyteVaapenProposal"
        "404":
          description: No available proposal at this time.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SkyteVaapenProposal"
  /avgivelse/korreksjon/avbrutt/ids:
    get:
      tags:
      - korreksjons-controller
      operationId: getCancelledKorreksjonIds
      responses:
        "200":
          description: List of cancelled korreksjon IDs
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: uuid
  /avgivelse/hello/local:
    get:
      tags:
      - hello-controller
      operationId: helloLocal
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /avgivelse/hello/flow:
    get:
      tags:
      - hello-controller
      operationId: helloFlow
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /andreloyver/{id}:
    get:
      tags:
      - annet-loyve-controller
      summary: Get annetLoyve by loyveId
      operationId: findAnnetLoyveById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: AnnetLoyve
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Ammunisjonskjoployve"
                - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                - $ref: "#/components/schemas/GodkjentSamlerloyve"
                - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                - $ref: "#/components/schemas/Laaneloyve"
                - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                - $ref: "#/components/schemas/Naeringsimportloyve"
                - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                - $ref: "#/components/schemas/Privatimportloyve"
                - $ref: "#/components/schemas/Utforrselsloyve"
        "400":
          description: Bad request
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Ammunisjonskjoployve"
                - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                - $ref: "#/components/schemas/GodkjentSamlerloyve"
                - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                - $ref: "#/components/schemas/Laaneloyve"
                - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                - $ref: "#/components/schemas/Naeringsimportloyve"
                - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                - $ref: "#/components/schemas/Privatimportloyve"
                - $ref: "#/components/schemas/Utforrselsloyve"
components:
  schemas:
    RequestPerson:
      type: object
      properties:
        personidentifikator:
          type: string
      required:
      - personidentifikator
    DigitalEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          navn:
            type: string
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
      required:
      - eiertype
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
          UKJENT_INNEHAVER: "#/components/schemas/UkjentInnehaver"
          POLITI: "#/components/schemas/PolitiInnehaver"
      properties:
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        id:
          type: integer
          format: int64
      required:
      - eiertype
    EierPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: 12345678901
          navn:
            type: string
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type: string
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en person
      required:
      - eiertype
      - personidentifikator
    EierVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      - $ref: "#/components/schemas/Eier"
      description: Representerer en virksomhet
      required:
      - eiertype
      - organisasjonsnummer
    ManuellEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      required:
      - eiertype
    PolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: TAPTE VÅPEN - OSLO
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - importertKategori
    UkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: 311280
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type: string
            description: Navn på utenlandsk person
            example: Kari Ole Normann
          adresse:
            type: string
            description: Adressen til utenlandsk person
            example: Kari Ole Normann
          stilling:
            type: string
            description: Stilling til utenlandsk person
            example: Diplomat
          telefon:
            type: string
            description: Telefon til utenlandsk person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - personidentifikator
    Vaapenskap:
      type: object
      properties:
        id:
          type: string
          description: Unik intern identifikator for våpenskap.
        innehaver:
          description: Eier av våpenskap
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        serienummer:
          type: string
          description: Serienummer til våpenskapet
        merke:
          type: string
          description: Merke på våpenskapet
        createdDate:
          type: string
          format: date-time
        lastUpdated:
          type: string
          format: date-time
      required:
      - id
      - innehaver
      - merke
      - serienummer
    Vaapenrom:
      type: object
      properties:
        id:
          type: string
          description: Unik intern identifikator for våpenrommet. I form av UUID.
        innehaver:
          description: Eier av våpenrommet
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        status:
          type: string
          description: Status på våpenrom
          enum:
          - GODKJENT
          - GODKJENNING_TILBAKETRUKKET
          - SLETTET
          example: GODKJENT
        saksreferanse:
          type: string
          description: Alle våpenrom som innvilges må ha en saksreferanse i websak
        matrikkelnummer:
          type: string
          description: identifikator for fast eiendom i Norge hvor våpenrommet er
        createdDate:
          type: string
          format: date-time
          description: "Tidspunktet når våpenrommet ble opprettet i databasen, blir\
            \ satt på lagringstidspunktet, skal være tom ved innsending"
        deletedDate:
          type: string
          format: date-time
          description: "Tidspunktet når våpenrommet ble soft-slettet i databasen,\
            \ skal være tom ved innsending"
      required:
      - id
      - innehaver
      - saksreferanse
      - status
    BooleanFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - INCLUDE_CONNECTED_VAAPENDELER
          value:
            type: boolean
      - $ref: "#/components/schemas/LoyveSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - FRITAK_FRA_ALDER
          value:
            type: boolean
      required:
      - field
      - type
      - value
    DateFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
          value:
            type: string
            format: date
          operator:
            type: string
            enum:
            - EQUALS
            - GREATER_EQUAL
            - LESS_EQUAL
      - $ref: "#/components/schemas/LoyveSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - VEDTAKSDATO
          value:
            type: string
            format: date
          operator:
            type: string
            enum:
            - EQUALS
            - GREATER_EQUAL
            - LESS_EQUAL
      required:
      - field
      - operator
      - type
      - value
    LoyveFieldBoolean:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - FRITAK_FRA_ALDER
    LoyveFieldDate:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - VEDTAKSDATO
    LoyveFieldString:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - EIERPERSON
      - OPPBEVARINGSANSVARLIG
      - OPPBEVARINGSANSVARLIG_VIRKSOMHET
      - EIERVIRKSOMHET
      - PAA_VEGNE_AV
      - SAKSREFERANSE
      - ID
    LoyveFieldType:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - SKYTEVAAPENTYPE
      - VAAPENDELTYPE
      - ERVERVSTYPE
      - GRUNNLAGSTYPE
    NumberFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - ID
          value:
            type: integer
            format: int32
          operator:
            type: string
            enum:
            - EQUALS
      required:
      - field
      - operator
      - type
      - value
    SearchField:
      type: object
    SkytevaapenFieldBoolean:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - INCLUDE_CONNECTED_VAAPENDELER
    SkytevaapenFieldDate:
      allOf:
      - $ref: "#/components/schemas/SearchField"
    SkytevaapenFieldNumber:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - ID
    SkytevaapenFieldString:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - SERIENUMMER
      - EIERPERSON
      - OPPBEVARINGSANSVARLIG
      - EIERVIRKSOMHET
    SkytevaapenFieldType:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - SKYTEVAAPENTYPE
      - VAAPENDELTYPE
      - FUNKSJONSMAATE
    SkytevaapenSearchFilter:
      type: object
      discriminator:
        propertyName: type
      properties:
        field:
          oneOf:
          - $ref: "#/components/schemas/LoyveFieldBoolean"
          - $ref: "#/components/schemas/LoyveFieldDate"
          - $ref: "#/components/schemas/LoyveFieldString"
          - $ref: "#/components/schemas/LoyveFieldType"
          - $ref: "#/components/schemas/SkytevaapenFieldBoolean"
          - $ref: "#/components/schemas/SkytevaapenFieldDate"
          - $ref: "#/components/schemas/SkytevaapenFieldNumber"
          - $ref: "#/components/schemas/SkytevaapenFieldString"
          - $ref: "#/components/schemas/SkytevaapenFieldType"
        type:
          type: string
          enum:
          - STRING
          - NUMBER
          - BOOLEAN
          - DATE
          - TYPE
      required:
      - field
      - type
    StringFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - SERIENUMMER
            - EIERPERSON
            - OPPBEVARINGSANSVARLIG
            - EIERVIRKSOMHET
          value:
            type: string
          operator:
            type: string
            enum:
            - EQUALS
            - STARTS_WITH
            - CONTAINS
      - $ref: "#/components/schemas/LoyveSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - EIERPERSON
            - OPPBEVARINGSANSVARLIG
            - OPPBEVARINGSANSVARLIG_VIRKSOMHET
            - EIERVIRKSOMHET
            - PAA_VEGNE_AV
            - SAKSREFERANSE
            - ID
          value:
            type: string
          operator:
            type: string
            enum:
            - EQUALS
            - STARTS_WITH
            - CONTAINS
      required:
      - field
      - operator
      - type
      - value
    TypeFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - SKYTEVAAPENTYPE
            - VAAPENDELTYPE
            - FUNKSJONSMAATE
          values:
            type: array
            items:
              type: string
      - $ref: "#/components/schemas/LoyveSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - SKYTEVAAPENTYPE
            - VAAPENDELTYPE
            - ERVERVSTYPE
            - GRUNNLAGSTYPE
          values:
            type: array
            items:
              type: string
      required:
      - field
      - type
      - values
    VaapenSearchQuery:
      type: object
      properties:
        filters:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/BooleanFilter"
            - $ref: "#/components/schemas/DateFilter"
            - $ref: "#/components/schemas/NumberFilter"
            - $ref: "#/components/schemas/StringFilter"
            - $ref: "#/components/schemas/TypeFilter"
        combineWith:
          type: string
          enum:
          - AND
          - OR
        sortBy:
          oneOf:
          - $ref: "#/components/schemas/LoyveFieldBoolean"
          - $ref: "#/components/schemas/LoyveFieldDate"
          - $ref: "#/components/schemas/LoyveFieldString"
          - $ref: "#/components/schemas/LoyveFieldType"
          - $ref: "#/components/schemas/SkytevaapenFieldBoolean"
          - $ref: "#/components/schemas/SkytevaapenFieldDate"
          - $ref: "#/components/schemas/SkytevaapenFieldNumber"
          - $ref: "#/components/schemas/SkytevaapenFieldString"
          - $ref: "#/components/schemas/SkytevaapenFieldType"
        sortDir:
          type: string
          enum:
          - ASC
          - DESC
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      required:
      - combineWith
      - filters
      - limit
      - offset
      - sortDir
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ervervsloyve:
      type: object
      description: Løyve for erverv av våpen eller våpendel
      properties:
        loyveId:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        gyldigTil:
          type: string
          format: date
        typeErverv:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          - AMMUNISJON
          - HOYKAPASITETSMAGASIN
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        grunnlag:
          oneOf:
          - $ref: "#/components/schemas/Aldersgrunnlag"
          - $ref: "#/components/schemas/Amnestigrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/Avlivingsgrunnlag"
          - $ref: "#/components/schemas/Deaktivertgrunnlag"
          - $ref: "#/components/schemas/Etterregistrertgrunnlag"
          - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
          - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          - $ref: "#/components/schemas/Jaktgrunnlag"
          - $ref: "#/components/schemas/Minneverdegrunnlag"
          - $ref: "#/components/schemas/Museumsgrunnlag"
          - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/Samlergrunnlag"
          - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
          - $ref: "#/components/schemas/Slaktegrunnlag"
          - $ref: "#/components/schemas/Sportsgrunnlag"
          - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
          - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
          - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
        spesifisering:
          $ref: "#/components/schemas/ErvervsloyveSpesifikt"
        paaVegneAv:
          $ref: "#/components/schemas/EierPerson"
        fritakFraAlderskrav:
          type: boolean
        oppbevaringsansvarlig:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        brukesAv:
          type: integer
          format: int64
        saksreferanse:
          type: string
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeErverv
      - vedtaksdato
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        funksjonsmaate:
          type: string
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          UTEN_BEHOVSPROVING: "#/components/schemas/UtenBehovsprovingGrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ETTERREGISTRERT: "#/components/schemas/Etterregistrertgrunnlag"
          DEAKTIVERT: "#/components/schemas/Deaktivertgrunnlag"
          AMNESTI: "#/components/schemas/Amnestigrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          UTRYDDELSE_AV_SKADEDYR: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          SLAKTING: "#/components/schemas/Slaktegrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - REPLIKA_LUFT_FJAER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - grunnlagsType
    GrunnlagWithBeskrivelse:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type: string
      required:
      - grunnlagsType
    Innehavsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      description: Løyve for innehavelse av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          registrertIJegerRegisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
      required:
      - grunnlagsType
      - registrertIJegerRegisteret
      - tilleggsvaapen
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - OVERDEL
            - UNDERDEL
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    NaeringAmmunisjon:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringIkkeRegpliktigeVaapen:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringMekling:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringUtleie:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    Naeringsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          loyvehaver:
            $ref: "#/components/schemas/EierPerson"
            description: Løyvehaver for næringsløyvet - Kan kun være midlertidig null
          dagligAnsvarshavende:
            $ref: "#/components/schemas/EierPerson"
            description: Den daglige utførende ansvarshavende - Ikke obligatorisk
          typeNaeringsvirksomhet:
            type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/NaeringAmmunisjon"
              - $ref: "#/components/schemas/NaeringBegrensetHandel"
              - $ref: "#/components/schemas/NaeringBegrensetTilvirkning"
              - $ref: "#/components/schemas/NaeringHandel"
              - $ref: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
              - $ref: "#/components/schemas/NaeringMekling"
              - $ref: "#/components/schemas/NaeringTilvirkning"
              - $ref: "#/components/schemas/NaeringUtleie"
          avgrensninger:
            type: string
          dispensasjon:
            type: string
          saksreferanse:
            type: string
      description: Løyve for næringsdrivende virksomhet
      required:
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeNaeringsvirksomhet
      - vedtaksdato
    Naeringstype:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          HANDEL: "#/components/schemas/NaeringHandel"
          UTLEIE: "#/components/schemas/NaeringUtleie"
          MEKLING: "#/components/schemas/NaeringMekling"
          TILVIRKNING: "#/components/schemas/NaeringTilvirkning"
          HANDELIKKEREGPLIKTIGEVAAPEN: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
          BEGRENSETHANDEL: "#/components/schemas/NaeringBegrensetHandel"
          BEGRENSETTILVIRKNING: "#/components/schemas/NaeringBegrensetTilvirkning"
      properties:
        type:
          type: string
          enum:
          - HANDEL
          - BEGRENSETHANDEL
          - UTLEIE
          - MEKLING
          - TILVIRKNING
          - BEGRENSETTILVIRKNING
          - HANDELIKKEREGPLIKTIGEVAAPEN
          - AMMUNISJON
      required:
      - type
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - skytevaapentype
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - lademekanisme
      - skytevaapentype
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            $ref: "#/components/schemas/Samleromraade"
      required:
      - grunnlagsType
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type: integer
          format: int32
      required:
      - beskrivelse
      - id
      - innehaver
      - navn
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Skyteprogram:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type: array
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
      required:
      - arrangertAv
      - navn
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            $ref: "#/components/schemas/Skyteprogram"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type: string
      required:
      - grunnlagsType
      - reservevaapen
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Vaapendel:
      allOf:
      - $ref: "#/components/schemas/Registreringsobjekt"
      - type: object
        properties:
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          vaapendeltype:
            type: string
            enum:
            - PIPE
            - LAASKASSE
            - REVOLVERTONNE
            - SLUTTSTYKKE
          vaapenstatus:
            type: string
            enum:
            - AKTIV
            - DESTRUERT
            - DEAKTIVERT
            - UTFORT
          innehavsloyve:
            oneOf:
            - $ref: "#/components/schemas/Innehavsloyve"
            - $ref: "#/components/schemas/Naeringsloyve"
          korrigeringsstatus:
            type: string
            enum:
            - OK
            - TRENGER_GJENNOMGANG
            - UNDER_KORRIGERING
          serienummer:
            type: string
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          annetFabrikkmerke:
            type: string
          modell:
            type: string
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    Skytevaapen:
      type: object
      description: Skytevåpen-modellen
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
      required:
      - definerendeType
      - funksjonsmaate
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    LoyveSearchFilter:
      type: object
      discriminator:
        propertyName: type
      properties:
        field:
          oneOf:
          - $ref: "#/components/schemas/LoyveFieldBoolean"
          - $ref: "#/components/schemas/LoyveFieldDate"
          - $ref: "#/components/schemas/LoyveFieldString"
          - $ref: "#/components/schemas/LoyveFieldType"
          - $ref: "#/components/schemas/SkytevaapenFieldBoolean"
          - $ref: "#/components/schemas/SkytevaapenFieldDate"
          - $ref: "#/components/schemas/SkytevaapenFieldNumber"
          - $ref: "#/components/schemas/SkytevaapenFieldString"
          - $ref: "#/components/schemas/SkytevaapenFieldType"
        type:
          type: string
          enum:
          - STRING
          - NUMBER
          - BOOLEAN
          - DATE
          - TYPE
      required:
      - field
      - type
    LoyveSearchQuery:
      type: object
      properties:
        filters:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/BooleanFilter"
            - $ref: "#/components/schemas/DateFilter"
            - $ref: "#/components/schemas/StringFilter"
            - $ref: "#/components/schemas/TypeFilter"
        combineWith:
          type: string
          enum:
          - AND
          - OR
        sortBy:
          oneOf:
          - $ref: "#/components/schemas/LoyveFieldBoolean"
          - $ref: "#/components/schemas/LoyveFieldDate"
          - $ref: "#/components/schemas/LoyveFieldString"
          - $ref: "#/components/schemas/LoyveFieldType"
          - $ref: "#/components/schemas/SkytevaapenFieldBoolean"
          - $ref: "#/components/schemas/SkytevaapenFieldDate"
          - $ref: "#/components/schemas/SkytevaapenFieldNumber"
          - $ref: "#/components/schemas/SkytevaapenFieldString"
          - $ref: "#/components/schemas/SkytevaapenFieldType"
        sortDir:
          type: string
          enum:
          - ASC
          - DESC
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      required:
      - combineWith
      - filters
      - limit
      - offset
      - sortDir
    RequestVirksomhet:
      type: object
      properties:
        organisasjonsnummer:
          type: string
      required:
      - organisasjonsnummer
    Ammunisjonskjoployve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for tidsbegrenset engangskjøp av ammunisjon til våpen som
        ikke er registreringspliktig
      required:
      - annetloyveLoyvetype
      - gyldigTil
      - innehaver
      - isActiveAndNotExpired
      - kaliber
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Ammunisjonssamlerloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          beskrivelse:
            type: string
      description: Løyve for ammunisjonssamlere
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    AnnetLoyve:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          AMMUNISJONSKJOP_IKKEREGPLIKTIG: "#/components/schemas/Ammunisjonskjoployve"
          AMMUNISJONSSAMLER: "#/components/schemas/Ammunisjonssamlerloyve"
          GODKJENT_SAMLER: "#/components/schemas/GodkjentSamlerloyve"
          PIRATBESKYTTELSE: "#/components/schemas/Piratbeskyttelsesloyve"
          ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
          LAANELOYVE: "#/components/schemas/Laaneloyve"
          IKKE_ERVERVSMESSIG_INNFORSEL: "#/components/schemas/Privatimportloyve"
          ERVERVSMESSIG_INNFORSEL: "#/components/schemas/Naeringsimportloyve"
          MIDLERTIDIG_INNFORSEL: "#/components/schemas/MidlertidigInnforselsloyve"
          UTFORSEL: "#/components/schemas/Utforrselsloyve"
          GODKJENT_SKYTEBANE: "#/components/schemas/GodkjentSkytebaneloyve"
          GODKJENT_SKYTTERFORENING: "#/components/schemas/GodkjentSkytterforeningsloyve"
          HOYKAPASITETSMAGASIN: "#/components/schemas/Hoykapasitetsmagasinloyve"
      properties:
        isActiveAndNotExpired:
          type: boolean
        annetloyveLoyvetype:
          type: string
          description: Type løyve for andre formål enn erverv eller innehav av skytevåpen
          enum:
          - AMMUNISJONSKJOP_IKKEREGPLIKTIG
          - AMMUNISJONSSAMLER
          - GODKJENT_SAMLER
          - PIRATBESKYTTELSE
          - ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN
          - LAANELOYVE
          - IKKE_ERVERVSMESSIG_INNFORSEL
          - ERVERVSMESSIG_INNFORSEL
          - MIDLERTIDIG_INNFORSEL
          - UTFORSEL
          - GODKJENT_SKYTEBANE
          - GODKJENT_SKYTTERFORENING
          - NYTT_SKYTEPROGRAM
          - HOYKAPASITETSMAGASIN
        saksreferanse:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    GodkjentSamlerloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          samlerorganisasjon:
            type: string
      description: Løyve som godkjent samler
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - samlerorganisasjon
      - status
      - vedtaksdato
    GodkjentSkytebaneloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          beskrivelse:
            type: string
      description: Løyve for godkjent skytebane
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    GodkjentSkytterforeningsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
      description: Løyve for godkjenning som skytterforening
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Hoykapasitetsmagasinloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          godkjentForVaapen:
            type: integer
            format: int64
          godkjentForErvervsloyve:
            type: string
      description: Løyve for høykapasitetsmagasin knyttet til våpen eller ervervsløyve
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    IkkeSkytevaapenErvervsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierPerson"
          beskrivelse:
            type: string
          grunnlagsbeskrivelse:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for erverv av våpen som ikke regnes som skytevåpen
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - grunnlagsbeskrivelse
      - gyldigTil
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Laaneloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          laanenivaaSport:
            type: string
            enum:
            - HALVAUTOMATISK_MED_HOY_PATRONKAPASITET
            - PISTOL_REVOLVER
            - OVRIGE_RIFLER_HAGLER
          gyldigTil:
            type: string
            format: date
          isPermanent:
            type: boolean
      description: Løyve for lån av våpen
      required:
      - annetloyveLoyvetype
      - grunnlag
      - innehaver
      - isActiveAndNotExpired
      - isPermanent
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    MidlertidigInnforselsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          importBeskrivelse:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for midlertidig innførsel
      required:
      - annetloyveLoyvetype
      - gyldigTil
      - importBeskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Naeringsimportloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          naeringsloyveid:
            type: string
          importBeskrivelse:
            type: string
      description: Løyve for innførsel av våpen for næringsdrivende virksomhet
      required:
      - annetloyveLoyvetype
      - importBeskrivelse
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - naeringsloyveid
      - saksreferanse
      - status
      - vedtaksdato
    Piratbeskyttelsesloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
      description: Løyve for godkjenning av beskyttelse av skip mot piratvirksomhet
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Privatimportloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          erversloyveid:
            type: string
      description: Løyve for innførsel av våpen som ikke er ervervsmessig
      required:
      - annetloyveLoyvetype
      - erversloyveid
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - vedtaksdato
    Utforrselsloyve:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyve"
      - type: object
        properties:
          utforselBeskrivelse:
            type: string
      description: Løyve for utførsel av våpen
      required:
      - annetloyveLoyvetype
      - innehaver
      - isActiveAndNotExpired
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - utforselBeskrivelse
      - vedtaksdato
    Proposal:
      type: object
      discriminator:
        propertyName: proposalType
      oneOf:
      - $ref: "#/components/schemas/SkyteVaapenProposal"
      - $ref: "#/components/schemas/VaapendelProposal"
      properties:
        proposalId:
          type: string
        submittedBy:
          $ref: "#/components/schemas/Submitter"
        previousData:
          oneOf:
          - $ref: "#/components/schemas/Skytevaapen"
          - $ref: "#/components/schemas/Vaapendel"
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        proposedData:
          oneOf:
          - $ref: "#/components/schemas/Skytevaapen"
          - $ref: "#/components/schemas/Vaapendel"
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        proposalType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        messageToCaseworker:
          type: string
      required:
      - previousData
      - proposalId
      - proposalType
      - proposedData
      - submittedBy
    Registreringsobjekt:
      type: object
      description: En korreksjon kan enten være et skytevåpen eller en våpendel
      discriminator:
        propertyName: registreringsobjektType
        mapping:
          SkyteVaapen: "#/components/schemas/Skytevaapen"
          Vaapendel: "#/components/schemas/Vaapendel"
      properties:
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        id:
          type: integer
          format: int64
      required:
      - registreringsobjektType
    SkyteVaapenProposal:
      allOf:
      - $ref: "#/components/schemas/Proposal"
      - type: object
        properties:
          proposalId:
            type: string
            example: UUID
          previousData:
            $ref: "#/components/schemas/Skytevaapen"
          proposedData:
            $ref: "#/components/schemas/Skytevaapen"
      description: Skytevåpen-forslag
      required:
      - previousData
      - proposalId
      - proposalType
      - proposedData
      - submittedBy
    Submitter:
      type: object
      properties:
        personalId:
          type: string
      required:
      - personalId
    VaapendelProposal:
      allOf:
      - $ref: "#/components/schemas/Proposal"
      - type: object
        properties:
          proposalId:
            type: string
            example: UUID
          previousData:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
          proposedData:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
      description: Våpendel-forslag
      required:
      - previousData
      - proposalId
      - proposalType
      - proposedData
      - submittedBy
