openapi: 3.1.0
info:
  title: politiavgivelse-api
  description: Avgivelse for api'er til politiet
  version: "0.1"
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
- url: https://vaapen.ut1.brreg.no
  description: Utviklingsmiljø
paths:
  /avgivelse/vaapenskap/person:
    post:
      tags:
      - vaapenoppbevaring-controller
      summary: Search for vaapenskap using personidentifikator
      operationId: findVaapenskapByPerson
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPerson"
        required: true
      responses:
        "200":
          description: Alle vaapenskap til person
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vaapenskap"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/vaapenrom/person:
    post:
      tags:
      - vaapenoppbevaring-controller
      summary: Search for vaapenrom using personidentifikator
      operationId: findVaapenromBySearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPerson"
        required: true
      responses:
        "200":
          description: "Alle vaapenrom til person, både godkjente og ikke"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vaapenrom"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/vaapendel/search:
    post:
      tags:
      - search
      summary: Search for vaapendeler using SearchQuery
      operationId: findVaapendelBySearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaapenSearchQuery"
        required: true
      responses:
        "200":
          description: Alle vaapendeler filtrert i henhold til VaapenSearchQuery
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponseVaapendel"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/vaapen/search:
    post:
      tags:
      - search
      summary: Search for vaapen using SearchQuery
      operationId: findVaapenBySearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaapenSearchQuery"
        required: true
      responses:
        "200":
          description: Alle skytevaapen filtrert i henhold til VaapenSearchQuery
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponseSkytevaapen"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/history/eieroverforingslogg/vaapendel:
    post:
      tags:
      - history-controller
      summary: "Get eieroverforingslogg for vaapendel. Filter by involvert eier, vaapendelId,\
        \ and paginate by offset and limit"
      operationId: findEieroverforingsloggVaapendel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EieroverforingsloggRequest"
        required: true
      responses:
        "200":
          description: EieroverforingsloggVaapendel
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EieroverforingsloggVaapendel"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/history/eieroverforingslogg/skytevaapen:
    post:
      tags:
      - history-controller
      summary: "Get eieroverforingslogg for skytevåpen. Filter by involvert eier,\
        \ vaapenId, and paginate by offset and limit"
      operationId: findEieroverforingsloggSkytevaapen
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EieroverforingsloggRequest"
        required: true
      responses:
        "200":
          description: EieroverforingsloggVaapen
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EieroverforingsloggVaapen"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/ervervsloyve/search:
    post:
      tags:
      - search
      summary: Search for ervervsloyve using LoyveSearchQuery
      operationId: findErvervsloyveBySearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoyveSearchQuery"
        required: true
      responses:
        "200":
          description: Alle ervervsloyver filtrert i henhold til LoyveSearchQuery
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponseErvervsloyve"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/besittelse/hendelse/valider:
    post:
      tags:
      - kripos-controller
      operationId: validerHendelse
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AapnePall"
              - $ref: "#/components/schemas/EndeligDestruksjon"
              - $ref: "#/components/schemas/EndrePakkeDistrikt"
              - $ref: "#/components/schemas/EndrePakkeKripos"
              - $ref: "#/components/schemas/ForseglePall"
              - $ref: "#/components/schemas/MottaPall"
              - $ref: "#/components/schemas/PakkeEndringReferansesamling"
              - $ref: "#/components/schemas/PakkeEndringUtlaan"
              - $ref: "#/components/schemas/PakkeFraPall"
              - $ref: "#/components/schemas/PakkerTilPall"
              - $ref: "#/components/schemas/PallUnderKonstruksjon"
              - $ref: "#/components/schemas/RegistrerPakke"
              - $ref: "#/components/schemas/SendForsvaret"
              - $ref: "#/components/schemas/SendPall"
              - $ref: "#/components/schemas/TilbakeleverPakke"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KriposValidationResult"
  /avgivelse/andreloyver/virksomhet:
    post:
      tags:
      - annet-loyve-controller
      summary: Search for annetLoyve using organisasjonsnummer
      operationId: findAndreLoyverVirksomhet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestVirksomhet"
        required: true
      responses:
        "200":
          description: Alle annetLoyve for virksomhet
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Ammunisjonskjoployve"
                  - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                  - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                  - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                  - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                  - $ref: "#/components/schemas/Laaneloyve"
                  - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                  - $ref: "#/components/schemas/Naeringsimportloyve"
                  - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                  - $ref: "#/components/schemas/Privatimportloyve"
                  - $ref: "#/components/schemas/Utforrselsloyve"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/andreloyver/person:
    post:
      tags:
      - annet-loyve-controller
      summary: Search for annetLoyve using personidentifikator
      operationId: findAndreLoyverPerson
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPerson"
        required: true
      responses:
        "200":
          description: Alle annetLoyve for person
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Ammunisjonskjoployve"
                  - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                  - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                  - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                  - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                  - $ref: "#/components/schemas/Laaneloyve"
                  - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                  - $ref: "#/components/schemas/Naeringsimportloyve"
                  - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                  - $ref: "#/components/schemas/Privatimportloyve"
                  - $ref: "#/components/schemas/Utforrselsloyve"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/samleromraade:
    get:
      tags:
      - samler-controller
      operationId: getSamleromraaderOnPerson
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPerson"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Samleromraade"
  /avgivelse/naeringsloyver:
    get:
      tags:
      - naeringsloyve-controller
      operationId: findAllNaeringsloyver
      parameters:
      - name: organisasjonsnummer
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Naeringsloyve"
  /avgivelse/korreksjon/vaapendel:
    get:
      tags:
      - korreksjons-controller
      operationId: getNextVaapendelKorreksjon
      responses:
        "200":
          description: Get next available Vaapendel proposal. See Schemas for details
            on proposalId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaapendelProposal"
        "404":
          description: No available proposal at this time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaapendelProposal"
  /avgivelse/korreksjon/skytevaapen:
    get:
      tags:
      - korreksjons-controller
      operationId: getNextSkytevaapenKorreksjon
      responses:
        "200":
          description: Get next available Skytevaapen proposal. See Schemas for details
            on proposalId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkyteVaapenProposal"
        "404":
          description: No available proposal at this time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkyteVaapenProposal"
  /avgivelse/korreksjon/avbrutt/ids:
    get:
      tags:
      - korreksjons-controller
      operationId: getCancelledKorreksjonIds
      responses:
        "200":
          description: List of cancelled korreksjon IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: uuid
  /avgivelse/korreksjon:
    get:
      tags:
      - korreksjons-controller
      operationId: getNextKorreksjonsForslag
      responses:
        "200":
          description: Get next available proposal. See Schemas for details on proposalId.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Proposal"
        "404":
          description: No available proposal at this time.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Proposal"
  /avgivelse/innehaver/person/personermedugyldigstatus:
    get:
      tags:
      - innehaver-controller
      summary: 'Hent personer med ugyldig status. '
      operationId: findInnehaverMedUgyldigStatus
      parameters:
      - name: sekvensnummer
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: A list of PersonMedFolkeregisterStatus objects where status
            is not AKTIV or BOSATT
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PersonMedFolkeregisterStatus"
        "400":
          description: Bad request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/history/vaapendel:
    get:
      tags:
      - history-controller
      summary: Get history for våpendel by id.
      operationId: findEndringsloggVaapendel
      parameters:
      - name: vaapendelId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: VaapendelHistory
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HistoryRowRegistreringsobjektVaapendel"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/history/vaapenanddel:
    get:
      tags:
      - history-controller
      summary: "Get våpen and våpendel-history. Filter by Endringsaarsak, fromTime,\
        \ toTime, and page by offset and limit"
      operationId: findVaapenAndDelHistory
      parameters:
      - name: endringsaarsak
        in: query
        required: false
        schema:
          type: string
          enum:
          - MIGRERING
          - SAKSBEHANDLERENDRING
          - FORHANDLERENDRING
          - EIEROVERFORING
          - LAGERBEHOLDNING
          - POLITIETS_BESITTELSE
      - name: fromTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: toTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: HistoryRowRegistreringsobjekt
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HistoryRowRegistreringsobjektObject"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/history/skytevaapen:
    get:
      tags:
      - history-controller
      summary: Get history for skytevåpen by id.
      operationId: findEndringsloggSkytevaapen
      parameters:
      - name: vaapenId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: SkytevaapenHistory
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HistoryRowRegistreringsobjektSkytevaapen"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/history/loyve:
    get:
      tags:
      - history-controller
      summary: "Get Loyve-history. Filter by Endringsaarsak, fromTime, toTime, and\
        \ page by offset and limit"
      operationId: findLoyveHistory
      parameters:
      - name: endringsaarsak
        in: query
        required: false
        schema:
          type: string
          enum:
          - MIGRERING
          - SAKSBEHANDLERENDRING
          - FORHANDLERENDRING
          - EIEROVERFORING
          - LAGERBEHOLDNING
          - POLITIETS_BESITTELSE
      - name: fromTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: toTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: HistoryRowLoyve
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HistoryRowLoyveObject"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/history/all:
    get:
      tags:
      - history-controller
      summary: "Get all history. Filter by Endringsaarsak, fromTime, toTime and page\
        \ by offset and limit"
      operationId: findAll
      parameters:
      - name: endringsaarsak
        in: query
        required: false
        schema:
          type: string
          enum:
          - MIGRERING
          - SAKSBEHANDLERENDRING
          - FORHANDLERENDRING
          - EIEROVERFORING
          - LAGERBEHOLDNING
          - POLITIETS_BESITTELSE
      - name: fromTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: toTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: HistoryRow
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/HistoryRowLoyve"
                  - $ref: "#/components/schemas/HistoryRowRegistreringsobjekt"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/besittelse/paller/{pallId}:
    get:
      tags:
      - kripos-controller
      operationId: findPallById
      parameters:
      - name: pallId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pall"
  /avgivelse/besittelse/paller/pakke/{pakkeId}:
    get:
      tags:
      - kripos-controller
      operationId: findPallWithPakke
      parameters:
      - name: pakkeId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pall"
  /avgivelse/besittelse/paller:
    get:
      tags:
      - kripos-controller
      operationId: findPallByQuery
      parameters:
      - name: lokasjon
        in: query
        required: false
        schema:
          type: string
      - name: destruert
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Pall"
  /avgivelse/besittelse/pakker/{pakkeId}:
    get:
      tags:
      - kripos-controller
      operationId: findPakkeById
      parameters:
      - name: pakkeId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pakke"
  /avgivelse/andreloyver/{id}:
    get:
      tags:
      - annet-loyve-controller
      summary: Get annetLoyve by loyveId
      operationId: findAnnetLoyveById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: AnnetLoyve
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/Ammunisjonskjoployve"
                - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                - $ref: "#/components/schemas/GodkjentSamlerloyve"
                - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                - $ref: "#/components/schemas/Laaneloyve"
                - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                - $ref: "#/components/schemas/Naeringsimportloyve"
                - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                - $ref: "#/components/schemas/Privatimportloyve"
                - $ref: "#/components/schemas/Utforrselsloyve"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /avgivelse/aksjoner/virksomhet:
    get:
      tags:
      - aksjon-controller
      summary: Get aksjoner for virksomhet
      operationId: getAksjonerOnVirksomhet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestVirksomhet"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Aksjon"
  /avgivelse/aksjoner/person:
    get:
      tags:
      - aksjon-controller
      summary: Get aksjoner for person
      operationId: getAksjonerOnPerson
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPerson"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Aksjon"
components:
  schemas:
    RequestPerson:
      type: object
      properties:
        personidentifikator:
          type: string
      required:
      - personidentifikator
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time
      required:
      - code
      - details
      - message
      - timestamp
    DigitalEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          navn:
            type: string
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
      required:
      - eiertype
    DigitalPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - type: object
        properties:
          personidentifikator:
            type: string
          foedselsdato:
            type: string
            format: date
      required:
      - eiertype
      - personidentifikator
    DigitalVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - type: object
        properties:
          organisasjonsnummer:
            type: string
      required:
      - eiertype
      - organisasjonsnummer
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
          UKJENT_INNEHAVER: "#/components/schemas/UkjentInnehaver"
          POLITI: "#/components/schemas/PolitiInnehaver"
      properties:
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        id:
          type: integer
          format: int64
      required:
      - eiertype
    EierPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalPerson"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: 12345678901
          navn:
            type: string
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type: string
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en person
      required:
      - eiertype
      - personidentifikator
    EierVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalVirksomhet"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      - $ref: "#/components/schemas/Eier"
      description: Representerer en virksomhet
      required:
      - eiertype
      - organisasjonsnummer
    ExistingDigitalEier:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - $ref: "#/components/schemas/ExistingEier"
      required:
      - eiertype
      - id
    ExistingEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/ExistingVirksomhet"
          PERSON: "#/components/schemas/ExistingPerson"
      required:
      - eiertype
      - id
    ExistingManuellEier:
      allOf:
      - $ref: "#/components/schemas/ExistingEier"
      - $ref: "#/components/schemas/ManuellEier"
      required:
      - eiertype
      - id
    ExistingPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalPerson"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: 12345678901
          navn:
            type: string
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type: string
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/ExistingDigitalEier"
      - $ref: "#/components/schemas/ExistingEier"
      description: Representerer en person
      required:
      - eiertype
      - id
      - personidentifikator
    ExistingPolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/ExistingManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: TAPTE VÅPEN - OSLO
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/ManuellPoliti"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - id
      - importertKategori
      - lokasjon
    ExistingUkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/ExistingManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: 311280
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type: string
            description: Navn på utenlandsk person
            example: Kari Ole Normann
          adresse:
            type: string
            description: Adressen til utenlandsk person
            example: Kari Ole Normann
          stilling:
            type: string
            description: Stilling til utenlandsk person
            example: Diplomat
          telefon:
            type: string
            description: Telefon til utenlandsk person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/ManuellUkjentPerson"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - id
      - personidentifikator
      - vaapenkortSid
    ExistingVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalVirksomhet"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      - $ref: "#/components/schemas/ExistingDigitalEier"
      - $ref: "#/components/schemas/ExistingEier"
      required:
      - eiertype
      - id
      - organisasjonsnummer
    ManuellEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      required:
      - eiertype
    ManuellPoliti:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          lokasjon:
            type: string
          importertKategori:
            type: boolean
      required:
      - eiertype
      - importertKategori
      - lokasjon
    ManuellUkjentPerson:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          personidentifikator:
            type: string
          navn:
            type: string
          vaapenkortSid:
            type: string
          adresse:
            type: string
          stilling:
            type: string
          telefon:
            type: string
      required:
      - eiertype
      - personidentifikator
      - vaapenkortSid
    PolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellPoliti"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: TAPTE VÅPEN - OSLO
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - importertKategori
      - lokasjon
    UkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellUkjentPerson"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: 311280
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type: string
            description: Navn på ukjent person
            example: Kari Ole Normann
          adresse:
            type: string
            description: Adressen til ukjent person
            example: Kari Ole Normann
          stilling:
            type: string
            description: Stilling til ukjent person
            example: Diplomat
          telefon:
            type: string
            description: Telefon til ukjent person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - personidentifikator
      - vaapenkortSid
    Vaapenskap:
      type: object
      properties:
        id:
          type: string
          description: Unik intern identifikator for våpenskap.
        innehaver:
          description: Eier av våpenskap
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingEier"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/DigitalPerson"
          - $ref: "#/components/schemas/DigitalVirksomhet"
          - $ref: "#/components/schemas/ExistingDigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingDigitalEier"
          - $ref: "#/components/schemas/ExistingManuellEier"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPolitiInnehaver"
          - $ref: "#/components/schemas/ExistingUkjentInnehaver"
          - $ref: "#/components/schemas/ExistingManuellEier"
          - $ref: "#/components/schemas/ManuellPoliti"
          - $ref: "#/components/schemas/ManuellUkjentPerson"
          - $ref: "#/components/schemas/ExistingPolitiInnehaver"
          - $ref: "#/components/schemas/ExistingUkjentInnehaver"
          - $ref: "#/components/schemas/ExistingPolitiInnehaver"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/ExistingUkjentInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        serienummer:
          type: string
          description: Serienummer til våpenskapet
        merke:
          type: string
          description: Merke på våpenskapet
        createdDate:
          type: string
          format: date-time
        lastUpdated:
          type: string
          format: date-time
      required:
      - id
      - innehaver
      - merke
      - serienummer
    Vaapenrom:
      type: object
      properties:
        id:
          type: string
          description: Unik intern identifikator for våpenrommet. I form av UUID.
        innehaver:
          description: Eier av våpenrommet
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingEier"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/DigitalPerson"
          - $ref: "#/components/schemas/DigitalVirksomhet"
          - $ref: "#/components/schemas/ExistingDigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingDigitalEier"
          - $ref: "#/components/schemas/ExistingManuellEier"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPolitiInnehaver"
          - $ref: "#/components/schemas/ExistingUkjentInnehaver"
          - $ref: "#/components/schemas/ExistingManuellEier"
          - $ref: "#/components/schemas/ManuellPoliti"
          - $ref: "#/components/schemas/ManuellUkjentPerson"
          - $ref: "#/components/schemas/ExistingPolitiInnehaver"
          - $ref: "#/components/schemas/ExistingUkjentInnehaver"
          - $ref: "#/components/schemas/ExistingPolitiInnehaver"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/ExistingUkjentInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        status:
          type: string
          description: Status på våpenrom
          enum:
          - GODKJENT
          - GODKJENNING_TILBAKETRUKKET
          - SLETTET
          example: GODKJENT
        saksreferanse:
          type: string
          description: Alle våpenrom som innvilges må ha en saksreferanse i websak
        matrikkelnummer:
          type: string
          description: identifikator for fast eiendom i Norge hvor våpenrommet er
        createdDate:
          type: string
          format: date-time
          description: "Tidspunktet når våpenrommet ble opprettet i databasen, blir\
            \ satt på lagringstidspunktet, skal være tom ved innsending"
        deletedDate:
          type: string
          format: date-time
          description: "Tidspunktet når våpenrommet ble soft-slettet i databasen,\
            \ skal være tom ved innsending"
      required:
      - id
      - innehaver
      - saksreferanse
      - status
    BooleanFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - INCLUDE_CONNECTED_VAAPENDELER
          value:
            type: boolean
      - $ref: "#/components/schemas/LoyveSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - FRITAK_FRA_ALDER
          value:
            type: boolean
      required:
      - field
      - type
      - value
    DateFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
          value:
            type: string
            format: date
          operator:
            type: string
            enum:
            - EQUALS
            - GREATER_EQUAL
            - LESS_EQUAL
      - $ref: "#/components/schemas/LoyveSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - VEDTAKSDATO
          value:
            type: string
            format: date
          operator:
            type: string
            enum:
            - EQUALS
            - GREATER_EQUAL
            - LESS_EQUAL
      required:
      - field
      - operator
      - type
      - value
    NumberFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - ID
          value:
            type: integer
            format: int64
          operator:
            type: string
            enum:
            - EQUALS
      required:
      - field
      - operator
      - type
      - value
    SkytevaapenFieldBoolean:
      allOf:
      - $ref: "#/components/schemas/VaapenSearchField"
      enum:
      - INCLUDE_CONNECTED_VAAPENDELER
    SkytevaapenFieldDate:
      allOf:
      - $ref: "#/components/schemas/VaapenSearchField"
    SkytevaapenFieldNumber:
      allOf:
      - $ref: "#/components/schemas/VaapenSearchField"
      enum:
      - ID
    SkytevaapenFieldString:
      allOf:
      - $ref: "#/components/schemas/VaapenSearchField"
      enum:
      - SERIENUMMER
      - MODELL
      - EIERPERSON
      - OPPBEVARINGSANSVARLIG
      - EIERVIRKSOMHET
      - FABRIKKMERKE
      - KALIBER
    SkytevaapenFieldType:
      allOf:
      - $ref: "#/components/schemas/VaapenSearchField"
      enum:
      - SKYTEVAAPENTYPE
      - VAAPENDELTYPE
      - FUNKSJONSMAATE
      - AVFYRINGSMEKANISME
      - AVFYRINGSMEKANISME_TONNE
      - VAAPENSTATUS
    SkytevaapenSearchFilter:
      type: object
      discriminator:
        propertyName: type
      properties:
        field:
          oneOf:
          - $ref: "#/components/schemas/SkytevaapenFieldBoolean"
          - $ref: "#/components/schemas/SkytevaapenFieldDate"
          - $ref: "#/components/schemas/SkytevaapenFieldNumber"
          - $ref: "#/components/schemas/SkytevaapenFieldString"
          - $ref: "#/components/schemas/SkytevaapenFieldType"
        type:
          type: string
          enum:
          - STRING
          - NUMBER
          - BOOLEAN
          - DATE
          - TYPE
      required:
      - field
      - type
    StringFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - SERIENUMMER
            - MODELL
            - EIERPERSON
            - OPPBEVARINGSANSVARLIG
            - EIERVIRKSOMHET
            - FABRIKKMERKE
            - KALIBER
          value:
            type: string
          operator:
            type: string
            enum:
            - EQUALS
            - STARTS_WITH
            - CONTAINS
      - $ref: "#/components/schemas/LoyveSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - EIERPERSON
            - OPPBEVARINGSANSVARLIG
            - OPPBEVARINGSANSVARLIG_VIRKSOMHET
            - EIERVIRKSOMHET
            - PAA_VEGNE_AV
            - SAKSREFERANSE
            - ID
          value:
            type: string
          operator:
            type: string
            enum:
            - EQUALS
            - STARTS_WITH
            - CONTAINS
      required:
      - field
      - operator
      - type
      - value
    TypeFilter:
      allOf:
      - $ref: "#/components/schemas/SkytevaapenSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - SKYTEVAAPENTYPE
            - VAAPENDELTYPE
            - FUNKSJONSMAATE
            - AVFYRINGSMEKANISME
            - AVFYRINGSMEKANISME_TONNE
            - VAAPENSTATUS
          values:
            type: array
            items:
              type: string
      - $ref: "#/components/schemas/LoyveSearchFilter"
      - type: object
        properties:
          field:
            type: string
            enum:
            - SKYTEVAAPENTYPE
            - VAAPENDELTYPE
            - ERVERVSTYPE
            - GRUNNLAGSTYPE
          values:
            type: array
            items:
              type: string
      required:
      - field
      - type
      - values
    VaapenSearchField:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      - type: object
        properties:
          searchArea:
            type: string
            enum:
            - SKYTEVAAPEN
            - VAAPENDEL
            - BOTH
      required:
      - searchArea
    VaapenSearchQuery:
      type: object
      properties:
        filters:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/BooleanFilter"
            - $ref: "#/components/schemas/DateFilter"
            - $ref: "#/components/schemas/NumberFilter"
            - $ref: "#/components/schemas/StringFilter"
            - $ref: "#/components/schemas/TypeFilter"
        combineWith:
          type: string
          enum:
          - AND
          - OR
        sortBy:
          oneOf:
          - $ref: "#/components/schemas/SkytevaapenFieldBoolean"
          - $ref: "#/components/schemas/SkytevaapenFieldDate"
          - $ref: "#/components/schemas/SkytevaapenFieldNumber"
          - $ref: "#/components/schemas/SkytevaapenFieldString"
          - $ref: "#/components/schemas/SkytevaapenFieldType"
        sortDir:
          type: string
          enum:
          - ASC
          - DESC
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      required:
      - combineWith
      - filters
      - limit
      - offset
      - sortDir
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ammunisjonsalg:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    BrukesAv:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/BrukesAvErvervsloyvePeker"
          ERVERVSLOYVE_FULL: "#/components/schemas/BrukesAvErvervsloyveExpanded"
          SKYTEVAAPEN: "#/components/schemas/BrukesAvSkytevaapenPeker"
          SKYTEVAAPEN_FULL: "#/components/schemas/BrukesAvSkytevaapenExpanded"
      properties:
        brukesAvType:
          type: string
          enum:
          - ERVERVSLOYVE
          - SKYTEVAAPEN
          - ERVERVSLOYVE_FULL
          - SKYTEVAAPEN_FULL
      required:
      - brukesAvType
    BrukesAvErvervsloyveExpanded:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          modell:
            type: string
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
      required:
      - brukesAvType
      - skytevaapentype
    BrukesAvErvervsloyvePeker:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          ervervsId:
            type: string
      required:
      - brukesAvType
      - ervervsId
    BrukesAvSkytevaapenExpanded:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          annetFabrikkmerke:
            type: string
          modell:
            type: string
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
      required:
      - brukesAvType
      - funksjonsmaate
      - skytevaapentype
    BrukesAvSkytevaapenPeker:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          skytevaapenid:
            type: integer
            format: int64
      required:
      - brukesAvType
      - skytevaapenid
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ervervsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForErverv"
      - type: object
        properties:
          gyldigTil:
            type: string
            format: date
          typeErverv:
            type: string
            enum:
            - SKYTEVAAPEN
            - VAAPENDEL
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          vaapendeltype:
            type: string
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/Vaapendelgrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          spesifisering:
            $ref: "#/components/schemas/ErvervsloyveSpesifikt"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingEier"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/DigitalPerson"
            - $ref: "#/components/schemas/DigitalVirksomhet"
            - $ref: "#/components/schemas/ExistingDigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingDigitalEier"
            - $ref: "#/components/schemas/ExistingManuellEier"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/ExistingManuellEier"
            - $ref: "#/components/schemas/ManuellPoliti"
            - $ref: "#/components/schemas/ManuellUkjentPerson"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          brukesAv:
            oneOf:
            - $ref: "#/components/schemas/BrukesAvErvervsloyveExpanded"
            - $ref: "#/components/schemas/BrukesAvErvervsloyvePeker"
            - $ref: "#/components/schemas/BrukesAvSkytevaapenExpanded"
            - $ref: "#/components/schemas/BrukesAvSkytevaapenPeker"
          saksreferanse:
            type: string
      - $ref: "#/components/schemas/Loyve"
      description: Løyve for erverv av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeErverv
      - vedtaksdato
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        funksjonsmaate:
          type: string
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          UTEN_BEHOVSPROVING: "#/components/schemas/UtenBehovsprovingGrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ETTERREGISTRERT: "#/components/schemas/Etterregistrertgrunnlag"
          DEAKTIVERT: "#/components/schemas/Deaktivertgrunnlag"
          AMNESTI: "#/components/schemas/Amnestigrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          VAAPENDEL: "#/components/schemas/Vaapendelgrunnlag"
          UTRYDDELSE_AV_SKADEDYR: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          SLAKTING: "#/components/schemas/Slaktegrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - REPLIKA_LUFT_FJAER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - VAAPENDEL
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
      required:
      - grunnlagsType
    GrunnlagWithBeskrivelse:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type: string
      required:
      - grunnlagsType
    Innehavsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/Vaapendelgrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingEier"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/DigitalPerson"
            - $ref: "#/components/schemas/DigitalVirksomhet"
            - $ref: "#/components/schemas/ExistingDigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingDigitalEier"
            - $ref: "#/components/schemas/ExistingManuellEier"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/ExistingManuellEier"
            - $ref: "#/components/schemas/ManuellPoliti"
            - $ref: "#/components/schemas/ManuellUkjentPerson"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      - $ref: "#/components/schemas/Loyve"
      description: Løyve for innehavelse av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          unntattFraRegistreringIJegerregisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
      required:
      - grunnlagsType
      - tilleggsvaapen
      - unntattFraRegistreringIJegerregisteret
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - UNDERDEL
            - OVERDEL
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    LoyveForInnehav:
      allOf:
      - $ref: "#/components/schemas/Loyve"
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    NaeringAmmunisjon:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringIkkeRegpliktigeVaapen:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringMekling:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringUtleie:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    Naeringsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          innehaver:
            oneOf:
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
          loyvehaver:
            description: Løyvehaver for næringsløyvet - Kan kun være midlertidig null
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          dagligAnsvarshavende:
            description: Den daglige utførende ansvarshavende - Ikke obligatorisk
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          typeNaeringsvirksomhet:
            type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/Ammunisjonsalg"
              - $ref: "#/components/schemas/NaeringAmmunisjon"
              - $ref: "#/components/schemas/NaeringBegrensetHandel"
              - $ref: "#/components/schemas/NaeringBegrensetTilvirkning"
              - $ref: "#/components/schemas/NaeringHandel"
              - $ref: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
              - $ref: "#/components/schemas/NaeringMekling"
              - $ref: "#/components/schemas/NaeringTilvirkning"
              - $ref: "#/components/schemas/NaeringUtleie"
          avgrensninger:
            type: string
          dispensasjon:
            type: string
          saksreferanse:
            type: string
      - $ref: "#/components/schemas/LoyveForErverv"
      - $ref: "#/components/schemas/Loyve"
      description: Løyve for næringsdrivende virksomhet
      required:
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeNaeringsvirksomhet
      - vedtaksdato
    Naeringstype:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          HANDEL: "#/components/schemas/NaeringHandel"
          UTLEIE: "#/components/schemas/NaeringUtleie"
          MEKLING: "#/components/schemas/NaeringMekling"
          TILVIRKNING: "#/components/schemas/NaeringTilvirkning"
          HANDELIKKEREGPLIKTIGEVAAPEN: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
          BEGRENSETHANDEL: "#/components/schemas/NaeringBegrensetHandel"
          BEGRENSETTILVIRKNING: "#/components/schemas/NaeringBegrensetTilvirkning"
          AMMUNISJON: "#/components/schemas/Ammunisjonsalg"
      properties:
        type:
          type: string
          enum:
          - HANDEL
          - BEGRENSETHANDEL
          - UTLEIE
          - MEKLING
          - TILVIRKNING
          - BEGRENSETTILVIRKNING
          - HANDELIKKEREGPLIKTIGEVAAPEN
          - AMMUNISJON
      required:
      - type
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - lademekanisme
      - registreringsobjektType
      - skytevaapentype
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            $ref: "#/components/schemas/Samleromraade"
      required:
      - grunnlagsType
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          $ref: "#/components/schemas/EierPerson"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type: integer
          format: int32
      required:
      - beskrivelse
      - id
      - innehaver
      - navn
    SearchResponseVaapendel:
      type: object
      properties:
        result:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
        totalResults:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      required:
      - result
      - totalResults
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Skyteprogram:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type: array
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
      required:
      - arrangertAv
      - navn
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            $ref: "#/components/schemas/Skyteprogram"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type: string
      required:
      - grunnlagsType
      - reservevaapen
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentDel:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Vaapendel:
      allOf:
      - $ref: "#/components/schemas/Registreringsobjekt"
      - type: object
        properties:
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          vaapenstatus:
            type: string
            enum:
            - AKTIV
            - DESTRUERT
            - DEAKTIVERT
            - UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - SLETTET
          innehavsloyve:
            oneOf:
            - $ref: "#/components/schemas/Innehavsloyve"
            - $ref: "#/components/schemas/Naeringsloyve"
          annetFabrikkmerke:
            type: string
          modell:
            type: string
          korrigeringsstatus:
            type: string
            enum:
            - OK
            - TRENGER_GJENNOMGANG
            - UNDER_KORRIGERING
          vaapendeltype:
            type: string
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          serienummer:
            type: string
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
          UKJENT: "#/components/schemas/UkjentDel"
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    Vaapendelgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    SearchResponseSkytevaapen:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: "#/components/schemas/Skytevaapen"
        totalResults:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      required:
      - result
      - totalResults
    Skytevaapen:
      allOf:
      - $ref: "#/components/schemas/Registreringsobjekt"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator
          funksjonsmaate:
            type: string
            description: Funksjonsmåte for skytevåpenet
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          vaapenstatus:
            type: string
            enum:
            - AKTIV
            - DESTRUERT
            - DEAKTIVERT
            - UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - SLETTET
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          innehavsloyve:
            oneOf:
            - $ref: "#/components/schemas/Innehavsloyve"
            - $ref: "#/components/schemas/Naeringsloyve"
          vaapendeler:
            type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/Laaskasse"
              - $ref: "#/components/schemas/Pipe"
              - $ref: "#/components/schemas/Revolvertonne"
              - $ref: "#/components/schemas/Sluttstykke"
              - $ref: "#/components/schemas/UkjentDel"
          korrigeringsstatus:
            type: string
            enum:
            - OK
            - TRENGER_GJENNOMGANG
            - UNDER_KORRIGERING
          registreringsobjektType:
            type: string
            description: Type registreringsobjekt
            enum:
            - SKYTEVAAPEN
            - VAAPENDEL
            example: SkyteVaapen
          definerendeType:
            type: string
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
      description: Skytevåpen-modellen
      required:
      - definerendeType
      - funksjonsmaate
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    EieroverforingsloggRequest:
      type: object
      description: Forespørselsobjekt for å hente en logg over eieroverføringer.
      properties:
        involvertEier:
          type: string
          description: Filtrer på en involvert eier (kjøper eller selger) via fødselsnummer
            eller organisasjonsnummer.
        objektId:
          type: integer
          format: int64
          description: Filtrer loggen for en spesifikk våpen- eller våpendel-ID.
        offset:
          type: integer
          format: int64
          default: "0"
          description: Pagineringsoffset. Antall oppføringer som skal hoppes over.
        limit:
          type: integer
          format: int32
          default: "100"
          description: Pagineringsgrense. Maksimalt antall oppføringer som skal returneres.
    EieroverforingsloggVaapendel:
      type: object
      properties:
        historyId:
          type: integer
          format: int64
        objektId:
          type: integer
          format: int64
        tidligereHistorikkId:
          type: integer
          format: int64
        endringsaarsak:
          type: string
          enum:
          - MIGRERING
          - SAKSBEHANDLERENDRING
          - FORHANDLERENDRING
          - EIEROVERFORING
          - LAGERBEHOLDNING
          - POLITIETS_BESITTELSE
        tilInnehaver:
          type: string
        fraInnehaver:
          type: string
        tidspunkt:
          type: string
          format: date-time
        nyttObjekt:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
          - $ref: "#/components/schemas/UkjentDel"
        tidligereObjekt:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
          - $ref: "#/components/schemas/UkjentDel"
      required:
      - endringsaarsak
      - fraInnehaver
      - historyId
      - nyttObjekt
      - objektId
      - tidligereHistorikkId
      - tidspunkt
      - tilInnehaver
    EieroverforingsloggVaapen:
      type: object
      properties:
        historyId:
          type: integer
          format: int64
        objektId:
          type: integer
          format: int64
        tidligereHistorikkId:
          type: integer
          format: int64
        endringsaarsak:
          type: string
          enum:
          - MIGRERING
          - SAKSBEHANDLERENDRING
          - FORHANDLERENDRING
          - EIEROVERFORING
          - LAGERBEHOLDNING
          - POLITIETS_BESITTELSE
        tilInnehaver:
          type: string
        fraInnehaver:
          type: string
        tidspunkt:
          type: string
          format: date-time
        nyttObjekt:
          $ref: "#/components/schemas/Skytevaapen"
        tidligereObjekt:
          $ref: "#/components/schemas/Skytevaapen"
      required:
      - endringsaarsak
      - fraInnehaver
      - historyId
      - nyttObjekt
      - objektId
      - tidligereHistorikkId
      - tidligereObjekt
      - tidspunkt
      - tilInnehaver
    LoyveFieldBoolean:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - FRITAK_FRA_ALDER
    LoyveFieldDate:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - VEDTAKSDATO
    LoyveFieldString:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - EIERPERSON
      - OPPBEVARINGSANSVARLIG
      - OPPBEVARINGSANSVARLIG_VIRKSOMHET
      - EIERVIRKSOMHET
      - PAA_VEGNE_AV
      - SAKSREFERANSE
      - ID
    LoyveFieldType:
      allOf:
      - $ref: "#/components/schemas/SearchField"
      enum:
      - SKYTEVAAPENTYPE
      - VAAPENDELTYPE
      - ERVERVSTYPE
      - GRUNNLAGSTYPE
    LoyveSearchFilter:
      type: object
      discriminator:
        propertyName: type
      properties:
        field:
          oneOf:
          - $ref: "#/components/schemas/LoyveFieldBoolean"
          - $ref: "#/components/schemas/LoyveFieldDate"
          - $ref: "#/components/schemas/LoyveFieldString"
          - $ref: "#/components/schemas/LoyveFieldType"
          - $ref: "#/components/schemas/VaapenSearchField"
          - $ref: "#/components/schemas/SkytevaapenFieldBoolean"
          - $ref: "#/components/schemas/SkytevaapenFieldDate"
          - $ref: "#/components/schemas/SkytevaapenFieldNumber"
          - $ref: "#/components/schemas/SkytevaapenFieldString"
          - $ref: "#/components/schemas/SkytevaapenFieldType"
        type:
          type: string
          enum:
          - STRING
          - NUMBER
          - BOOLEAN
          - DATE
          - TYPE
      required:
      - field
      - type
    LoyveSearchQuery:
      type: object
      properties:
        filters:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/BooleanFilter"
            - $ref: "#/components/schemas/DateFilter"
            - $ref: "#/components/schemas/StringFilter"
            - $ref: "#/components/schemas/TypeFilter"
        combineWith:
          type: string
          enum:
          - AND
          - OR
        sortBy:
          oneOf:
          - $ref: "#/components/schemas/LoyveFieldBoolean"
          - $ref: "#/components/schemas/LoyveFieldDate"
          - $ref: "#/components/schemas/LoyveFieldString"
          - $ref: "#/components/schemas/LoyveFieldType"
          - $ref: "#/components/schemas/VaapenSearchField"
          - $ref: "#/components/schemas/SkytevaapenFieldBoolean"
          - $ref: "#/components/schemas/SkytevaapenFieldDate"
          - $ref: "#/components/schemas/SkytevaapenFieldNumber"
          - $ref: "#/components/schemas/SkytevaapenFieldString"
          - $ref: "#/components/schemas/SkytevaapenFieldType"
        sortDir:
          type: string
          enum:
          - ASC
          - DESC
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      required:
      - combineWith
      - filters
      - limit
      - offset
      - sortDir
    SearchField:
      type: object
    SearchResponseErvervsloyve:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: "#/components/schemas/Ervervsloyve"
        totalResults:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
      required:
      - result
      - totalResults
    AapnePall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: Åpne pall
      required:
      - pallId
      - type
    AnnetVaapen:
      type: object
      properties:
        id:
          type: string
        beskrivelse:
          type: string
        type:
          type: string
      required:
      - id
    EndeligDestruksjon:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: Endelig destruksjon fra Kripos
      required:
      - pallId
      - type
    EndrePakkeDistrikt:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakke:
            $ref: "#/components/schemas/Pakke"
      description: Endring på pakke fra et politikontor
      required:
      - pakke
      - type
    EndrePakkeKripos:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakke:
            $ref: "#/components/schemas/Pakke"
      description: Endring på pakke fra et kripos
      required:
      - pakke
      - type
    ForseglePall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
      description: Forsegle pall
      required:
      - pallId
      - type
    HendelsePoltietsBesittelse:
      type: object
      discriminator:
        propertyName: type
        mapping:
          PAKKE_OPPRETTET: "#/components/schemas/RegistrerPakke"
          PAKKE_ENDRING_DISTRIKT: "#/components/schemas/EndrePakkeDistrikt"
          PAKKE_TILBAKELEVERT: "#/components/schemas/TilbakeleverPakke"
          PAKKE_ENDRING_KRIPOS: "#/components/schemas/EndrePakkeKripos"
          PAKKE_UTLAANSENDRING: "#/components/schemas/PakkeEndringUtlaan"
          PAKKE_ENDRING_REFERANSESAMLING: "#/components/schemas/PakkeEndringReferansesamling"
          PALL_OPPRETTET: "#/components/schemas/PallUnderKonstruksjon"
          PAKKE_TIL_PALL: "#/components/schemas/PakkerTilPall"
          PAKKE_FRA_PALL: "#/components/schemas/PakkeFraPall"
          PALL_FORSEGLET: "#/components/schemas/ForseglePall"
          PALL_SENDT: "#/components/schemas/SendPall"
          PALL_MOTTATT_KRIPOS: "#/components/schemas/MottaPall"
          PALL_AAPNET: "#/components/schemas/AapnePall"
          PALL_SENDT_FORSVARET: "#/components/schemas/SendForsvaret"
          PALL_ENDELIG_DESTRUERT: "#/components/schemas/EndeligDestruksjon"
      properties:
        type:
          type: string
          enum:
          - PAKKE_OPPRETTET
          - PAKKE_ENDRING_DISTRIKT
          - PAKKE_TILBAKELEVERT
          - PAKKE_ENDRING_KRIPOS
          - PAKKE_TIL_PALL
          - PAKKE_FRA_PALL
          - PAKKE_UTLAANSENDRING
          - PAKKE_ENDRING_REFERANSESAMLING
          - PAKKE_SENDT
          - PAKKE_MOTTATT
          - PAKKE_KONTROLLERT_KRIPOS
          - PAKKE_MELLOMLAGRET
          - PAKKE_SENDT_FORSVARET
          - PAKKE_ENDELIG_DESTRUERT
          - PAKKE_BESLUTTET_HAANDTERING
          - PALL_OPPRETTET
          - PALL_ENDRING_DISTRIKT
          - PALL_FORSEGLET
          - PALL_SENDT
          - PALL_MELLOMLAGRET
          - PALL_ENDRING_KRIPOS
          - PALL_MOTTATT_KRIPOS
          - PALL_SENDT_FORSVARET
          - PALL_AAPNET
          - PALL_ENDELIG_DESTRUERT
      required:
      - type
    MottaPall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
          mottaker:
            type: string
          status:
            type: string
            enum:
            - UNDER_KONSTRUKSJON
            - MELLOMLAGRET
            - MOTTATT_KRIPOS
            - SENDT_FORSVARET
            - ENDELIG_DESTRUERT
            - SENDT_FRA_POLITI
      description: Motta pall
      required:
      - mottaker
      - pallId
      - status
      - type
    Pakke:
      type: object
      properties:
        id:
          type: string
        pakkenummer:
          type: string
        sikkerhetskontrollert:
          type: boolean
        kontrollertAv:
          type: string
        lokasjon:
          type: string
        pakkestatus:
          type: string
          enum:
          - REGISTRERT
          - SENDT_FRA_POLITIDISTRIKT
          - MOTTATT_KRIPOS
          - REFERANSESAMLING
          - KONTROLLERT_KRIPOS
          - MELLOMLAGRET
          - SENDT_FORSVARET
          - ENDELIG_DESTRUERT
        lagerplassering:
          type: string
        tilUtlaan:
          type: boolean
        merknad:
          type: string
        straffesaksnummer:
          type: string
        innkomstmaate:
          type: string
          enum:
          - INNLEVERT
          - TILBAKEKALT
          - BESLAGLAGT
        besluttetHandtering:
          type: string
          enum:
          - IKKE_BESLUTTET
          - DESTRUKSJON
          - TILBAKELEVERING
        besluttetAv:
          type: string
        annetVaapen:
          $ref: "#/components/schemas/AnnetVaapen"
        skyteVaapen:
          type: integer
          format: int64
        vaapendel:
          type: integer
          format: int64
      required:
      - besluttetHandtering
      - id
      - innkomstmaate
      - lokasjon
      - pakkestatus
      - tilUtlaan
    PakkeEndringReferansesamling:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakkeId:
            type: string
          referansesamlingEntry:
            $ref: "#/components/schemas/ReferansesamlingEntry"
      description: Pakke endring til referansesamling - ikke ferdig
      required:
      - pakkeId
      - referansesamlingEntry
      - type
    PakkeEndringUtlaan:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakkeId:
            type: string
          utlaan:
            $ref: "#/components/schemas/Utlaan"
      description: Pakke endring til utlån - ikke ferdig
      required:
      - pakkeId
      - type
      - utlaan
    PakkeFraPall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pakkeId:
            type: string
      description: Pakke fra pall
      required:
      - pakkeId
      - type
    PakkerTilPall:
      allOf:
      - $ref: "#/components/schemas/HendelsePoltietsBesittelse"
      - type: object
        properties:
          pallId:
            type: string
          pakkeIdEr:
            type: array
            items:
              type: string
      description: Pakker til pall
      required:
      - pakkeIdEr
      - pallId
      - type
    Pall:
      type: object
      properties:
        id:
          type: string
        pallnummer:
          type: string
        lokasjon:
          type: string
        avsender:
          type: string
        mottaker:
          type: string
[...]
