openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
- url: https://vaapen.ut1.brreg.no
  description: Utviklingsmiljø
paths:
  /api/virksomhet/naering/vaapen/lagerbeholdning:
    post:
      tags:
      - naering
      operationId: sendLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lagerbeholdning"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UploadStatus"
  /api/virksomhet/naering/vaapen/csv:
    post:
      tags:
      - naering
      operationId: convertLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Lagerbeholdning"
  /api/virksomhet/naering/forhandlerimport:
    post:
      tags:
      - naering
      operationId: sendLagerbeholdning_1
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Forhandlerimport"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UploadStatus"
  /api/virksomhet/masseoverforingsforslag:
    get:
      tags:
      - eieroverforing-controller
      operationId: finnMasseoverforingsforslag
      parameters:
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SimplePageRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageEieroverforingsforslagWithValidation"
    post:
      tags:
      - eieroverforing-controller
      operationId: oppretteMasseoverforingsforslag
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MasseoverforingsForslagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/korrigeringer:
    post:
      tags:
      - korreksjon-controller
      summary: Opprett korreksjon
      operationId: lagKorreksjon
      parameters:
      - name: orgnr
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/Skytevaapenmelding"
              - $ref: "#/components/schemas/Vaapendelmelding"
        required: true
      responses:
        "201":
          description: Korreksjon mottatt
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus.Created"
        "409":
          description: En korreksjon er allerede under behandling
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus.AlreadyExists"
        "500":
          description: Noe gikk galt
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus.Failed"
  /api/virksomhet/ervervsloyvedelingsforesporsler:
    get:
      tags:
      - ervervsloyvedelingsforesporsel-controller
      operationId: finnErvervsloyveForesporsel
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErvervsloyveForesporsel"
    post:
      tags:
      - ervervsloyvedelingsforesporsel-controller
      operationId: opprettLoyvedelingsforesporsel
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/PersonInnehaver"
              - $ref: "#/components/schemas/VirksomhetInnehaver"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/JsonMessage"
  /api/virksomhet/ervervsloyvedelingsforesporsler/svar:
    post:
      tags:
      - ervervsloyvedelingsforesporsel-controller
      operationId: svarErvervsloyveForesporsel
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AcceptLoyvedeling"
              - $ref: "#/components/schemas/RejectLoyvedeling"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErvervsloyvedelingValidationResult"
  /api/virksomhet/endring/vaapendel:
    post:
      tags:
      - naering-vaapen-endring-controller
      operationId: updateVaapendel
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/EndreAntallLop"
              - $ref: "#/components/schemas/EndreAvfyringsmekanismeTonne"
              - $ref: "#/components/schemas/EndreFabrikkmerke"
              - $ref: "#/components/schemas/EndreKaliber"
              - $ref: "#/components/schemas/EndreLademekanismeTonne"
              - $ref: "#/components/schemas/EndreModell"
              - $ref: "#/components/schemas/EndrePipelengde"
              - $ref: "#/components/schemas/EndreSluttstykketype"
              - $ref: "#/components/schemas/NyttSerienummer"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/virksomhet/endring/skytevaapen:
    post:
      tags:
      - naering-vaapen-endring-controller
      operationId: updateSkytevaapen
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/EndreAvfyringsmekanismeVaapen"
              - $ref: "#/components/schemas/EndreFunksjonsmaate"
              - $ref: "#/components/schemas/EndreLademekanismeVaapen"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/virksomhet/endring/skytevaapen/deler:
    post:
      tags:
      - naering-vaapen-endring-controller
      operationId: updateDelerSkytevaapen
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/KobleVaapendelFraVaapen"
              - $ref: "#/components/schemas/KobleVaapendelTilVaapen"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/virksomhet/eieroverforingsforslag:
    get:
      tags:
      - eieroverforing-controller
      operationId: finnEieroverforingsforslag
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EieroverforingsforslagWithValidation"
    post:
      tags:
      - eieroverforing-controller
      operationId: oppretteEieroverforingsforslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/MasseoverforingsForslagRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/eieroverforingsforslag/validate:
    post:
      tags:
      - eieroverforing-controller
      operationId: validateForslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/MasseoverforingsForslagRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/eieroverforingsforslag/svar:
    post:
      tags:
      - eieroverforing-controller
      operationId: svarEieroverforing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EieroverforingsforslagSvarRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/digitale-bevis:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaleBevis
      parameters:
      - name: inkluderQrKode
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/DigitaltBevisAnnetLoyveResponse"
                  - $ref: "#/components/schemas/DigitaltBevisSkytevaapenResponse"
                  - $ref: "#/components/schemas/DigitaltBevisVaapendelResponse"
    post:
      tags:
      - digitalt-bevis-controller
      operationId: createDigitaltBevis
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/OpprettDigitaltBevisAnnetLoyveRequest"
              - $ref: "#/components/schemas/OpprettDigitaltBevisInnehavsloyveRequest"
        required: true
      responses:
        "200":
          description: OK
  /api/virksomhet/whoami:
    get:
      tags:
      - login-controller
      operationId: whoAmI
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Innloggingsinfo"
  /api/virksomhet/naeringsloyver:
    get:
      tags:
      - naeringsloyve-controller
      operationId: getMineNaeringsloyver
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Naeringsloyve"
  /api/virksomhet/naeringsloyver/innsyn/{orgnummer}:
    get:
      tags:
      - naeringsloyve-controller
      operationId: getNaeringsloyveTilInnsyn
      parameters:
      - name: orgnummer
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/NaeringsloyveInnsyn"
  /api/virksomhet/naering/vaapen:
    get:
      tags:
      - naering
      operationId: getVaapen
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/PageRequestVaapen"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageSkytevaapen"
  /api/virksomhet/naering/vaapendeler:
    get:
      tags:
      - naering
      operationId: getVaapendeler
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/PageRequestVaapendel"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageVaapendel"
  /api/virksomhet/naering/vaapendeler/{id}:
    get:
      tags:
      - naering
      operationId: getVaapendelerById
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Laaskasse"
                - $ref: "#/components/schemas/Pipe"
                - $ref: "#/components/schemas/Revolvertonne"
                - $ref: "#/components/schemas/Sluttstykke"
                - $ref: "#/components/schemas/UkjentDel"
  /api/virksomhet/naering/vaapen/{id}:
    get:
      tags:
      - naering
      operationId: getVaapenById
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/masseoverforingsforslag/{forslagId}:
    get:
      tags:
      - eieroverforing-controller
      operationId: getMasseoverforingsforslagById
      parameters:
      - name: forslagId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingsforslagWithValidation"
  /api/virksomhet/masseoverforingsforslag/{forslagId}/vaapendeler:
    get:
      tags:
      - eieroverforing-controller
      operationId: getMasseoverforingsforslagVaapendel
      parameters:
      - name: forslagId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SimplePageRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageVaapendel"
  /api/virksomhet/masseoverforingsforslag/{forslagId}/skytevaapen:
    get:
      tags:
      - eieroverforing-controller
      operationId: getMasseoverforingsforslagSkytevaapen
      parameters:
      - name: forslagId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SimplePageRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageSkytevaapen"
  /api/virksomhet/ikke-naering/vaapen:
    get:
      tags:
      - virksomhet
      operationId: getVaapenVirksomhet
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/ikke-naering/vaapendeler:
    get:
      tags:
      - virksomhet
      operationId: getVaapendelerVirksomhet
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Laaskasse"
                  - $ref: "#/components/schemas/Pipe"
                  - $ref: "#/components/schemas/Revolvertonne"
                  - $ref: "#/components/schemas/Sluttstykke"
                  - $ref: "#/components/schemas/UkjentDel"
  /api/virksomhet/ikke-naering/vaapendeler/{id}:
    get:
      tags:
      - virksomhet
      operationId: getVaapendelerByVirksomhetAndId
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Laaskasse"
                - $ref: "#/components/schemas/Pipe"
                - $ref: "#/components/schemas/Revolvertonne"
                - $ref: "#/components/schemas/Sluttstykke"
                - $ref: "#/components/schemas/UkjentDel"
  /api/virksomhet/ikke-naering/vaapen/{id}:
    get:
      tags:
      - virksomhet
      operationId: getVaapenByVirksomhetAndId
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/ervervsloyver:
    get:
      tags:
      - loyve-controller
      operationId: finnErvervsloyver
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - AKTIVE
          - ALLE
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /api/virksomhet/eieroverforingsforslag/{forslagId}:
    get:
      tags:
      - eieroverforing-controller
      operationId: finnEieroverforingsforslagById
      parameters:
      - name: forslagId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingsforslagWithValidation"
  /api/virksomhet/digitale-bevis/{idDigitaltBevis}/kontroll:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaltBevisKontrollById
      parameters:
      - name: idDigitaltBevis
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/BeviskontrollAnnetLoyve"
                - $ref: "#/components/schemas/BeviskontrollSkytevaapen"
                - $ref: "#/components/schemas/BeviskontrollVaapendel"
  /api/virksomhet/digitale-bevis/innehavsloyveId/{idInnehavsloyve}:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaltBevisByInnehavsloyveId
      parameters:
      - name: idInnehavsloyve
        in: path
        required: true
        schema:
          type: string
      - name: inkluderQrKode
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/DigitaltBevisAnnetLoyveResponse"
                - $ref: "#/components/schemas/DigitaltBevisSkytevaapenResponse"
                - $ref: "#/components/schemas/DigitaltBevisVaapendelResponse"
    delete:
      tags:
      - digitalt-bevis-controller
      operationId: deleteDigitaltBevisByInnehavsloyveId
      parameters:
      - name: idInnehavsloyve
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/virksomhet/digitale-bevis/annetLoyveId/{idAnnetLoyve}:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaltBevisByAnnetLoyveId
      parameters:
      - name: idAnnetLoyve
        in: path
        required: true
        schema:
          type: string
      - name: inkluderQrKode
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DigitaltBevisAnnetLoyveResponse"
    delete:
      tags:
      - digitalt-bevis-controller
      operationId: deleteDigitaltBevisByAnnetLoyveId
      parameters:
      - name: idAnnetLoyve
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/virksomhet/delte-ervervsloyver:
    get:
      tags:
      - loyve-controller
      operationId: hentDelteLoyver
      parameters:
      - name: X-Loyveinnehaver
        in: header
        description: Custom header for sending Loyveinnehaver search parameter
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /api/virksomhet/delte-ervervsloyver/{loyveId}:
    get:
      tags:
      - loyve-controller
      operationId: getDeltErvervsloyveById
      parameters:
      - name: loyveId
        in: path
        required: true
        schema:
          type: string
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Ervervsloyve"
  /api/virksomhet/andre-loyver:
    get:
      tags:
      - loyve-controller
      operationId: finnAktiveAndreLoyver
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Ammunisjonskjoployve"
                  - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                  - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                  - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                  - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                  - $ref: "#/components/schemas/Laaneloyve"
                  - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                  - $ref: "#/components/schemas/Naeringsimportloyve"
                  - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                  - $ref: "#/components/schemas/Privatimportloyve"
                  - $ref: "#/components/schemas/Utforrselsloyve"
  /api/virksomhet/andre-loyver/{loyveId}:
    get:
      tags:
      - loyve-controller
      operationId: findAktivtAnnetLoyveById
      parameters:
      - name: loyveId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Ammunisjonskjoployve"
                - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                - $ref: "#/components/schemas/GodkjentSamlerloyve"
                - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                - $ref: "#/components/schemas/Laaneloyve"
                - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                - $ref: "#/components/schemas/Naeringsimportloyve"
                - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                - $ref: "#/components/schemas/Privatimportloyve"
                - $ref: "#/components/schemas/Utforrselsloyve"
components:
  schemas:
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ammunisjonsalg:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    BrukesAv:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/BrukesAvErvervsloyvePeker"
          ERVERVSLOYVE_FULL: "#/components/schemas/BrukesAvErvervsloyveExpanded"
          SKYTEVAAPEN: "#/components/schemas/BrukesAvSkytevaapenPeker"
          SKYTEVAAPEN_FULL: "#/components/schemas/BrukesAvSkytevaapenExpanded"
      properties:
        brukesAvType:
          type: string
          enum:
          - ERVERVSLOYVE
          - SKYTEVAAPEN
          - ERVERVSLOYVE_FULL
          - SKYTEVAAPEN_FULL
      required:
      - brukesAvType
    BrukesAvErvervsloyveExpanded:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          ervervsId:
            type: string
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          modell:
            type: string
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
      required:
      - brukesAvType
      - ervervsId
    BrukesAvErvervsloyvePeker:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          ervervsId:
            type: string
      required:
      - brukesAvType
      - ervervsId
    BrukesAvSkytevaapenExpanded:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          skytevaapen:
            description: Skytevåpen-modellen
            required:
            - funksjonsmaate
            - skytevaapentype
          skytevaapenid:
            type: integer
            format: int64
          modell:
            type: string
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
      required:
      - brukesAvType
      - skytevaapen
      - skytevaapenid
    BrukesAvSkytevaapenPeker:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          skytevaapenid:
            type: integer
            format: int64
      required:
      - brukesAvType
      - skytevaapenid
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    DigitalEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          navn:
            type: string
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
      required:
      - eiertype
    DigitalPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - type: object
        properties:
          personidentifikator:
            type: string
          foedselsdato:
            type: string
            format: date
      required:
      - eiertype
      - personidentifikator
    DigitalVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - type: object
        properties:
          organisasjonsnummer:
            type: string
      required:
      - eiertype
      - organisasjonsnummer
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
          UKJENT_INNEHAVER: "#/components/schemas/UkjentInnehaver"
          POLITI: "#/components/schemas/PolitiInnehaver"
      properties:
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        id:
          type: integer
          format: int64
      required:
      - eiertype
    EierPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalPerson"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: 12345678901
          navn:
            type: string
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type: string
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en person
      required:
      - eiertype
      - personidentifikator
    EierVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalVirksomhet"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      - $ref: "#/components/schemas/Eier"
      description: Representerer en virksomhet
      required:
      - eiertype
      - organisasjonsnummer
    Ervervsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForErverv"
      - type: object
        properties:
          gyldigTil:
            type: string
            format: date
          typeErverv:
            type: string
            enum:
            - SKYTEVAAPEN
            - VAAPENDEL
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          vaapendeltype:
            type: string
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/Vaapendelgrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          spesifisering:
            $ref: "#/components/schemas/ErvervsloyveSpesifikt"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingEier"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/DigitalPerson"
            - $ref: "#/components/schemas/DigitalVirksomhet"
            - $ref: "#/components/schemas/ExistingDigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingDigitalEier"
            - $ref: "#/components/schemas/ExistingManuellEier"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/ExistingManuellEier"
            - $ref: "#/components/schemas/ManuellPoliti"
            - $ref: "#/components/schemas/ManuellUkjentPerson"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          brukesAv:
            oneOf:
            - $ref: "#/components/schemas/BrukesAvErvervsloyveExpanded"
            - $ref: "#/components/schemas/BrukesAvErvervsloyvePeker"
            - $ref: "#/components/schemas/BrukesAvSkytevaapenExpanded"
            - $ref: "#/components/schemas/BrukesAvSkytevaapenPeker"
          saksreferanse:
            type: string
      description: Løyve for erverv av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeErverv
      - vedtaksdato
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        funksjonsmaate:
          type: string
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    ExistingDigitalEier:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - $ref: "#/components/schemas/ExistingEier"
      required:
      - eiertype
      - id
    ExistingEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/ExistingVirksomhet"
          PERSON: "#/components/schemas/ExistingPerson"
      required:
      - eiertype
      - id
    ExistingManuellEier:
      allOf:
      - $ref: "#/components/schemas/ExistingEier"
      - $ref: "#/components/schemas/ManuellEier"
      required:
      - eiertype
      - id
    ExistingPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalPerson"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: 12345678901
          navn:
            type: string
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type: string
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/ExistingDigitalEier"
      - $ref: "#/components/schemas/ExistingEier"
      description: Representerer en person
      required:
      - eiertype
      - id
      - personidentifikator
    ExistingPolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/ExistingManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: false
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/ManuellPoliti"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - id
      - importertKategori
      - lokasjon
    ExistingUkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/ExistingManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: 311280
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type: string
            description: Navn på utenlandsk person
            example: Kari Ole Normann
          adresse:
            type: string
            description: Adressen til utenlandsk person
            example: Kari Ole Normann
          stilling:
            type: string
            description: Stilling til utenlandsk person
            example: Diplomat
          telefon:
            type: string
            description: Telefon til utenlandsk person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/ManuellUkjentPerson"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - id
      - personidentifikator
      - vaapenkortSid
    ExistingVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalVirksomhet"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      - $ref: "#/components/schemas/ExistingDigitalEier"
      - $ref: "#/components/schemas/ExistingEier"
      required:
      - eiertype
      - id
      - organisasjonsnummer
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          UTEN_BEHOVSPROVING: "#/components/schemas/UtenBehovsprovingGrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ETTERREGISTRERT: "#/components/schemas/Etterregistrertgrunnlag"
          DEAKTIVERT: "#/components/schemas/Deaktivertgrunnlag"
          AMNESTI: "#/components/schemas/Amnestigrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          VAAPENDEL: "#/components/schemas/Vaapendelgrunnlag"
          UTRYDDELSE_AV_SKADEDYR: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          SLAKTING: "#/components/schemas/Slaktegrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - REPLIKA_LUFT_FJAER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - VAAPENDEL
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
      required:
      - grunnlagsType
    GrunnlagWithBeskrivelse:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type: string
      required:
      - grunnlagsType
    Innehavsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/Vaapendelgrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingEier"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/DigitalPerson"
            - $ref: "#/components/schemas/DigitalVirksomhet"
            - $ref: "#/components/schemas/ExistingDigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingDigitalEier"
            - $ref: "#/components/schemas/ExistingManuellEier"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPerson"
            - $ref: "#/components/schemas/ExistingVirksomhet"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/ExistingManuellEier"
            - $ref: "#/components/schemas/ManuellPoliti"
            - $ref: "#/components/schemas/ManuellUkjentPerson"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/ExistingPolitiInnehaver"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/ExistingUkjentInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      description: Løyve for innehavelse av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          unntattFraRegistreringIJegerregisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
      required:
      - grunnlagsType
      - tilleggsvaapen
      - unntattFraRegistreringIJegerregisteret
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - UNDERDEL
            - OVERDEL
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    Lagerbeholdning:
      type: object
      properties:
        organisasjonsnummer:
          type: string
        registrertAv:
          type: string
        vaapen:
          type: array
          items:
            $ref: "#/components/schemas/Lagervaapen"
        deler:
          type: array
          items:
            $ref: "#/components/schemas/Lagerdel"
      required:
      - deler
      - organisasjonsnummer
      - registrertAv
      - vaapen
    Lagerdel:
      type: object
      properties:
        del:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
          - $ref: "#/components/schemas/UkjentDel"
        lagerId:
          type: string
      required:
      - del
      - lagerId
    Lagervaapen:
      type: object
      properties:
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        lagerId:
          type: string
      required:
      - lagerId
      - vaapen
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        loyveId:
          type: string
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingEier"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/DigitalPerson"
          - $ref: "#/components/schemas/DigitalVirksomhet"
          - $ref: "#/components/schemas/ExistingDigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingDigitalEier"
          - $ref: "#/components/schemas/ExistingManuellEier"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPolitiInnehaver"
          - $ref: "#/components/schemas/ExistingUkjentInnehaver"
          - $ref: "#/components/schemas/ExistingManuellEier"
          - $ref: "#/components/schemas/ManuellPoliti"
          - $ref: "#/components/schemas/ManuellUkjentPerson"
          - $ref: "#/components/schemas/ExistingPolitiInnehaver"
          - $ref: "#/components/schemas/ExistingUkjentInnehaver"
          - $ref: "#/components/schemas/ExistingPolitiInnehaver"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/ExistingUkjentInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    ManuellEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      required:
      - eiertype
    ManuellPoliti:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          lokasjon:
            type: string
          importertKategori:
            type: boolean
      required:
      - eiertype
      - importertKategori
      - lokasjon
    ManuellUkjentPerson:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          navn:
            type: string
          vaapenkortSid:
            type: string
          adresse:
            type: string
          stilling:
            type: string
          personidentifikator:
            type: string
          telefon:
            type: string
      required:
      - eiertype
      - personidentifikator
      - vaapenkortSid
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    NaeringAmmunisjon:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringIkkeRegpliktigeVaapen:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringMekling:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringUtleie:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    Naeringsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          innehaver:
            oneOf:
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ExistingVirksomhet"
          loyvehaver:
            description: Løyvehaver for næringsløyvet - Kan kun være midlertidig null
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          dagligAnsvarshavende:
            description: Den daglige utførende ansvarshavende - Ikke obligatorisk
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/ExistingPerson"
          typeNaeringsvirksomhet:
            type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/Ammunisjonsalg"
              - $ref: "#/components/schemas/NaeringAmmunisjon"
              - $ref: "#/components/schemas/NaeringBegrensetHandel"
              - $ref: "#/components/schemas/NaeringBegrensetTilvirkning"
              - $ref: "#/components/schemas/NaeringHandel"
              - $ref: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
              - $ref: "#/components/schemas/NaeringMekling"
              - $ref: "#/components/schemas/NaeringTilvirkning"
              - $ref: "#/components/schemas/NaeringUtleie"
          avgrensninger:
            type: string
          dispensasjon:
            type: string
          saksreferanse:
            type: string
      - $ref: "#/components/schemas/LoyveForErverv"
      description: Løyve for næringsdrivende virksomhet
      required:
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeNaeringsvirksomhet
      - vedtaksdato
    Naeringstype:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          HANDEL: "#/components/schemas/NaeringHandel"
          UTLEIE: "#/components/schemas/NaeringUtleie"
          MEKLING: "#/components/schemas/NaeringMekling"
          TILVIRKNING: "#/components/schemas/NaeringTilvirkning"
          HANDELIKKEREGPLIKTIGEVAAPEN: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
          BEGRENSETHANDEL: "#/components/schemas/NaeringBegrensetHandel"
          BEGRENSETTILVIRKNING: "#/components/schemas/NaeringBegrensetTilvirkning"
          AMMUNISJON: "#/components/schemas/Ammunisjonsalg"
      properties:
        type:
          type: string
          enum:
          - HANDEL
          - BEGRENSETHANDEL
          - UTLEIE
          - MEKLING
          - TILVIRKNING
          - BEGRENSETTILVIRKNING
          - HANDELIKKEREGPLIKTIGEVAAPEN
          - AMMUNISJON
      required:
      - type
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    PolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellPoliti"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: false
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - importertKategori
      - lokasjon
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - lademekanisme
      - registreringsobjektType
      - skytevaapentype
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            $ref: "#/components/schemas/Samleromraade"
      required:
      - grunnlagsType
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          $ref: "#/components/schemas/EierPerson"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type: integer
          format: int32
      required:
      - beskrivelse
      - id
      - innehaver
      - navn
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Skyteprogram:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type: array
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
      required:
      - arrangertAv
      - navn
    Skytevaapen:
      type: object
      description: Skytevåpen-modellen
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
          - SLETTET
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - LAASKASSE
          - PIPE
          - REVOLVERTONNE
          - SLUTTSTYKKE
          - UKJENT
      required:
      - definerendeType
      - funksjonsmaate
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            $ref: "#/components/schemas/Skyteprogram"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type: string
      required:
      - grunnlagsType
      - reservevaapen
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentDel:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellUkjentPerson"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: 311280
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type: string
            description: Navn på ukjent person
            example: Kari Ole Normann
          adresse:
            type: string
            description: Adressen til ukjent person
            example: Kari Ole Normann
          stilling:
            type: string
            description: Stilling til ukjent person
            example: Diplomat
          telefon:
            type: string
            description: Telefon til ukjent person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - personidentifikator
      - vaapenkortSid
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Vaapendel:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
          UKJENT: "#/components/schemas/UkjentDel"
      properties:
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
          - SLETTET
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        vaapendeltype:
          type: string
          enum:
          - LAASKASSE
          - PIPE
          - REVOLVERTONNE
          - SLUTTSTYKKE
          - UKJENT
        serienummer:
          type: string
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        annetFabrikkmerke:
          type: string
        modell:
          type: string
        id:
          type: integer
          format: int64
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    Vaapendelgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UploadStatus:
      type: object
      properties:
        status:
          type: string
      required:
      - status
    Forhandlerimport:
      type: object
      properties:
        importloyveid:
          type: string
        lagerbeholdning:
          $ref: "#/components/schemas/Lagerbeholdning"
        status:
          type: string
          enum:
          - DELVIS_BENYTTET
          - BENYTTET
      required:
      - importloyveid
      - lagerbeholdning
      - status
    MasseoverforingsForslagRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          erverversLoyveId:
            type: string
          skytevaapen:
            type: array
            items:
              type: integer
              format: int64
          loseVaapendeler:
            type: array
            items:
              type: integer
              format: int64
      required:
      - erverversLoyveId
      - loseVaapendeler
      - skytevaapen
    EieroverforingError:
      type: object
      properties:
        loyveFelt:
          type: string
        modellFelt:
          type: string
        errorType:
          type: string
          enum:
          - ERROR_LOYVETYPE
          - ERROR_FUNKSJONSMAATE
          - CRITICAL_FUNKSJONSMAATE
          - ERROR_SKYTEVAAPENTYPE
          - CRITICAL_SKYTEVAAPENTYPE
          - CRITICAL_SKYTEVAAPENTYPE_UKJENT
          - ERROR_FABRIKKMERKE
          - WARNING_MODELL
          - ERROR_AVFYRINGSMEKANISME
          - ERROR_LADEMEKANISME
          - CRITICAL_VAAPENDEFINERENDE
          - ERROR_VAAPENDELTYPE
          - CRITICAL_VAAPENDELTYPE_UKJENT
          - ERROR_SKYTEVAAPEN_FINNES_IKKE
          - ERROR_ERVERVSLOYVE_FINNES_IKKE
          - ERROR_VAAPENDEL_FINNES_IKKE
          - ERROR_UGYLDIG_VAAPEN
          - ERROR_NAERINGSLOYVE_FINNES_IKKE
          - ERROR_VAAPEN_UTEN_VAAPENDEL
          - ERROR_FORSLAG_IKKE_FUNNET
          - ERROR_ERVERVER_MATCHER_IKKE_LOYVEINNEHAVER
      required:
      - errorType
      - loyveFelt
      - modellFelt
    EieroverforingValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - WARNING
          - ERROR
          - CRITICAL
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
      required:
      - errors
      - status
      - warnings
    Korreksjonsmelding:
      type: object
      discriminator:
        propertyName: type
      properties:
        meldingTilSaksbehandler:
          type: string
        type:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
      required:
      - type
    Skytevaapenmelding:
      allOf:
      - $ref: "#/components/schemas/Korreksjonsmelding"
      - type: object
        properties:
          skytevaapen:
            $ref: "#/components/schemas/Skytevaapen"
      required:
      - skytevaapen
      - type
    Vaapendelmelding:
      allOf:
      - $ref: "#/components/schemas/Korreksjonsmelding"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
      required:
      - type
      - vaapendel
    KorreksjonResponseStatus.Created:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
      required:
      - id
      - status
    KorreksjonResponseStatus.AlreadyExists:
      type: object
      properties:
        reason:
          type: string
        status:
          type: string
      required:
      - reason
      - status
    KorreksjonResponseStatus.Failed:
      type: object
      properties:
        reason:
          type: string
        status:
          type: string
      required:
      - reason
      - status
    Innehaver: {}
    PersonInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          personidentifikator:
            type: string
      required:
      - personidentifikator
    VirksomhetInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          organisasjonsnummer:
            type: string
      required:
      - organisasjonsnummer
    JsonMessage:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    AcceptLoyvedeling:
      allOf:
      - $ref: "#/components/schemas/Loyvedeling"
      - type: object
        properties:
          loyveId:
            type: string
      required:
      - ervervsloyveForesporselId
      - loyveId
      - svartype
    Loyvedeling:
      type: object
      discriminator:
        propertyName: svartype
        mapping:
          ACCEPT: "#/components/schemas/AcceptLoyvedeling"
          REJECT: "#/components/schemas/RejectLoyvedeling"
      properties:
        ervervsloyveForesporselId:
          type: integer
          format: int64
        svartype:
          type: string
          description: Type svar på loyvedelingsforespørsel
          enum:
          - ACCEPT
          - REJECT
      required:
      - ervervsloyveForesporselId
      - svartype
    RejectLoyvedeling:
      allOf:
      - $ref: "#/components/schemas/Loyvedeling"
      required:
      - ervervsloyveForesporselId
      - svartype
    ErvervsloyvedelingValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - OK
          - ERROR
      required:
      - status
    EndreAntallLop:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          antallLop:
            type: integer
            format: int32
      required:
      - antallLop
      - endringstype
      - vaapendelid
    EndreAvfyringsmekanismeTonne:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
      required:
      - avfyringsmekanisme
      - endringstype
      - vaapendelid
    EndreFabrikkmerke:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          fabrikkmerke:
            $ref: "#/components/schemas/Fabrikkmerke"
          annetFabrikkmerke:
            type: string
      required:
      - endringstype
      - vaapendelid
    EndreKaliber:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - endringstype
      - kaliber
      - vaapendelid
    EndreLademekanismeTonne:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
      required:
      - endringstype
      - lademekanisme
      - vaapendelid
    EndreModell:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          modell:
            type: string
      required:
      - endringstype
      - modell
      - vaapendelid
    EndrePipelengde:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
      required:
      - endringstype
      - pipelengde
      - vaapendelid
    EndreSluttstykketype:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - endringstype
      - sluttstykketype
      - vaapendelid
    NyttSerienummer:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          serienummer:
            type: string
      required:
      - endringstype
      - serienummer
      - vaapendelid
    VaapendelEndring:
      type: object
      description: Våpendelendring for næringsdrivende
      discriminator:
        propertyName: endringstype
        mapping:
          SERIENUMMER: "#/components/schemas/NyttSerienummer"
          FABRIKKMERKE: "#/components/schemas/EndreFabrikkmerke"
          KALIBER: "#/components/schemas/EndreKaliber"
          MODELL: "#/components/schemas/EndreModell"
          PIPELENGDE: "#/components/schemas/EndrePipelengde"
          ANTALL_LOP: "#/components/schemas/EndreAntallLop"
          SLUTTSTYKKETYPE: "#/components/schemas/EndreSluttstykketype"
          AVFYRINGSMEKANISME: "#/components/schemas/EndreAvfyringsmekanismeTonne"
          LADEMEKANISME: "#/components/schemas/EndreLademekanismeTonne"
      properties:
        vaapendelid:
          type: integer
          format: int64
        endringstype:
          type: string
          enum:
          - SERIENUMMER
          - DELETE_VAAPENDEL
          - CREATE_VAAPENDEL
          - FABRIKKMERKE
          - KALIBER
          - MODELL
          - PIPELENGDE
          - ANTALL_LOP
          - SLUTTSTYKKETYPE
          - AVFYRINGSMEKANISME
          - LADEMEKANISME
      required:
      - endringstype
      - vaapendelid
    EndreAvfyringsmekanismeVaapen:
      allOf:
      - $ref: "#/components/schemas/VaapenEndring"
      - type: object
        properties:
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
      required:
      - avfyringsmekanisme
      - endringstype
      - vaapenid
    EndreFunksjonsmaate:
      allOf:
      - $ref: "#/components/schemas/VaapenEndring"
      - type: object
        properties:
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
      required:
      - endringstype
      - funksjonsmaate
      - vaapenid
    EndreLademekanismeVaapen:
      allOf:
      - $ref: "#/components/schemas/VaapenEndring"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
      required:
      - endringstype
      - lademekanisme
      - vaapenid
    VaapenEndring:
      type: object
      description: Våpenendring for næringsdrivende
      discriminator:
        propertyName: endringstype
        mapping:
          FUNKSJONSMAATE: "#/components/schemas/EndreFunksjonsmaate"
          AVFYRINGSMEKANISME: "#/components/schemas/EndreAvfyringsmekanismeVaapen"
          LADEMEKANISME: "#/components/schemas/EndreLademekanismeVaapen"
      properties:
        vaapenid:
          type: integer
          format: int64
        endringstype:
          type: string
          enum:
          - FUNKSJONSMAATE
          - ATTACH_VAAPENDEL
          - DETATCH_VAAPENDEL
          - AVFYRINGSMEKANISME
          - LADEMEKANISME
      required:
      - endringstype
      - vaapenid
    KobleVaapendelFraVaapen:
      allOf:
      - $ref: "#/components/schemas/KoblingsEndring"
      required:
      - endringstype
      - vaapendelid
      - vaapenid
    KobleVaapendelTilVaapen:
      allOf:
      - $ref: "#/components/schemas/KoblingsEndring"
      required:
      - endringstype
      - vaapendelid
      - vaapenid
    KoblingsEndring:
      type: object
      description: Våpenkoblingsendring for næringsdrivende
      discriminator:
        propertyName: endringstype
        mapping:
          ATTACH_VAAPENDEL: "#/components/schemas/KobleVaapendelTilVaapen"
          DETATCH_VAAPENDEL: "#/components/schemas/KobleVaapendelFraVaapen"
      properties:
        vaapendelid:
          type: integer
          format: int64
        vaapenid:
          type: integer
          format: int64
        endringstype:
          type: string
          enum:
          - FUNKSJONSMAATE
          - ATTACH_VAAPENDEL
          - DETATCH_VAAPENDEL
          - AVFYRINGSMEKANISME
          - LADEMEKANISME
      required:
      - endringstype
      - vaapendelid
      - vaapenid
    EieroverforingsforslagRequest: {}
    SkytevaapenEieroverforingsforslagNaeringRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
      required:
      - naeringsloyveId
      - skytevaapenId
      - vaapendeler
    SkytevaapenEieroverforingsforslagRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
      required:
      - ervervsloyveId
      - skytevaapenId
      - vaapendeler
    VaapendelEieroverforingsforslagNaeringRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
          vaapendelId:
            type: integer
            format: int64
      required:
      - naeringsloyveId
      - vaapendelId
    VaapendelEieroverforingsforslagRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
          vaapendelId:
            type: integer
            format: int64
      required:
      - ervervsloyveId
      - vaapendelId
    EieroverforingsforslagSvarRequest:
      type: object
      properties:
        eieroverforingId:
          type: integer
          format: int64
        svar:
          type: string
          enum:
          - AKSEPTER
          - AVSLAA
      required:
      - eieroverforingId
      - svar
    OpprettDigitaltBevisAnnetLoyveRequest:
      allOf:
      - $ref: "#/components/schemas/OpprettDigitaltBevisRequest"
      - type: object
        properties:
          annetLoyveId:
            type: string
      required:
      - annetLoyveId
      - gyldigTil
      - type
    OpprettDigitaltBevisInnehavsloyveRequest:
      allOf:
      - $ref: "#/components/schemas/OpprettDigitaltBevisRequest"
      - type: object
        properties:
          innehavsloyveId:
            type: string
      required:
      - gyldigTil
      - innehavsloyveId
      - type
    OpprettDigitaltBevisRequest:
      type: object
      discriminator:
        propertyName: type
      properties:
        gyldigTil:
          type: string
          format: date
        type:
          type: string
          enum:
          - OPPRETT_BEVIS_INNEHAVSLOYVE
          - OPPRETT_BEVIS_ANNET_LOYVE
      required:
      - gyldigTil
      - type
    Innloggingsinfo:
      type: object
      properties:
        person:
          type: string
        virksomhet:
          type: string
        naeringsvirksomhet:
          type: boolean
        borsemaker:
          type: boolean
      required:
      - borsemaker
      - naeringsvirksomhet
      - person
      - virksomhet
    NaeringsloyveInnsyn:
      type: object
      properties:
        loyveId:
          type: string
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingVirksomhet"
        typeNaeringsvirksomhet:
          type: array
          items:
            type: string
            enum:
            - HANDEL
            - BEGRENSETHANDEL
            - UTLEIE
            - MEKLING
            - TILVIRKNING
            - BEGRENSETTILVIRKNING
            - HANDELIKKEREGPLIKTIGEVAAPEN
            - AMMUNISJON
      required:
      - innehaver
      - loyveId
      - typeNaeringsvirksomhet
    PageRequestVaapen:
      type: object
      properties:
        page:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        serienummer:
          type: string
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        merke:
          type: integer
          format: int32
        modell:
          type: string
      required:
      - page
      - size
    PageSkytevaapen:
      type: object
      description: Representerer en 'side' av data i et paginert resultatsett.
      properties:
        content:
          type: array
          description: Listen med elementer for den gjeldende siden.
          items:
            $ref: "#/components/schemas/Skytevaapen"
        pageSize:
          type: integer
          format: int32
          description: Antall elementer på denne siden.
          example: 50
        pageNumber:
          type: integer
          format: int32
          description: Gjeldende sidenummer (1-indeksert).
          example: 1
        totalElements:
          type: integer
          format: int64
          description: Totalt antall elementer på tvers av alle sider.
          example: 500
        totalPages:
          type: integer
          format: int64
          description: Beregnet totalt antall sider. Er 0 hvis det ikke finnes noen
            elementer.
          example: 101
        isFirst:
          type: boolean
        isLast:
          type: boolean
      required:
      - content
      - isFirst
      - isLast
      - pageNumber
      - pageSize
      - totalElements
      - totalPages
    PageRequestVaapendel:
      type: object
      properties:
        page:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        vaapenkobling:
          type: string
          enum:
          - ALLE
          - LOSE
        serienummer:
          type: string
        vaapendeltype:
          type: string
          enum:
          - LAASKASSE
          - PIPE
          - REVOLVERTONNE
          - SLUTTSTYKKE
          - UKJENT
        merke:
          type: integer
          format: int32
        modell:
          type: string
      required:
      - page
      - size
      - vaapenkobling
    PageVaapendel:
      type: object
      description: Representerer en 'side' av data i et paginert resultatsett.
      properties:
        content:
          type: array
          description: Listen med elementer for den gjeldende siden.
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
        pageSize:
          type: integer
          format: int32
          description: Antall elementer på denne siden.
          example: 50
        pageNumber:
          type: integer
          format: int32
          description: Gjeldende sidenummer (1-indeksert).
          example: 1
        totalElements:
          type: integer
          format: int64
          description: Totalt antall elementer på tvers av alle sider.
          example: 500
        totalPages:
          type: integer
          format: int64
          description: Beregnet totalt antall sider. Er 0 hvis det ikke finnes noen
            elementer.
          example: 101
        isFirst:
          type: boolean
        isLast:
          type: boolean
      required:
      - content
      - isFirst
      - isLast
      - pageNumber
      - pageSize
      - totalElements
      - totalPages
    SimplePageRequest:
      type: object
      properties:
        page:
          type: integer
          format: int32
          default: 1
          description: Pagineringssidenummer.
        size:
          type: integer
          format: int32
          default: 50
          description: Pagineringsgrense. Maksimalt antall oppføringer som skal returneres.
    Eieroverforingsforslag:
      type: object
      properties:
        vaapeneier:
          oneOf:
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
        mottakersLoyve:
          oneOf:
          - $ref: "#/components/schemas/Ervervsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        id:
          type: integer
          format: int64
      required:
      - id
      - mottakersLoyve
      - vaapeneier
    EieroverforingsforslagWithValidation:
      type: object
      properties:
        forslag:
          oneOf:
          - $ref: "#/components/schemas/Masseoverforingsforslag"
          - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslag"
          - $ref: "#/components/schemas/VaapendelEieroverforingsforslag"
        validation:
          $ref: "#/components/schemas/EieroverforingValidationResult"
      required:
      - forslag
      - validation
    LoyveForErverv:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/Ervervsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        loyveId:
          type: string
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingEier"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/DigitalPerson"
          - $ref: "#/components/schemas/DigitalVirksomhet"
          - $ref: "#/components/schemas/ExistingDigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
          - $ref: "#/components/schemas/ExistingDigitalEier"
          - $ref: "#/components/schemas/ExistingManuellEier"
          - $ref: "#/components/schemas/ExistingPerson"
[...]
