openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
- url: https://vaapen.ut1.brreg.no
  description: Utviklingsmiljø
paths:
  /api/virksomhet/vaapenskap:
    get:
      tags:
      - vaapenoppbevaring-controller
      operationId: getVaapenskapByOrg
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vaapenskap"
    post:
      tags:
      - vaapenoppbevaring-controller
      operationId: createVaapenskap
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVaapenskap"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /api/virksomhet/naering/vaapen/lagerbeholdning:
    post:
      tags:
      - naering
      operationId: sendLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lagerbeholdning"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UploadStatus"
  /api/virksomhet/naering/vaapen/csv:
    post:
      tags:
      - naering
      operationId: convertLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Lagerbeholdning"
  /api/virksomhet/naering/forhandlerimport:
    post:
      tags:
      - naering
      operationId: sendLagerbeholdning_1
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Forhandlerimport"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UploadStatus"
  /api/virksomhet/masseoverforingsforslag:
    get:
      tags:
      - eieroverforing-controller
      operationId: finnMasseoverforingsforslag
      parameters:
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SimplePageRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageEieroverforingsforslagWithValidation"
    post:
      tags:
      - eieroverforing-controller
      operationId: oppretteMasseoverforingsforslag
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MasseoverforingsForslagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/korrigeringer:
    post:
      tags:
      - korreksjon-controller
      summary: Opprett korreksjon
      operationId: lagKorreksjon
      parameters:
      - name: orgnr
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/Skytevaapenmelding"
              - $ref: "#/components/schemas/Vaapendelmelding"
        required: true
      responses:
        "201":
          description: Korreksjon mottatt
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus.Created"
        "409":
          description: En korreksjon er allerede under behandling
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus.AlreadyExists"
        "500":
          description: Noe gikk galt
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus.Failed"
  /api/virksomhet/ervervsloyvedelingsforesporsler:
    get:
      tags:
      - ervervsloyvedelingsforesporsel-controller
      operationId: finnErvervsloyveForesporsel
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErvervsloyveForesporsel"
    post:
      tags:
      - ervervsloyvedelingsforesporsel-controller
      operationId: opprettLoyvedelingsforesporsel
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/PersonInnehaver"
              - $ref: "#/components/schemas/VirksomhetInnehaver"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/JsonMessage"
  /api/virksomhet/ervervsloyvedelingsforesporsler/svar:
    post:
      tags:
      - ervervsloyvedelingsforesporsel-controller
      operationId: svarErvervsloyveForesporsel
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AcceptLoyvedeling"
              - $ref: "#/components/schemas/RejectLoyvedeling"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErvervsloyvedelingValidationResult"
  /api/virksomhet/endring/vaapendel:
    post:
      tags:
      - naering-vaapen-endring-controller
      operationId: updateVaapendel
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/EndreAntallLop"
              - $ref: "#/components/schemas/EndreAvfyringsmekanismeTonne"
              - $ref: "#/components/schemas/EndreFabrikkmerke"
              - $ref: "#/components/schemas/EndreKaliber"
              - $ref: "#/components/schemas/EndreLademekanismeTonne"
              - $ref: "#/components/schemas/EndreModell"
              - $ref: "#/components/schemas/EndrePipelengde"
              - $ref: "#/components/schemas/EndreSluttstykketype"
              - $ref: "#/components/schemas/NyttSerienummer"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/virksomhet/endring/skytevaapen:
    post:
      tags:
      - naering-vaapen-endring-controller
      operationId: updateSkytevaapen
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/EndreAvfyringsmekanismeVaapen"
              - $ref: "#/components/schemas/EndreFunksjonsmaate"
              - $ref: "#/components/schemas/EndreLademekanismeVaapen"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/virksomhet/endring/skytevaapen/deler:
    post:
      tags:
      - naering-vaapen-endring-controller
      operationId: updateDelerSkytevaapen
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/KobleVaapendelFraVaapen"
              - $ref: "#/components/schemas/KobleVaapendelTilVaapen"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/virksomhet/eieroverforingsforslag:
    get:
      tags:
      - eieroverforing-controller
      operationId: finnEieroverforingsforslag
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EieroverforingsforslagWithValidation"
    post:
      tags:
      - eieroverforing-controller
      operationId: oppretteEieroverforingsforslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/MasseoverforingsForslagRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagRequest"
              - $ref: "#/components/schemas/VaapendelUtenLoyveForslagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/eieroverforingsforslag/validate:
    post:
      tags:
      - eieroverforing-controller
      operationId: validateForslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/MasseoverforingsForslagRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagRequest"
              - $ref: "#/components/schemas/VaapendelUtenLoyveForslagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/eieroverforingsforslag/uten-loyve/svar:
    post:
      tags:
      - eieroverforing-controller
      operationId: svarEieroverforingUtenLoyve
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EieroverforingsforslagSvarRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
      deprecated: true
  /api/virksomhet/eieroverforingsforslag/svar:
    post:
      tags:
      - eieroverforing-controller
      operationId: svarEieroverforing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EieroverforingsforslagSvarRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/digitale-bevis:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaleBevis
      parameters:
      - name: inkluderQrKode
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/DigitaltBevisAnnetLoyveResponse"
                  - $ref: "#/components/schemas/DigitaltBevisSkytevaapenResponse"
                  - $ref: "#/components/schemas/DigitaltBevisVaapendelResponse"
    post:
      tags:
      - digitalt-bevis-controller
      operationId: createDigitaltBevis
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/OpprettDigitaltBevisAnnetLoyveRequest"
              - $ref: "#/components/schemas/OpprettDigitaltBevisInnehavsloyveRequest"
        required: true
      responses:
        "200":
          description: OK
  /api/virksomhet/whoami:
    get:
      tags:
      - login-controller
      operationId: whoAmI
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Innloggingsinfo"
  /api/virksomhet/vaapenskap/{vaapenskapId}:
    get:
      tags:
      - vaapenoppbevaring-controller
      operationId: getVaapenskapById
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      - name: vaapenskapId
        in: path
        required: true
        schema:
          type: string
          maxLength: 100
          minLength: 0
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Vaapenskap"
  /api/virksomhet/vaapenrom:
    get:
      tags:
      - vaapenoppbevaring-controller
      operationId: getVaapenromByOrgnr
      parameters:
      - name: orgnr
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VaapenromView"
  /api/virksomhet/vaapenrom/{vaapenromId}:
    get:
      tags:
      - vaapenoppbevaring-controller
      operationId: getVaapenromById
      parameters:
      - name: orgnr
        in: query
        required: true
        schema:
          type: string
      - name: vaapenromId
        in: path
        required: true
        schema:
          type: string
          maxLength: 100
          minLength: 0
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VaapenromView"
  /api/virksomhet/naeringsloyver:
    get:
      tags:
      - naeringsloyve-controller
      operationId: getMineNaeringsloyver
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Naeringsloyve"
  /api/virksomhet/naeringsloyver/innsyn/{orgnummer}:
    get:
      tags:
      - naeringsloyve-controller
      summary: Hent et begrenset næringsløyve på en annen virksomhet
      operationId: getNaeringsloyveTilInnsyn
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      - name: orgnummer
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/NaeringsloyveInnsyn"
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageModel"
  /api/virksomhet/naering/vaapen:
    get:
      tags:
      - naering
      operationId: getVaapen
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/PageRequestVaapen"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageSkytevaapen"
  /api/virksomhet/naering/vaapendeler:
    get:
      tags:
      - naering
      operationId: getVaapendeler
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/PageRequestVaapendel"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageVaapendel"
  /api/virksomhet/naering/vaapendeler/{id}:
    get:
      tags:
      - naering
      operationId: getVaapendelById
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Laaskasse"
                - $ref: "#/components/schemas/Pipe"
                - $ref: "#/components/schemas/Revolvertonne"
                - $ref: "#/components/schemas/Sluttstykke"
                - $ref: "#/components/schemas/UkjentDel"
  /api/virksomhet/naering/vaapen/{id}:
    get:
      tags:
      - naering
      operationId: getVaapenById
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/masseoverforingsforslag/{forslagId}:
    get:
      tags:
      - eieroverforing-controller
      operationId: getMasseoverforingsforslagById
      parameters:
      - name: forslagId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingsforslagWithValidation"
  /api/virksomhet/masseoverforingsforslag/{forslagId}/vaapendeler:
    get:
      tags:
      - eieroverforing-controller
      operationId: getMasseoverforingsforslagVaapendel
      parameters:
      - name: forslagId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SimplePageRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageVaapendel"
  /api/virksomhet/masseoverforingsforslag/{forslagId}/skytevaapen:
    get:
      tags:
      - eieroverforing-controller
      operationId: getMasseoverforingsforslagSkytevaapen
      parameters:
      - name: forslagId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      - name: pageRequest
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/SimplePageRequest"
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/PageSkytevaapen"
  /api/virksomhet/ikke-naering/vaapen:
    get:
      tags:
      - virksomhet
      operationId: getVaapenVirksomhet
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/ikke-naering/vaapendeler:
    get:
      tags:
      - virksomhet
      operationId: getVaapendelerVirksomhet
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Laaskasse"
                  - $ref: "#/components/schemas/Pipe"
                  - $ref: "#/components/schemas/Revolvertonne"
                  - $ref: "#/components/schemas/Sluttstykke"
                  - $ref: "#/components/schemas/UkjentDel"
  /api/virksomhet/ikke-naering/vaapendeler/{id}:
    get:
      tags:
      - virksomhet
      operationId: getVaapendelerByVirksomhetAndId
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Laaskasse"
                - $ref: "#/components/schemas/Pipe"
                - $ref: "#/components/schemas/Revolvertonne"
                - $ref: "#/components/schemas/Sluttstykke"
                - $ref: "#/components/schemas/UkjentDel"
  /api/virksomhet/ikke-naering/vaapen/{id}:
    get:
      tags:
      - virksomhet
      operationId: getVaapenByVirksomhetAndId
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/ervervsloyver:
    get:
      tags:
      - loyve-controller
      operationId: finnErvervsloyver
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - AKTIVE
          - ALLE
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /api/virksomhet/eieroverforingsforslag/{forslagId}:
    get:
      tags:
      - eieroverforing-controller
      operationId: finnEieroverforingsforslagById
      parameters:
      - name: forslagId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingsforslagWithValidation"
  /api/virksomhet/eieroverforingsforslag/uten-loyve/{forslagId}:
    get:
      tags:
      - eieroverforing-controller
      operationId: finnEieroverforingForslagUtenLoyveById
      parameters:
      - name: forslagId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          exclusiveMinimum: 0
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingsforslagWithValidation"
  /api/virksomhet/digitale-bevis/{idDigitaltBevis}/kontroll:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaltBevisKontrollById
      parameters:
      - name: idDigitaltBevis
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/BeviskontrollAnnetLoyve"
                - $ref: "#/components/schemas/BeviskontrollSkytevaapen"
                - $ref: "#/components/schemas/BeviskontrollVaapendel"
  /api/virksomhet/digitale-bevis/innehavsloyveId:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaltBevisByInnehavsloyveId
      parameters:
      - name: innehavsloyveId
        in: query
        required: true
        schema:
          type: string
      - name: inkluderQrKode
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/DigitaltBevisAnnetLoyveResponse"
                - $ref: "#/components/schemas/DigitaltBevisSkytevaapenResponse"
                - $ref: "#/components/schemas/DigitaltBevisVaapendelResponse"
    delete:
      tags:
      - digitalt-bevis-controller
      operationId: deleteDigitaltBevisByInnehavsloyveId
      parameters:
      - name: innehavsloyveId
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/virksomhet/digitale-bevis/annetLoyveId/{idAnnetLoyve}:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaltBevisByAnnetLoyveId
      parameters:
      - name: idAnnetLoyve
        in: path
        required: true
        schema:
          type: string
          maxLength: 100
          minLength: 0
      - name: inkluderQrKode
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DigitaltBevisAnnetLoyveResponse"
    delete:
      tags:
      - digitalt-bevis-controller
      operationId: deleteDigitaltBevisByAnnetLoyveId
      parameters:
      - name: idAnnetLoyve
        in: path
        required: true
        schema:
          type: string
          maxLength: 100
          minLength: 0
      responses:
        "200":
          description: OK
  /api/virksomhet/delte-ervervsloyver:
    get:
      tags:
      - loyve-controller
      operationId: hentDelteLoyver
      parameters:
      - name: X-Loyveinnehaver
        in: header
        description: Custom header for sending Loyveinnehaver search parameter
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /api/virksomhet/delte-ervervsloyver/{loyveId}:
    get:
      tags:
      - loyve-controller
      operationId: getDeltErvervsloyveById
      parameters:
      - name: loyveId
        in: path
        required: true
        schema:
          type: string
          maxLength: 100
          minLength: 0
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Ervervsloyve"
  /api/virksomhet/andre-loyver:
    get:
      tags:
      - loyve-controller
      operationId: finnAktiveAndreLoyver
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Ammunisjonskjoployve"
                  - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSamlerloyve"
                  - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                  - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                  - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                  - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                  - $ref: "#/components/schemas/Laaneloyve"
                  - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                  - $ref: "#/components/schemas/Naeringsimportloyve"
                  - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                  - $ref: "#/components/schemas/Privatimportloyve"
                  - $ref: "#/components/schemas/Utforrselsloyve"
  /api/virksomhet/andre-loyver/{loyveId}:
    get:
      tags:
      - loyve-controller
      operationId: findAktivtAnnetLoyveById
      parameters:
      - name: loyveId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Ammunisjonskjoployve"
                - $ref: "#/components/schemas/Ammunisjonssamlerloyve"
                - $ref: "#/components/schemas/GodkjentSamlerloyve"
                - $ref: "#/components/schemas/GodkjentSkytebaneloyve"
                - $ref: "#/components/schemas/GodkjentSkytterforeningsloyve"
                - $ref: "#/components/schemas/Hoykapasitetsmagasinloyve"
                - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyve"
                - $ref: "#/components/schemas/Laaneloyve"
                - $ref: "#/components/schemas/MidlertidigInnforselsloyve"
                - $ref: "#/components/schemas/Naeringsimportloyve"
                - $ref: "#/components/schemas/Piratbeskyttelsesloyve"
                - $ref: "#/components/schemas/Privatimportloyve"
                - $ref: "#/components/schemas/Utforrselsloyve"
  /api/virksomhet/vaapenskap/{id}:
    delete:
      tags:
      - vaapenoppbevaring-controller
      operationId: deleteVaapenskap
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
          maxLength: 100
          minLength: 0
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
components:
  schemas:
    CreateVaapenskap:
      type: object
      properties:
        serienummer:
          type: string
          maxLength: 100
          minLength: 0
        merke:
          type: string
          maxLength: 100
          minLength: 0
      required:
      - merke
      - serienummer
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type:
            - string
            - "null"
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    BrukesAv:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/BrukesAvErvervsloyvePeker"
          ERVERVSLOYVE_FULL: "#/components/schemas/BrukesAvErvervsloyveExpanded"
          SKYTEVAAPEN: "#/components/schemas/BrukesAvSkytevaapenPeker"
          SKYTEVAAPEN_FULL: "#/components/schemas/BrukesAvSkytevaapenExpanded"
      properties:
        brukesAvType:
          type: string
          enum:
          - ERVERVSLOYVE
          - SKYTEVAAPEN
          - ERVERVSLOYVE_FULL
          - SKYTEVAAPEN_FULL
    BrukesAvErvervsloyveExpanded:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          ervervsloyveId:
            type:
            - string
            - "null"
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          modell:
            type:
            - string
            - "null"
          funksjonsmaate:
            type:
            - string
            - "null"
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          lademekanisme:
            type:
            - string
            - "null"
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type:
            - string
            - "null"
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
    BrukesAvErvervsloyvePeker:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          ervervsloyveId:
            type: string
    BrukesAvSkytevaapenExpanded:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          skytevaapenId:
            type:
            - integer
            - "null"
            format: int64
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
          lademekanisme:
            type:
            - string
            - "null"
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type:
            - string
            - "null"
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
    BrukesAvSkytevaapenPeker:
      allOf:
      - $ref: "#/components/schemas/BrukesAv"
      - type: object
        properties:
          skytevaapenId:
            type: integer
            format: int64
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    DigitalPerson:
      type: object
      properties:
        id:
          type: integer
          format: int64
        navn:
          type: string
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        personidentifikator:
          type: string
        foedselsdato:
          type: string
          format: date
    DigitalVirksomhet:
      type: object
      properties:
        id:
          type: integer
          format: int64
        organisasjonsnummer:
          type: string
        navn:
          type: string
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
          UKJENT_INNEHAVER: "#/components/schemas/UkjentInnehaver"
          POLITI: "#/components/schemas/PolitiInnehaver"
      properties:
        id:
          type: integer
          format: int64
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
    EierPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalPerson"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: "12345678901"
          navn:
            type:
            - string
            - "null"
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type:
            - string
            - "null"
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en person
      required:
      - eiertype
    EierVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalVirksomhet"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: "123456789"
          navn:
            type:
            - string
            - "null"
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      description: Representerer en virksomhet
      required:
      - eiertype
    ErvervUtenLoyve:
      type: object
      properties:
        loyveId:
          type: string
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        grunnlag:
          oneOf:
          - $ref: "#/components/schemas/Aldersgrunnlag"
          - $ref: "#/components/schemas/Amnestigrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/Avlivingsgrunnlag"
          - $ref: "#/components/schemas/Deaktivertgrunnlag"
          - $ref: "#/components/schemas/Etterregistrertgrunnlag"
          - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          - $ref: "#/components/schemas/Jaktgrunnlag"
          - $ref: "#/components/schemas/Minneverdegrunnlag"
          - $ref: "#/components/schemas/Museumsgrunnlag"
          - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/Samlergrunnlag"
          - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
          - $ref: "#/components/schemas/Slaktegrunnlag"
          - $ref: "#/components/schemas/Sportsgrunnlag"
          - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
          - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
          - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
          - $ref: "#/components/schemas/Vaapendelgrunnlag"
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    Ervervsloyve:
      type: object
      description: Løyve for erverv av våpen eller våpendel
      properties:
        loyveId:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        gyldigTil:
          type:
          - string
          - "null"
          format: date
        typeErverv:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        skytevaapentype:
          type:
          - string
          - "null"
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapendeltype:
          type:
          - string
          - "null"
          enum:
          - LAASKASSE
          - PIPE
          - REVOLVERTONNE
          - SLUTTSTYKKE
          - UKJENT
        grunnlag:
          oneOf:
          - $ref: "#/components/schemas/Aldersgrunnlag"
          - $ref: "#/components/schemas/Amnestigrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/Avlivingsgrunnlag"
          - $ref: "#/components/schemas/Deaktivertgrunnlag"
          - $ref: "#/components/schemas/Etterregistrertgrunnlag"
          - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          - $ref: "#/components/schemas/Jaktgrunnlag"
          - $ref: "#/components/schemas/Minneverdegrunnlag"
          - $ref: "#/components/schemas/Museumsgrunnlag"
          - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/Samlergrunnlag"
          - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
          - $ref: "#/components/schemas/Slaktegrunnlag"
          - $ref: "#/components/schemas/Sportsgrunnlag"
          - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
          - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
          - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
          - $ref: "#/components/schemas/Vaapendelgrunnlag"
        spesifisering:
          oneOf:
          - $ref: "#/components/schemas/ErvervsloyveSpesifikt"
          - type: "null"
        paaVegneAv:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
        fritakFraAlderskrav:
          type: boolean
        oppbevaringsansvarlig:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        brukesAv:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/BrukesAvErvervsloyveExpanded"
          - $ref: "#/components/schemas/BrukesAvErvervsloyvePeker"
          - $ref: "#/components/schemas/BrukesAvSkytevaapenExpanded"
          - $ref: "#/components/schemas/BrukesAvSkytevaapenPeker"
        saksreferanse:
          type: string
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          oneOf:
          - $ref: "#/components/schemas/Fabrikkmerke"
          - type: "null"
        modell:
          type:
          - string
          - "null"
        funksjonsmaate:
          type:
          - string
          - "null"
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type:
          - string
          - "null"
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type:
          - string
          - "null"
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        pipelengde:
          type:
          - integer
          - "null"
          format: int32
        kaliber:
          type:
          - array
          - "null"
          items:
            $ref: "#/components/schemas/Kaliber"
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    ExistingPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalPerson"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: "12345678901"
          navn:
            type:
            - string
            - "null"
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type:
            - string
            - "null"
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en person
      required:
      - eiertype
    ExistingVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalVirksomhet"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: "123456789"
          navn:
            type:
            - string
            - "null"
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      required:
      - eiertype
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          UTEN_BEHOVSPROVING: "#/components/schemas/UtenBehovsprovingGrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ETTERREGISTRERT: "#/components/schemas/Etterregistrertgrunnlag"
          DEAKTIVERT: "#/components/schemas/Deaktivertgrunnlag"
          AMNESTI: "#/components/schemas/Amnestigrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          VAAPENDEL: "#/components/schemas/Vaapendelgrunnlag"
          UTRYDDELSE_AV_SKADEDYR: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          SLAKTING: "#/components/schemas/Slaktegrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - VAAPENDEL
          - REPLIKA_LUFT_FJAER
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
    Innehavsloyve:
      type: object
      description: Løyve for innehavelse av våpen eller våpendel
      properties:
        loyveId:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        grunnlag:
          oneOf:
          - $ref: "#/components/schemas/Aldersgrunnlag"
          - $ref: "#/components/schemas/Amnestigrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/Avlivingsgrunnlag"
          - $ref: "#/components/schemas/Deaktivertgrunnlag"
          - $ref: "#/components/schemas/Etterregistrertgrunnlag"
          - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          - $ref: "#/components/schemas/Jaktgrunnlag"
          - $ref: "#/components/schemas/Minneverdegrunnlag"
          - $ref: "#/components/schemas/Museumsgrunnlag"
          - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/Samlergrunnlag"
          - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
          - $ref: "#/components/schemas/Slaktegrunnlag"
          - $ref: "#/components/schemas/Sportsgrunnlag"
          - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
          - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
          - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
          - $ref: "#/components/schemas/Vaapendelgrunnlag"
        paaVegneAv:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
        fritakFraAlderskrav:
          type: boolean
        oppbevaringsansvarlig:
          type: "null"
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        ervervsloyve:
          oneOf:
          - $ref: "#/components/schemas/Ervervsloyve"
          - type: "null"
        ervervUtenLoyve:
          oneOf:
          - $ref: "#/components/schemas/ErvervUtenLoyve"
          - type: "null"
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          unntattFraRegistreringIJegerregisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - UNDERDEL
            - OVERDEL
    Lagerbeholdning:
      type: object
      properties:
        organisasjonsnummer:
          type: string
        registrertAv:
          type: string
        vaapen:
          type: array
          items:
            $ref: "#/components/schemas/Lagervaapen"
        deler:
          type: array
          items:
            $ref: "#/components/schemas/Lagerdel"
    Lagerdel:
      type: object
      properties:
        del:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
          - $ref: "#/components/schemas/UkjentDel"
        lagerId:
          type: string
        possibleDuplicate:
          type: boolean
    Lagervaapen:
      type: object
      properties:
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        lagerId:
          type: string
        possibleDuplicate:
          type: boolean
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
          UTEN_EIERSKAP: "#/components/schemas/UtenEierskap"
      properties:
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
        loyveidIfEier:
          type: string
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    NaeringAmmunisjonsalg:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringBegrensetHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringBegrensetTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringIkkeRegpliktigeVaapen:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringMekling:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    NaeringUtleie:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
    Naeringsloyve:
      type: object
      description: Løyve for næringsdrivende virksomhet
      properties:
        loyveId:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingVirksomhet"
        loyvehaver:
          type: "null"
          description: Løyvehaver for næringsløyvet - Kan kun være midlertidig null
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
        dagligAnsvarshavende:
          type: "null"
          description: Den daglige utførende ansvarshavende - Ikke obligatorisk
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/ExistingPerson"
        typeNaeringsvirksomhet:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/NaeringAmmunisjonsalg"
            - $ref: "#/components/schemas/NaeringBegrensetHandel"
            - $ref: "#/components/schemas/NaeringBegrensetTilvirkning"
            - $ref: "#/components/schemas/NaeringHandel"
            - $ref: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
            - $ref: "#/components/schemas/NaeringMekling"
            - $ref: "#/components/schemas/NaeringTilvirkning"
            - $ref: "#/components/schemas/NaeringUtleie"
        avgrensninger:
          type:
          - string
          - "null"
        dispensasjon:
          type:
          - string
          - "null"
        saksreferanse:
          type: string
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    Naeringstype:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          HANDEL: "#/components/schemas/NaeringHandel"
          UTLEIE: "#/components/schemas/NaeringUtleie"
          MEKLING: "#/components/schemas/NaeringMekling"
          TILVIRKNING: "#/components/schemas/NaeringTilvirkning"
          HANDELIKKEREGPLIKTIGEVAAPEN: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
          BEGRENSETHANDEL: "#/components/schemas/NaeringBegrensetHandel"
          BEGRENSETTILVIRKNING: "#/components/schemas/NaeringBegrensetTilvirkning"
          AMMUNISJON: "#/components/schemas/NaeringAmmunisjonsalg"
      properties:
        type:
          type: string
          enum:
          - HANDEL
          - BEGRENSETHANDEL
          - UTLEIE
          - MEKLING
          - TILVIRKNING
          - BEGRENSETTILVIRKNING
          - HANDELIKKEREGPLIKTIGEVAAPEN
          - AMMUNISJON
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          pipelengde:
            type:
            - integer
            - "null"
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type:
            - string
            - "null"
    PolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: false
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type:
            - string
            - "null"
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type:
            - string
            - "null"
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            oneOf:
            - $ref: "#/components/schemas/Samleromraade"
            - type: "null"
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          $ref: "#/components/schemas/EierPerson"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type:
          - integer
          - "null"
          format: int32
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Skyteprogram:
      type: object
      properties:
        id:
          type:
          - integer
          - "null"
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type:
          - array
          - "null"
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
    Skytevaapen:
      type: object
      description: Skytevåpen
      properties:
        id:
          type:
          - integer
          - "null"
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type:
          - string
          - "null"
          enum:
          - AKTIV
          - SKAL_DESTRUERES
          - DESTRUERT
          - DEAKTIVERT
          - DEAKTIVERT_GAMMELT_REGELVERK
          - PERMANENT_UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
          - TAPSMELDT
          - TAPT_FRA_DODSBO
          - STJAALET
          - SLETTET
        avfyringsmekanisme:
          type:
          - string
          - "null"
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type:
          - string
          - "null"
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          $ref: "#/components/schemas/LoyveForInnehav"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - LAASKASSE
          - PIPE
          - REVOLVERTONNE
          - SLUTTSTYKKE
          - UKJENT
      required:
      - registreringsobjektType
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            oneOf:
            - $ref: "#/components/schemas/Skyteprogram"
            - type: "null"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type:
            - string
            - "null"
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    UkjentDel:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
          serienummer:
            type:
            - string
            - "null"
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
          modell:
            type:
            - string
            - "null"
          vaapendeltype:
            type:
            - string
            - "null"
            enum:
            - LAASKASSE
            - PIPE
            - REVOLVERTONNE
            - SLUTTSTYKKE
            - UKJENT
          vaapenstatus:
            type:
            - string
            - "null"
            enum:
            - AKTIV
            - SKAL_DESTRUERES
            - DESTRUERT
            - DEAKTIVERT
            - DEAKTIVERT_GAMMELT_REGELVERK
            - PERMANENT_UTFORT
            - INNLEVERT_POLITI
            - TILBAKEKALT
            - BESLAGLAGT
            - TAPSMELDT
            - TAPT_FRA_DODSBO
            - STJAALET
            - SLETTET
          lademekanisme:
            type:
            - string
            - "null"
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type:
            - string
            - "null"
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type:
            - string
            - "null"
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type:
            - string
            - "null"
    UkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          id:
            type:
            - integer
            - "null"
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: "311280"
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type:
            - string
            - "null"
            description: Navn på ukjent person
            example: Kari Ole Normann
          adresse:
            type:
            - string
            - "null"
            description: Adressen til ukjent person
            example: Kari Ole Normann
          stilling:
            type:
            - string
            - "null"
            description: Stilling til ukjent person
            example: Diplomat
          telefon:
            type:
            - string
            - "null"
            description: Telefon til ukjent person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    UtenEierskap:
      type: object
      description: Løyve for et våpen uten eier som oppbevares hos politiet
      properties:
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - ERVERV_UTEN_LOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
          - UTEN_EIERSKAP
    Vaapendel:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
          UKJENT: "#/components/schemas/UkjentDel"
      properties:
        id:
          type: integer
          format: int64
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        vaapendeltype:
          type: string
          enum:
          - LAASKASSE
          - PIPE
          - REVOLVERTONNE
          - SLUTTSTYKKE
          - UKJENT
        innehavsloyve:
          $ref: "#/components/schemas/LoyveForInnehav"
        serienummer:
          type: string
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        modell:
          type: string
        annetFabrikkmerke:
          type: string
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - SKAL_DESTRUERES
          - DESTRUERT
          - DEAKTIVERT
          - DEAKTIVERT_GAMMELT_REGELVERK
          - PERMANENT_UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
          - TAPSMELDT
          - TAPT_FRA_DODSBO
          - STJAALET
          - SLETTET
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
    Vaapendelgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
    UploadStatus:
      type: object
      properties:
        status:
          type: string
    Forhandlerimport:
      type: object
      properties:
        importloyveid:
          type: string
        lagerbeholdning:
          $ref: "#/components/schemas/Lagerbeholdning"
        status:
          type: string
          enum:
          - DELVIS_BENYTTET
          - BENYTTET
    MasseoverforingsForslagRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          erverversLoyveId:
            type: string
            maxLength: 100
            minLength: 0
          skytevaapen:
            type: array
            items:
              type: integer
              format: int64
          loseVaapendeler:
            type: array
            items:
              type: integer
              format: int64
    EieroverforingError:
      type: object
      properties:
        loyveFelt:
          type: string
        modellFelt:
          type: string
        errorType:
          type: string
          enum:
          - CRITICAL_LOYVETYPE
          - WARNING_LOYVETYPE
          - ERROR_FUNKSJONSMAATE
          - CRITICAL_FUNKSJONSMAATE
          - ERROR_SKYTEVAAPENTYPE
          - CRITICAL_SKYTEVAAPENTYPE
          - CRITICAL_SKYTEVAAPENTYPE_UKJENT
          - CRITICAL_MOTTAKER_ER_DEG_SELV
          - ERROR_FABRIKKMERKE
          - WARNING_MODELL
          - ERROR_AVFYRINGSMEKANISME
          - ERROR_LADEMEKANISME
          - CRITICAL_VAAPENDEFINERENDE
          - CRITICAL_IKKE_LAASKASSE
          - ERROR_VAAPENDELTYPE
          - CRITICAL_VAAPENDELTYPE_UKJENT
          - ERROR_SKYTEVAAPEN_FINNES_IKKE
          - ERROR_ERVERVSLOYVE_FINNES_IKKE
          - ERROR_VAAPENDEL_FINNES_IKKE
          - ERROR_UGYLDIG_VAAPEN
          - ERROR_NAERINGSLOYVE_FINNES_IKKE
          - ERROR_VAAPEN_UTEN_VAAPENDEL
          - ERROR_FORSLAG_IKKE_FUNNET
          - ERROR_UGYLDIG_VAAPENDEL
          - ERROR_UGYLDIG_KALIBER
          - ERROR_ERVERVER_MATCHER_IKKE_LOYVEINNEHAVER
          - CRITICAL_VAAPENSTATUS_NOT_ALLOWED
          - WARNING_KALIBER
          - WARNING_PIPELENGDE
    EieroverforingValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - WARNING
          - ERROR
          - CRITICAL
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
    Korreksjonsmelding:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        meldingTilSaksbehandler:
          type: string
    Skytevaapenmelding:
      allOf:
      - $ref: "#/components/schemas/Korreksjonsmelding"
      - type: object
        properties:
          skytevaapen:
            $ref: "#/components/schemas/Skytevaapen"
          meldingTilSaksbehandler:
            type:
            - string
            - "null"
    Vaapendelmelding:
      allOf:
      - $ref: "#/components/schemas/Korreksjonsmelding"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
            - $ref: "#/components/schemas/UkjentDel"
          meldingTilSaksbehandler:
            type:
            - string
            - "null"
    KorreksjonResponseStatus.Created:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
    KorreksjonResponseStatus.AlreadyExists:
      type: object
      properties:
        reason:
          type: string
        status:
          type: string
    KorreksjonResponseStatus.Failed:
      type: object
      properties:
        reason:
          type: string
        status:
          type: string
    Innehaver: {}
    PersonInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          personidentifikator:
            type: string
    VirksomhetInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          organisasjonsnummer:
            type: string
    JsonMessage:
      type: object
      properties:
        message:
          type: string
    AcceptLoyvedeling:
      allOf:
      - $ref: "#/components/schemas/Loyvedeling"
      - type: object
        properties:
          loyveId:
            type: string
            maxLength: 100
            minLength: 0
    Loyvedeling:
      type: object
      discriminator:
        propertyName: svartype
        mapping:
          ACCEPT: "#/components/schemas/AcceptLoyvedeling"
          REJECT: "#/components/schemas/RejectLoyvedeling"
      properties:
        ervervsloyveForesporselId:
          type: integer
          format: int64
        svartype:
          type: string
          description: Type svar på loyvedelingsforespørsel
          enum:
          - ACCEPT
          - REJECT
    RejectLoyvedeling:
      allOf:
      - $ref: "#/components/schemas/Loyvedeling"
    ErvervsloyvedelingValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - OK
          - ERROR
          - CONFLICT
    EndreAntallLop:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          antallLop:
            type: integer
            format: int32
    EndreAvfyringsmekanismeTonne:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
    EndreFabrikkmerke:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          fabrikkmerke:
            oneOf:
            - $ref: "#/components/schemas/Fabrikkmerke"
            - type: "null"
          annetFabrikkmerke:
            type:
            - string
            - "null"
    EndreKaliber:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type:
            - string
            - "null"
    EndreLademekanismeTonne:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
    EndreModell:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          modell:
            type: string
    EndrePipelengde:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
    EndreSluttstykketype:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
    NyttSerienummer:
      allOf:
      - $ref: "#/components/schemas/VaapendelEndring"
      - type: object
        properties:
          serienummer:
            type: string
    VaapendelEndring:
      type: object
      description: Våpendelendring for næringsdrivende
      discriminator:
        propertyName: endringstype
        mapping:
          SERIENUMMER: "#/components/schemas/NyttSerienummer"
          FABRIKKMERKE: "#/components/schemas/EndreFabrikkmerke"
          KALIBER: "#/components/schemas/EndreKaliber"
          MODELL: "#/components/schemas/EndreModell"
          PIPELENGDE: "#/components/schemas/EndrePipelengde"
          ANTALL_LOP: "#/components/schemas/EndreAntallLop"
          SLUTTSTYKKETYPE: "#/components/schemas/EndreSluttstykketype"
          AVFYRINGSMEKANISME: "#/components/schemas/EndreAvfyringsmekanismeTonne"
          LADEMEKANISME: "#/components/schemas/EndreLademekanismeTonne"
      properties:
        vaapendelid:
          type: integer
          format: int64
        endringstype:
          type: string
          enum:
          - SERIENUMMER
          - DELETE_VAAPENDEL
          - CREATE_VAAPENDEL
          - FABRIKKMERKE
          - KALIBER
          - MODELL
          - PIPELENGDE
          - ANTALL_LOP
          - SLUTTSTYKKETYPE
          - AVFYRINGSMEKANISME
          - LADEMEKANISME
    EndreAvfyringsmekanismeVaapen:
      allOf:
      - $ref: "#/components/schemas/VaapenEndring"
      - type: object
        properties:
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
    EndreFunksjonsmaate:
      allOf:
      - $ref: "#/components/schemas/VaapenEndring"
      - type: object
        properties:
          funksjonsmaate:
            type: string
            enum:
            - ENKELTSKUDD
            - HALVAUTOMATISK
            - HELAUTOMATISK
            - MANUELL_OMLADING
            - UKJENT
    EndreLademekanismeVaapen:
      allOf:
      - $ref: "#/components/schemas/VaapenEndring"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
    VaapenEndring:
      type: object
      description: Våpenendring for næringsdrivende
      discriminator:
        propertyName: endringstype
        mapping:
          FUNKSJONSMAATE: "#/components/schemas/EndreFunksjonsmaate"
          AVFYRINGSMEKANISME: "#/components/schemas/EndreAvfyringsmekanismeVaapen"
          LADEMEKANISME: "#/components/schemas/EndreLademekanismeVaapen"
      properties:
        endringstype:
          type: string
          enum:
          - FUNKSJONSMAATE
          - ATTACH_VAAPENDEL
          - DETATCH_VAAPENDEL
          - AVFYRINGSMEKANISME
          - LADEMEKANISME
        vaapenid:
          type: integer
          format: int64
    KobleVaapendelFraVaapen:
      allOf:
      - $ref: "#/components/schemas/KoblingsEndring"
    KobleVaapendelTilVaapen:
      allOf:
      - $ref: "#/components/schemas/KoblingsEndring"
    KoblingsEndring:
      type: object
      description: Våpenkoblingsendring for næringsdrivende
      discriminator:
        propertyName: endringstype
        mapping:
          ATTACH_VAAPENDEL: "#/components/schemas/KobleVaapendelTilVaapen"
          DETATCH_VAAPENDEL: "#/components/schemas/KobleVaapendelFraVaapen"
      properties:
        vaapendelid:
          type: integer
          format: int64
        endringstype:
          type: string
          enum:
          - FUNKSJONSMAATE
          - ATTACH_VAAPENDEL
          - DETATCH_VAAPENDEL
          - AVFYRINGSMEKANISME
          - LADEMEKANISME
        vaapenid:
          type: integer
          format: int64
    EieroverforingsforslagRequest:
      type: object
      discriminator:
        propertyName: eieroverforingsforslagType
      properties:
        eieroverforingsforslagType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          - SKYTEVAAPEN_NAERING
          - VAAPENDEL_NAERING
          - VAAPENDEL_UTEN_LOYVE
          - MASSEOVERFORING
    SkytevaapenEieroverforingsforslagNaeringRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
            maxLength: 100
            minLength: 0
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
    SkytevaapenEieroverforingsforslagRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
            maxLength: 100
            minLength: 0
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
    VaapendelEieroverforingsforslagNaeringRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
            maxLength: 100
            minLength: 0
          vaapendelId:
            type: integer
            format: int64
    VaapendelEieroverforingsforslagRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
            maxLength: 100
            minLength: 0
          vaapendelId:
            type: integer
            format: int64
    VaapendelUtenLoyveForslagRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          erverversIdentifikator:
            type: string
          laaskasseSerienummer:
            type: string
            maxLength: 100
            minLength: 0
          vaapendelId:
            type: integer
            format: int64
          vaapendelReturSerienummer:
            type:
            - string
            - "null"
            maxLength: 100
            minLength: 0
    EieroverforingsforslagSvarRequest:
      type: object
      properties:
        eieroverforingId:
          type: integer
          format: int64
        svar:
          type: string
          enum:
          - AKSEPTER
          - AVSLAA
        type:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          - VAAPENDEL_UTEN_LOYVE
          - MASSEOVERFORING
    OpprettDigitaltBevisAnnetLoyveRequest:
      allOf:
      - $ref: "#/components/schemas/OpprettDigitaltBevisRequest"
      - type: object
        properties:
          annetLoyveId:
            type: string
            maxLength: 100
            minLength: 0
    OpprettDigitaltBevisInnehavsloyveRequest:
      allOf:
      - $ref: "#/components/schemas/OpprettDigitaltBevisRequest"
      - type: object
        properties:
          innehavsloyveId:
            type: string
            maxLength: 100
            minLength: 0
    OpprettDigitaltBevisRequest:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          enum:
          - OPPRETT_BEVIS_INNEHAVSLOYVE
          - OPPRETT_BEVIS_ANNET_LOYVE
        gyldigTil:
          type: string
          format: date
    Innloggingsinfo:
      type: object
      properties:
        person:
          type: string
        virksomhet:
          type: string
        naeringsvirksomhet:
          type: boolean
        borsemaker:
          type: boolean
    Vaapenskap:
      type: object
      properties:
        id:
          type: string
          description: Unik intern identifikator for våpenskap.
        innehaver:
          description: Eier av våpenskap
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        serienummer:
          type: string
          description: Serienummer til våpenskapet
        merke:
          type: string
          description: Merke på våpenskapet
        createdDate:
          type:
          - string
          - "null"
          format: date-time
        lastUpdated:
          type:
          - string
          - "null"
          format: date-time
    VaapenromView:
      type: object
      properties:
        id:
          type: string
          description: Unik intern identifikator for våpenrommet. I form av UUID.
        innehaver:
          description: Eier av våpenrommet
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        status:
          type: string
          description: Status på våpenrom
          enum:
          - GODKJENT
          - GODKJENNING_TILBAKETRUKKET
          - SLETTET
          example: GODKJENT
        saksreferanse:
          type: string
          description: Alle våpenrom som innvilges må ha en saksreferanse i websak
        adresse:
          oneOf:
          - $ref: "#/components/schemas/VegadresseRespons"
          - type: "null"
        createdDate:
          type:
          - string
          - "null"
          format: date-time
          description: "Tidspunktet når våpenrommet ble opprettet i databasen, blir\
            \ satt på lagringstidspunktet, skal være tom ved innsending"
        deletedDate:
          type:
          - string
          - "null"
          format: date-time
          description: "Tidspunktet når våpenrommet ble soft-slettet i databasen,\
            \ skal være tom ved innsending"
    VegadresseRespons:
      type: object
      properties:
        id:
          type: integer
          format: int64
        adressenavn:
          type:
          - string
          - "null"
        husnr:
          type:
          - string
          - "null"
        bokstav:
          type:
          - string
          - "null"
        postnr:
          type:
          - string
          - "null"
        poststed:
          type:
          - string
          - "null"
    NaeringsloyveInnsyn:
      type: object
      properties:
        loyveId:
          type: string
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ExistingVirksomhet"
        typeNaeringsvirksomhet:
          type: array
          items:
            type: string
            enum:
            - HANDEL
            - BEGRENSETHANDEL
            - UTLEIE
            - MEKLING
            - TILVIRKNING
            - BEGRENSETTILVIRKNING
            - HANDELIKKEREGPLIKTIGEVAAPEN
            - AMMUNISJON
    ErrorMessageModel:
      type: object
      properties:
        status:
          type:
          - integer
          - "null"
          format: int32
        message:
          type:
          - string
          - "null"
        type:
          type:
          - string
          - "null"
        parameters:
          type:
          - string
          - "null"
        reason:
          type:
          - string
          - "null"
    PageRequestVaapen:
      type: object
      properties:
        page:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
          maximum: 100
        serienummer:
          type:
          - string
          - "null"
          maxLength: 100
          minLength: 0
        id:
          type:
          - array
          - "null"
          items:
            type: integer
            format: int64
        unntattId:
          type:
          - array
          - "null"
          items:
            type: integer
            format: int64
        skytevaapentype:
          type:
          - string
          - "null"
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
[...]
