openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
- url: https://vaapen.ut1.brreg.no
  description: Utviklingsmiljø
paths:
  /api/virksomhet/naering/vaapen/lagerbeholdning:
    post:
      tags:
      - naering
      operationId: sendLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lagerbeholdning"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UploadStatus"
  /api/virksomhet/naering/vaapen/csv:
    post:
      tags:
      - naering
      operationId: convertLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Lagerbeholdning"
  /api/virksomhet/korrigeringer:
    post:
      tags:
      - korreksjon-controller
      summary: Opprett korreksjon
      operationId: lagKorreksjon
      parameters:
      - name: orgnr
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/Skytevaapenmelding"
              - $ref: "#/components/schemas/Vaapendelmelding"
        required: true
      responses:
        "201":
          description: Korreksjon mottatt
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus.Created"
        "409":
          description: En korreksjon er allerede under behandling
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus.AlreadyExists"
        "500":
          description: Noe gikk galt
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus.Failed"
  /api/virksomhet/ervervsloyvedelingsforesporsler:
    get:
      tags:
      - ervervsloyvedelingsforesporsel-controller
      operationId: finnErvervsloyveForesporsel
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErvervsloyveForesporsel"
    post:
      tags:
      - ervervsloyvedelingsforesporsel-controller
      operationId: opprettLoyvedelingsforesporsel
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/PersonInnehaver"
              - $ref: "#/components/schemas/VirksomhetInnehaver"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/JsonMessage"
  /api/virksomhet/ervervsloyvedelingsforesporsler/svar:
    post:
      tags:
      - ervervsloyvedelingsforesporsel-controller
      operationId: svarErvervsloyveForesporsel
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AcceptLoyvedeling"
              - $ref: "#/components/schemas/RejectLoyvedeling"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErvervsloyvedelingValidationResult"
  /api/virksomhet/eieroverforingsforslag:
    get:
      tags:
      - eieroverforing-controller
      operationId: finnEieroverforingsforslag
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagView"
                  - $ref: "#/components/schemas/VaapendelEieroverforingsforslagView"
    post:
      tags:
      - eieroverforing-controller
      operationId: oppretteEieroverforingsforslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/eieroverforingsforslag/validate:
    post:
      tags:
      - eieroverforing-controller
      operationId: validateForslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaeringRequest"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/eieroverforingsforslag/svar:
    post:
      tags:
      - eieroverforing-controller
      operationId: svarEieroverforing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EieroverforingsforslagSvarRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /api/virksomhet/digitale-bevis:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaleBevis
      parameters:
      - name: inkluderQrKode
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/DigitaltBevisAnnetLoyveResponse"
                  - $ref: "#/components/schemas/DigitaltBevisSkytevaapenResponse"
                  - $ref: "#/components/schemas/DigitaltBevisVaapendelResponse"
    post:
      tags:
      - digitalt-bevis-controller
      operationId: createDigitaltBevis
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/OpprettDigitaltBevisAnnetLoyveRequest"
              - $ref: "#/components/schemas/OpprettDigitaltBevisInnehavsloyveRequest"
        required: true
      responses:
        "200":
          description: OK
  /api/virksomhet/whoami:
    get:
      tags:
      - login-controller
      operationId: whoAmI
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Innloggingsinfo"
  /api/virksomhet/naeringsloyver:
    get:
      tags:
      - naeringsloyve-controller
      operationId: getMineNaeringsloyver
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Naeringsloyve"
  /api/virksomhet/naeringsloyver/innsyn/{orgnummer}:
    get:
      tags:
      - naeringsloyve-controller
      operationId: getNaeringsloyveTilInnsyn
      parameters:
      - name: orgnummer
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/NaeringsloyveInnsyn"
  /api/virksomhet/naering/vaapen:
    get:
      tags:
      - naering
      operationId: getVaapen
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: serienummer
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/naering/vaapendeler:
    get:
      tags:
      - naering
      operationId: getVaapendeler
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: serienummer
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Laaskasse"
                  - $ref: "#/components/schemas/Pipe"
                  - $ref: "#/components/schemas/Revolvertonne"
                  - $ref: "#/components/schemas/Sluttstykke"
  /api/virksomhet/naering/vaapendeler/{id}:
    get:
      tags:
      - naering
      operationId: getVaapendelerById
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Laaskasse"
                - $ref: "#/components/schemas/Pipe"
                - $ref: "#/components/schemas/Revolvertonne"
                - $ref: "#/components/schemas/Sluttstykke"
  /api/virksomhet/naering/vaapen/{id}:
    get:
      tags:
      - naering
      operationId: getVaapenById
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/ikke-naering/vaapen:
    get:
      tags:
      - virksomhet
      operationId: getVaapenVirksomhet
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/ikke-naering/vaapendeler:
    get:
      tags:
      - virksomhet
      operationId: getVaapendelerVirksomhet
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Laaskasse"
                  - $ref: "#/components/schemas/Pipe"
                  - $ref: "#/components/schemas/Revolvertonne"
                  - $ref: "#/components/schemas/Sluttstykke"
  /api/virksomhet/ikke-naering/vaapendeler/{id}:
    get:
      tags:
      - virksomhet
      operationId: getVaapendelerByVirksomhetAndId
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Laaskasse"
                - $ref: "#/components/schemas/Pipe"
                - $ref: "#/components/schemas/Revolvertonne"
                - $ref: "#/components/schemas/Sluttstykke"
  /api/virksomhet/ikke-naering/vaapen/{id}:
    get:
      tags:
      - virksomhet
      operationId: getVaapenByVirksomhetAndId
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Skytevaapen"
  /api/virksomhet/ervervsloyver:
    get:
      tags:
      - loyve-controller
      operationId: finnErvervsloyver
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - AKTIVE
          - ALLE
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /api/virksomhet/digitale-bevis/{idDigitaltBevis}/kontroll:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaltBevisKontrollById
      parameters:
      - name: idDigitaltBevis
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/BeviskontrollAnnetLoyve"
                - $ref: "#/components/schemas/BeviskontrollSkytevaapen"
                - $ref: "#/components/schemas/BeviskontrollVaapendel"
  /api/virksomhet/digitale-bevis/innehavsloyveId/{idInnehavsloyve}:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaltBevisByInnehavsloyveId
      parameters:
      - name: idInnehavsloyve
        in: path
        required: true
        schema:
          type: string
      - name: inkluderQrKode
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/DigitaltBevisAnnetLoyveResponse"
                - $ref: "#/components/schemas/DigitaltBevisSkytevaapenResponse"
                - $ref: "#/components/schemas/DigitaltBevisVaapendelResponse"
  /api/virksomhet/digitale-bevis/annetLoyveId/{idAnnetLoyve}:
    get:
      tags:
      - digitalt-bevis-controller
      operationId: getDigitaltBevisByAnnetLoyveId
      parameters:
      - name: idAnnetLoyve
        in: path
        required: true
        schema:
          type: string
      - name: inkluderQrKode
        in: query
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/DigitaltBevisAnnetLoyveResponse"
  /api/virksomhet/delte-ervervsloyver:
    get:
      tags:
      - loyve-controller
      operationId: hentDelteLoyver
      parameters:
      - name: X-Loyveinnehaver
        in: header
        description: Custom header for sending Loyveinnehaver search parameter
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /api/virksomhet/delte-ervervsloyver/{loyveId}:
    get:
      tags:
      - loyve-controller
      operationId: getDeltErvervsloyveById
      parameters:
      - name: loyveId
        in: path
        required: true
        schema:
          type: string
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Ervervsloyve"
  /api/virksomhet/digitale-bevis/{id}:
    delete:
      tags:
      - digitalt-bevis-controller
      operationId: deleteDigitaltBevis
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
components:
  schemas:
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ammunisjonsalg:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    DigitalEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          navn:
            type: string
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
      required:
      - eiertype
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
          UKJENT_INNEHAVER: "#/components/schemas/UkjentInnehaver"
          POLITI: "#/components/schemas/PolitiInnehaver"
      properties:
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        id:
          type: integer
          format: int64
      required:
      - eiertype
    EierPerson:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: 12345678901
          navn:
            type: string
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          foedselsdato:
            type: string
            format: date
            description: Fødselsdato - kun visning ved behov
            example: 1991-01-01
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en person
      required:
      - eiertype
      - personidentifikator
    EierVirksomhet:
      allOf:
      - $ref: "#/components/schemas/DigitalEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      - $ref: "#/components/schemas/Eier"
      description: Representerer en virksomhet
      required:
      - eiertype
      - organisasjonsnummer
    Ervervsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForErverv"
      - type: object
        properties:
          gyldigTil:
            type: string
            format: date
          typeErverv:
            type: string
            enum:
            - SKYTEVAAPEN
            - VAAPENDEL
            - AMMUNISJON
            - HOYKAPASITETSMAGASIN
          skytevaapentype:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
          vaapendeltype:
            type: string
            enum:
            - PIPE
            - LAASKASSE
            - REVOLVERTONNE
            - SLUTTSTYKKE
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          spesifisering:
            $ref: "#/components/schemas/ErvervsloyveSpesifikt"
          paaVegneAv:
            $ref: "#/components/schemas/EierPerson"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          brukesAv:
            type: integer
            format: int64
          saksreferanse:
            type: string
      description: Løyve for erverv av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeErverv
      - vedtaksdato
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        funksjonsmaate:
          type: string
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          UTEN_BEHOVSPROVING: "#/components/schemas/UtenBehovsprovingGrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ETTERREGISTRERT: "#/components/schemas/Etterregistrertgrunnlag"
          DEAKTIVERT: "#/components/schemas/Deaktivertgrunnlag"
          AMNESTI: "#/components/schemas/Amnestigrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          UTRYDDELSE_AV_SKADEDYR: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          SLAKTING: "#/components/schemas/Slaktegrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - REPLIKA_LUFT_FJAER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - grunnlagsType
    GrunnlagWithBeskrivelse:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type: string
      required:
      - grunnlagsType
    Innehavsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/DigitalEier"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/ManuellEier"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
            - $ref: "#/components/schemas/PolitiInnehaver"
            - $ref: "#/components/schemas/UkjentInnehaver"
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      description: Løyve for innehavelse av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          registrertIJegerRegisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
      required:
      - grunnlagsType
      - registrertIJegerRegisteret
      - tilleggsvaapen
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - OVERDEL
            - UNDERDEL
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    Lagerbeholdning:
      type: object
      properties:
        organisasjonsnummer:
          type: string
        registrertAv:
          type: string
        vaapen:
          type: array
          items:
            $ref: "#/components/schemas/Lagervaapen"
        deler:
          type: array
          items:
            $ref: "#/components/schemas/Lagerdel"
      required:
      - deler
      - organisasjonsnummer
      - registrertAv
      - vaapen
    Lagerdel:
      type: object
      properties:
        del:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        lagerId:
          type: string
      required:
      - del
      - lagerId
    Lagervaapen:
      type: object
      properties:
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        lagerId:
          type: string
      required:
      - lagerId
      - vaapen
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    ManuellEier:
      allOf:
      - $ref: "#/components/schemas/Eier"
      required:
      - eiertype
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    NaeringAmmunisjon:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringBegrensetTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringHandel:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringIkkeRegpliktigeVaapen:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringMekling:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringTilvirkning:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    NaeringUtleie:
      allOf:
      - $ref: "#/components/schemas/Naeringstype"
      required:
      - type
    Naeringsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          loyvehaver:
            $ref: "#/components/schemas/EierPerson"
            description: Løyvehaver for næringsløyvet - Kan kun være midlertidig null
          dagligAnsvarshavende:
            $ref: "#/components/schemas/EierPerson"
            description: Den daglige utførende ansvarshavende - Ikke obligatorisk
          typeNaeringsvirksomhet:
            type: array
            items:
              oneOf:
              - $ref: "#/components/schemas/Ammunisjonsalg"
              - $ref: "#/components/schemas/NaeringAmmunisjon"
              - $ref: "#/components/schemas/NaeringBegrensetHandel"
              - $ref: "#/components/schemas/NaeringBegrensetTilvirkning"
              - $ref: "#/components/schemas/NaeringHandel"
              - $ref: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
              - $ref: "#/components/schemas/NaeringMekling"
              - $ref: "#/components/schemas/NaeringTilvirkning"
              - $ref: "#/components/schemas/NaeringUtleie"
          avgrensninger:
            type: string
          dispensasjon:
            type: string
          saksreferanse:
            type: string
      - $ref: "#/components/schemas/LoyveForErverv"
      description: Løyve for næringsdrivende virksomhet
      required:
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeNaeringsvirksomhet
      - vedtaksdato
    Naeringstype:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          HANDEL: "#/components/schemas/NaeringHandel"
          UTLEIE: "#/components/schemas/NaeringUtleie"
          MEKLING: "#/components/schemas/NaeringMekling"
          TILVIRKNING: "#/components/schemas/NaeringTilvirkning"
          HANDELIKKEREGPLIKTIGEVAAPEN: "#/components/schemas/NaeringIkkeRegpliktigeVaapen"
          BEGRENSETHANDEL: "#/components/schemas/NaeringBegrensetHandel"
          BEGRENSETTILVIRKNING: "#/components/schemas/NaeringBegrensetTilvirkning"
          AMMUNISJON: "#/components/schemas/Ammunisjonsalg"
      properties:
        type:
          type: string
          enum:
          - HANDEL
          - BEGRENSETHANDEL
          - UTLEIE
          - MEKLING
          - TILVIRKNING
          - BEGRENSETTILVIRKNING
          - HANDELIKKEREGPLIKTIGEVAAPEN
          - AMMUNISJON
      required:
      - type
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    PolitiInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          lokasjon:
            type: string
            description: Lokasjon i politiet
            example: Beslagssenter Oslo - Grønland
          importertKategori:
            type: boolean
            description: Importert fra NVR - Bør ryddes
            example: false
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - importertKategori
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - lademekanisme
      - registreringsobjektType
      - skytevaapentype
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            $ref: "#/components/schemas/Samleromraade"
      required:
      - grunnlagsType
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type: integer
          format: int32
      required:
      - beskrivelse
      - id
      - innehaver
      - navn
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Skyteprogram:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type: array
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
      required:
      - arrangertAv
      - navn
    Skytevaapen:
      type: object
      description: Skytevåpen-modellen
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
      required:
      - definerendeType
      - funksjonsmaate
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            $ref: "#/components/schemas/Skyteprogram"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type: string
      required:
      - grunnlagsType
      - reservevaapen
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentInnehaver:
      allOf:
      - $ref: "#/components/schemas/ManuellEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik intern identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: "Identifikator for person, som regel fødselsdato"
            example: 311280
          vaapenkortSid:
            type: string
            description: Referanse til gammelt vaapenkort
            example: 01-1111111111
          navn:
            type: string
            description: Navn på utenlandsk person
            example: Kari Ole Normann
          adresse:
            type: string
            description: Adressen til utenlandsk person
            example: Kari Ole Normann
          stilling:
            type: string
            description: Stilling til utenlandsk person
            example: Diplomat
          telefon:
            type: string
            description: Telefon til utenlandsk person
            example: +47 13131313
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      - $ref: "#/components/schemas/Eier"
      description: Representerer en innehaver uten gyldig indentifikator (person eller
        virksomhet)
      required:
      - eiertype
      - personidentifikator
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Vaapendel:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
      properties:
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
          - INNLEVERT_POLITI
          - TILBAKEKALT
          - BESLAGLAGT
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        serienummer:
          type: string
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        annetFabrikkmerke:
          type: string
        modell:
          type: string
        id:
          type: integer
          format: int64
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    UploadStatus:
      type: object
      properties:
        status:
          type: string
      required:
      - status
    Korreksjonsmelding:
      type: object
      properties:
        meldingTilSaksbehandler:
          type: string
    Skytevaapenmelding:
      allOf:
      - $ref: "#/components/schemas/Korreksjonsmelding"
      - type: object
        properties:
          skytevaapen:
            $ref: "#/components/schemas/Skytevaapen"
      required:
      - skytevaapen
    Vaapendelmelding:
      allOf:
      - $ref: "#/components/schemas/Korreksjonsmelding"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
      required:
      - vaapendel
    KorreksjonResponseStatus.Created:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
      required:
      - id
      - status
    KorreksjonResponseStatus.AlreadyExists:
      type: object
      properties:
        reason:
          type: string
        status:
          type: string
      required:
      - reason
      - status
    KorreksjonResponseStatus.Failed:
      type: object
      properties:
        reason:
          type: string
        status:
          type: string
      required:
      - reason
      - status
    Innehaver: {}
    PersonInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          personidentifikator:
            type: string
      required:
      - personidentifikator
    VirksomhetInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          organisasjonsnummer:
            type: string
      required:
      - organisasjonsnummer
    JsonMessage:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    AcceptLoyvedeling:
      allOf:
      - $ref: "#/components/schemas/Loyvedeling"
      - type: object
        properties:
          loyveId:
            type: string
          ervervsloyveForesporselId:
            type: integer
            format: int64
      required:
      - ervervsloyveForesporselId
      - loyveId
      - svartype
    Loyvedeling:
      type: object
      discriminator:
        propertyName: svartype
        mapping:
          ACCEPT: "#/components/schemas/AcceptLoyvedeling"
          REJECT: "#/components/schemas/RejectLoyvedeling"
      properties:
        svartype:
          type: string
          description: Type svar på loyvedelingsforespørsel
          enum:
          - ACCEPT
          - REJECT
      required:
      - svartype
    RejectLoyvedeling:
      allOf:
      - $ref: "#/components/schemas/Loyvedeling"
      - type: object
        properties:
          ervervsloyveForesporselId:
            type: integer
            format: int64
      required:
      - ervervsloyveForesporselId
      - svartype
    ErvervsloyvedelingValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - OK
          - ERROR
      required:
      - status
    EieroverforingsforslagRequest: {}
    SkytevaapenEieroverforingsforslagNaeringRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
      required:
      - naeringsloyveId
      - skytevaapenId
      - vaapendeler
    SkytevaapenEieroverforingsforslagRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
      required:
      - ervervsloyveId
      - skytevaapenId
      - vaapendeler
    VaapendelEieroverforingsforslagNaeringRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
          vaapendelId:
            type: integer
            format: int64
      required:
      - naeringsloyveId
      - vaapendelId
    VaapendelEieroverforingsforslagRequest:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
          vaapendelId:
            type: integer
            format: int64
      required:
      - ervervsloyveId
      - vaapendelId
    EieroverforingError:
      type: object
      properties:
        loyveFelt:
          type: string
        modellFelt:
          type: string
        errorType:
          type: string
          enum:
          - ERROR_LOYVETYPE
          - ERROR_GRUNNLAGSTYPE
          - ERROR_FUNKSJONSMAATE
          - ERROR_SKYTEVAAPENTYPE
          - ERROR_FABRIKKMERKE
          - WARNING_MODELL
          - ERROR_AVFYRINGSMEKANISME
          - ERROR_LADEMEKANISME
          - ERROR_VAAPENDEFINERENDE
          - ERROR_VAAPENDELTYPE
          - ERROR_SKYTEVAAPEN_FINNES_IKKE
          - ERROR_ERVERVSLOYVE_FINNES_IKKE
          - ERROR_VAAPENDEL_FINNES_IKKE
          - ERROR_UGYLDIG_VAAPEN
          - ERROR_NAERINGSLOYVE_FINNES_IKKE
          - ERROR_VAAPEN_UTEN_VAAPENDEL
          - ERROR_IKKE_INNEHAVER
          - ERROR_FORSLAG_IKKE_FUNNET
          - ERROR_ERVERVER_MATCHER_IKKE_LOYVEINNEHAVER
      required:
      - errorType
      - loyveFelt
      - modellFelt
    EieroverforingValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - WARNING
          - ERROR
          - CRITICAL
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
      required:
      - errors
      - status
      - warnings
    EieroverforingsforslagSvarRequest:
      type: object
      properties:
        eieroverforingId:
          type: integer
          format: int64
        svar:
          type: string
          enum:
          - AKSEPTER
          - AVSLAA
      required:
      - eieroverforingId
      - svar
    OpprettDigitaltBevisAnnetLoyveRequest:
      allOf:
      - $ref: "#/components/schemas/OpprettDigitaltBevisRequest"
      - type: object
        properties:
          annetLoyveId:
            type: string
      required:
      - annetLoyveId
      - gyldigTil
      - type
    OpprettDigitaltBevisInnehavsloyveRequest:
      allOf:
      - $ref: "#/components/schemas/OpprettDigitaltBevisRequest"
      - type: object
        properties:
          innehavsloyveId:
            type: string
      required:
      - gyldigTil
      - innehavsloyveId
      - type
    OpprettDigitaltBevisRequest:
      type: object
      discriminator:
        propertyName: type
      properties:
        gyldigTil:
          type: string
          format: date
        type:
          type: string
          enum:
          - OPPRETT_BEVIS_INNEHAVSLOYVE
          - OPPRETT_BEVIS_ANNET_LOYVE
      required:
      - gyldigTil
      - type
    Innloggingsinfo:
      type: object
      properties:
        person:
          type: string
        virksomhet:
          type: string
        naeringsvirksomhet:
          type: boolean
        borsemaker:
          type: boolean
      required:
      - borsemaker
      - naeringsvirksomhet
      - person
      - virksomhet
    NaeringsloyveInnsyn:
      type: object
      properties:
        loyveId:
          type: string
        innehaver:
          $ref: "#/components/schemas/EierVirksomhet"
        typeNaeringsvirksomhet:
          type: array
          items:
            type: string
            enum:
            - HANDEL
            - BEGRENSETHANDEL
            - UTLEIE
            - MEKLING
            - TILVIRKNING
            - BEGRENSETTILVIRKNING
            - HANDELIKKEREGPLIKTIGEVAAPEN
            - AMMUNISJON
      required:
      - innehaver
      - loyveId
      - typeNaeringsvirksomhet
    ErvervsloyveForesporsel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        foresporrer:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        createdDate:
          type: string
          format: date
      required:
      - createdDate
      - foresporrer
      - id
    EieroverforingsforslagView:
      type: object
      properties:
        vaapeneier:
          oneOf:
          - $ref: "#/components/schemas/ExistingPerson"
          - $ref: "#/components/schemas/ExistingVirksomhet"
        validation:
          $ref: "#/components/schemas/EieroverforingValidationResult"
        mottakersLoyve:
          oneOf:
          - $ref: "#/components/schemas/Ervervsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        id:
          type: integer
          format: int64
      required:
      - id
      - mottakersLoyve
      - vaapeneier
      - validation
    ExistingDigitalEier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/ExistingVirksomhet"
          PERSON: "#/components/schemas/ExistingPerson"
      properties:
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
        id:
          type: integer
          format: int64
      required:
      - eiertype
      - id
    ExistingPerson:
      allOf:
      - $ref: "#/components/schemas/ExistingDigitalEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: 12345678901
          navn:
            type: string
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en person
      required:
      - eiertype
      - id
      - personidentifikator
    ExistingVirksomhet:
      allOf:
      - $ref: "#/components/schemas/ExistingDigitalEier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      required:
      - eiertype
      - id
      - organisasjonsnummer
    LoyveForErverv:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/Ervervsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
          - AVSLUTTET
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/DigitalEier"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/ManuellEier"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
          - $ref: "#/components/schemas/PolitiInnehaver"
          - $ref: "#/components/schemas/UkjentInnehaver"
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
          - ANNET_LOYVE
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    SkytevaapenEieroverforingsforslagView:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagView"
      - type: object
        properties:
          skytevaapen:
            $ref: "#/components/schemas/Skytevaapen"
      required:
      - id
      - mottakersLoyve
      - skytevaapen
      - vaapeneier
      - validation
    VaapendelEieroverforingsforslagView:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagView"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
      required:
      - id
      - mottakersLoyve
      - vaapendel
      - vaapeneier
      - validation
    DigitaltBevisAnnetLoyveResponse:
      allOf:
      - $ref: "#/components/schemas/DigitaltBevisResponse"
      - type: object
        properties:
          annetLoyveId:
            type: string
      required:
      - annetLoyveId
      - beviseierId
      - gyldigTil
      - type
    DigitaltBevisResponse:
      type: object
      discriminator:
        propertyName: type
      properties:
        qrKode:
          type: string
        beviseierId:
          type: integer
          format: int64
        gyldigTil:
          type: string
          format: date
        type:
          type: string
          enum:
          - BEVIS_SKYTEVAAPEN
          - BEVIS_VAAPENDEL
          - BEVIS_ANNET_LOYVE
      required:
      - beviseierId
      - gyldigTil
      - type
    DigitaltBevisSkytevaapenResponse:
      allOf:
      - $ref: "#/components/schemas/DigitaltBevisResponse"
      - type: object
        properties:
          innehavsloyveId:
            type: string
          skytevaapenId:
            type: integer
            format: int64
      required:
      - beviseierId
      - gyldigTil
      - innehavsloyveId
      - skytevaapenId
      - type
    DigitaltBevisVaapendelResponse:
      allOf:
      - $ref: "#/components/schemas/DigitaltBevisResponse"
      - type: object
        properties:
          innehavsloyveId:
            type: string
          vaapendelId:
            type: integer
            format: int64
      required:
      - beviseierId
      - gyldigTil
      - innehavsloyveId
      - type
      - vaapendelId
    AmmunisjonskjoployveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
          gyldigTil:
            type: string
            format: date
      description: Løyve for tidsbegrenset engangskjøp av ammunisjon til våpen som
        ikke er registreringspliktig
      required:
      - annetloyveLoyvetype
      - gyldigTil
      - kaliber
    AmmunisjonssamlerloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          beskrivelse:
            type: string
      description: Løyve for ammunisjonssamlere
      required:
      - annetloyveLoyvetype
      - beskrivelse
    AnnetLoyveBeviskontrollView:
      type: object
      discriminator:
        propertyName: annetloyveLoyvetype
        mapping:
          AMMUNISJONSKJOP_IKKEREGPLIKTIG: "#/components/schemas/AmmunisjonskjoployveBeviskontrollView"
          AMMUNISJONSSAMLER: "#/components/schemas/AmmunisjonssamlerloyveBeviskontrollView"
          GODKJENT_SAMLER: "#/components/schemas/GodkjentSamlerloyveBeviskontrollView"
          PIRATBESKYTTELSE: "#/components/schemas/PiratbeskyttelsesloyveBeviskontrollView"
          ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN: "#/components/schemas/IkkeSkytevaapenErvervsloyveBeviskontrollView"
          LAANELOYVE: "#/components/schemas/LaaneloyveBeviskontrollView"
          IKKE_ERVERVSMESSIG_INNFORSEL: "#/components/schemas/PrivatimportloyveBeviskontrollView"
          ERVERVSMESSIG_INNFORSEL: "#/components/schemas/NaeringsimportloyveBeviskontrollView"
          MIDLERTIDIG_INNFORSEL: "#/components/schemas/MidlertidigInnforselsloyveBeviskontrollView"
          UTFORSEL: "#/components/schemas/UtforrselsloyveBeviskontrollView"
          GODKJENT_SKYTEBANE: "#/components/schemas/GodkjentSkytebaneloyveBeviskontrollView"
          GODKJENT_SKYTTERFORENING: "#/components/schemas/GodkjentSkytterforeningsloyveBeviskontrollView"
          HOYKAPASITETSMAGASIN: "#/components/schemas/HoykapasitetsmagasinloyveBeviskontrollView"
      properties:
        annetloyveLoyvetype:
          type: string
          description: Type løyve for andre formål enn erverv eller innehav av skytevåpen
          enum:
          - AMMUNISJONSKJOP_IKKEREGPLIKTIG
          - AMMUNISJONSSAMLER
          - GODKJENT_SAMLER
          - PIRATBESKYTTELSE
          - ERVERV_AV_VAAPEN_SOM_IKKE_ER_SKYTEVAAPEN
          - LAANELOYVE
          - IKKE_ERVERVSMESSIG_INNFORSEL
          - ERVERVSMESSIG_INNFORSEL
          - MIDLERTIDIG_INNFORSEL
          - UTFORSEL
          - GODKJENT_SKYTEBANE
          - GODKJENT_SKYTTERFORENING
          - NYTT_SKYTEPROGRAM
          - HOYKAPASITETSMAGASIN
      required:
      - annetloyveLoyvetype
    Beviskontroll:
      type: object
      discriminator:
        propertyName: type
      properties:
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPersonBeviskontrollView"
          - $ref: "#/components/schemas/EierVirksomhetBeviskontrollView"
        gyldigTil:
          type: string
          format: date
        type:
          type: string
          enum:
          - BEVIS_SKYTEVAAPEN
          - BEVIS_VAAPENDEL
          - BEVIS_ANNET_LOYVE
      required:
      - gyldigTil
      - innehaver
      - type
    BeviskontrollAnnetLoyve:
      allOf:
      - $ref: "#/components/schemas/Beviskontroll"
      - type: object
        properties:
          annetLoyve:
            oneOf:
            - $ref: "#/components/schemas/AmmunisjonskjoployveBeviskontrollView"
            - $ref: "#/components/schemas/AmmunisjonssamlerloyveBeviskontrollView"
            - $ref: "#/components/schemas/GodkjentSamlerloyveBeviskontrollView"
            - $ref: "#/components/schemas/GodkjentSkytebaneloyveBeviskontrollView"
            - $ref: "#/components/schemas/GodkjentSkytterforeningsloyveBeviskontrollView"
            - $ref: "#/components/schemas/HoykapasitetsmagasinloyveBeviskontrollView"
            - $ref: "#/components/schemas/IkkeSkytevaapenErvervsloyveBeviskontrollView"
            - $ref: "#/components/schemas/LaaneloyveBeviskontrollView"
            - $ref: "#/components/schemas/MidlertidigInnforselsloyveBeviskontrollView"
            - $ref: "#/components/schemas/NaeringsimportloyveBeviskontrollView"
            - $ref: "#/components/schemas/PiratbeskyttelsesloyveBeviskontrollView"
            - $ref: "#/components/schemas/PrivatimportloyveBeviskontrollView"
            - $ref: "#/components/schemas/UtforrselsloyveBeviskontrollView"
      required:
      - annetLoyve
      - gyldigTil
      - innehaver
      - type
    BeviskontrollSkytevaapen:
      allOf:
      - $ref: "#/components/schemas/Beviskontroll"
      - type: object
        properties:
          skytevaapen:
            $ref: "#/components/schemas/SkytevaapenBeviskontrollView"
      required:
      - gyldigTil
      - innehaver
      - skytevaapen
      - type
    BeviskontrollVaapendel:
      allOf:
      - $ref: "#/components/schemas/Beviskontroll"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/LaaskasseBeviskontrollView"
            - $ref: "#/components/schemas/PipeBeviskontrollView"
            - $ref: "#/components/schemas/RevolvertonneBeviskontrollView"
            - $ref: "#/components/schemas/SluttstykkeBeviskontrollView"
      required:
      - gyldigTil
      - innehaver
      - type
      - vaapendel
    EierBeviskontrollView:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhetBeviskontrollView"
          PERSON: "#/components/schemas/EierPersonBeviskontrollView"
      properties:
        navn:
          type: string
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          - UKJENT_INNEHAVER
          - POLITI
      required:
      - eiertype
    EierPersonBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/EierBeviskontrollView"
      - type: object
        properties:
          foedselsdato:
            type: string
            format: date
            description: Fødselsdato
            example: 1991-01-01
          navn:
            type: string
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: PERSON
      description: Representerer en person
      required:
      - eiertype
    EierVirksomhetBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/EierBeviskontrollView"
      - type: object
        properties:
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            - UKJENT_INNEHAVER
            - POLITI
            example: VIRKSOMHET
      description: Representerer en virksomhet
      required:
      - eiertype
      - organisasjonsnummer
    GodkjentSamlerloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          samlerorganisasjon:
            type: string
      description: Løyve som godkjent samler
      required:
      - annetloyveLoyvetype
      - samlerorganisasjon
    GodkjentSkytebaneloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          beskrivelse:
            type: string
      description: Løyve for godkjent skytebane
      required:
      - annetloyveLoyvetype
      - beskrivelse
    GodkjentSkytterforeningsloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      description: Løyve for godkjenning som skytterforening
      required:
      - annetloyveLoyvetype
    HoykapasitetsmagasinloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          godkjentForVaapen:
            type: integer
            format: int64
          godkjentForErvervsloyve:
            type: string
      description: Løyve for høykapasitetsmagasin knyttet til våpen eller ervervsløyve
      required:
      - annetloyveLoyvetype
    IkkeSkytevaapenErvervsloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          beskrivelse:
            type: string
          grunnlagsbeskrivelse:
            type: string
      description: Løyve for erverv av våpen som ikke regnes som skytevåpen
      required:
      - annetloyveLoyvetype
      - beskrivelse
      - grunnlagsbeskrivelse
    LaaneloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          laanenivaaSport:
            type: string
            enum:
            - HALVAUTOMATISK_MED_HOY_PATRONKAPASITET
            - PISTOL_REVOLVER
            - OVRIGE_RIFLER_HAGLER
      description: Løyve for lån av våpen
      required:
      - annetloyveLoyvetype
      - grunnlag
    LaaskasseBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/VaapendelBeviskontrollView"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - OVERDEL
            - UNDERDEL
      required:
      - registreringsobjektType
      - skytevaapentype
    MidlertidigInnforselsloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          importBeskrivelse:
            type: string
      description: Løyve for midlertidig innførsel
      required:
      - annetloyveLoyvetype
      - importBeskrivelse
    NaeringsimportloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          importBeskrivelse:
            type: string
      description: Løyve for innførsel av våpen for næringsdrivende virksomhet
      required:
      - annetloyveLoyvetype
      - importBeskrivelse
    PipeBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/VaapendelBeviskontrollView"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - kaliber
      - registreringsobjektType
      - skytevaapentype
    PiratbeskyttelsesloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      description: Løyve for godkjenning av beskyttelse av skip mot piratvirksomhet
      required:
      - annetloyveLoyvetype
    PrivatimportloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      description: Løyve for innførsel av våpen som ikke er ervervsmessig
      required:
      - annetloyveLoyvetype
    RevolvertonneBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/VaapendelBeviskontrollView"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - kaliber
      - lademekanisme
      - registreringsobjektType
      - skytevaapentype
    SkytevaapenBeviskontrollView:
      type: object
      description: Skytevåpen-modellen
      properties:
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/LaaskasseBeviskontrollView"
            - $ref: "#/components/schemas/PipeBeviskontrollView"
            - $ref: "#/components/schemas/RevolvertonneBeviskontrollView"
            - $ref: "#/components/schemas/SluttstykkeBeviskontrollView"
        definerendeType:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
      required:
      - definerendeType
      - funksjonsmaate
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    SluttstykkeBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/VaapendelBeviskontrollView"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - registreringsobjektType
      - skytevaapentype
    UtforrselsloyveBeviskontrollView:
      allOf:
      - $ref: "#/components/schemas/AnnetLoyveBeviskontrollView"
      - type: object
        properties:
          utforselBeskrivelse:
            type: string
      description: Løyve for utførsel av våpen
      required:
      - annetloyveLoyvetype
      - utforselBeskrivelse
    VaapendelBeviskontrollView:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/LaaskasseBeviskontrollView"
          PIPE: "#/components/schemas/PipeBeviskontrollView"
          REVOLVERTONNE: "#/components/schemas/RevolvertonneBeviskontrollView"
          SLUTTSTYKKE: "#/components/schemas/SluttstykkeBeviskontrollView"
      properties:
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        serienummer:
          type: string
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        annetFabrikkmerke:
          type: string
        modell:
          type: string
      required:
      - registreringsobjektType
      - skytevaapentype
