openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
- url: https://vaapen.ut1.brreg.no
  description: Utviklingsmiljø
paths:
  /virksomhet/naering/vaapen/lagerbeholdning:
    post:
      tags:
      - naering
      operationId: sendLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lagerbeholdning"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UploadStatus"
  /virksomhet/naering/vaapen/csv:
    post:
      tags:
      - naering
      operationId: convertLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Lagerbeholdning"
  /virksomhet/loyveforesporsel:
    get:
      tags:
      - loyve-controller
      operationId: finnErvervsloyveForesporsel
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErvervsloyveForesporsel"
    post:
      tags:
      - loyve-controller
      operationId: opprettLoyvedelingsforesporsel
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/PersonInnehaver"
              - $ref: "#/components/schemas/VirksomhetInnehaver"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/JsonMessage"
  /virksomhet/loyveforesporsel/svar:
    post:
      tags:
      - loyve-controller
      operationId: svarErvervsloyveForesporsel
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AcceptLoyvedeling"
              - $ref: "#/components/schemas/RejectLoyvedeling"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErvervsloyvedelingValidationResult"
  /virksomhet/korrigeringer:
    post:
      tags:
      - korreksjon-controller
      summary: Opprett korreksjon
      operationId: lagKorreksjon
      parameters:
      - name: orgnr
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/Skytevaapenmelding"
              - $ref: "#/components/schemas/Vaapendelmelding"
        required: true
      responses:
        "201":
          description: Korreksjon mottatt
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus"
        "409":
          description: Korreksjon for dette våpenet er allerede under behandling
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus"
        "500":
          description: Noe gikk galt
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus"
  /virksomhet/eieroverforing:
    post:
      tags:
      - eieroverforings-controller
      operationId: oppretteEieroverforingsforslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslag"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaering"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslag"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaering"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /virksomhet/eieroverforing/validate:
    post:
      tags:
      - eieroverforings-controller
      operationId: validateForslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslag"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaering"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslag"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaering"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /virksomhet/eieroverforing/forslag/svar:
    post:
      tags:
      - eieroverforings-controller
      operationId: svarEieroverforing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EieroverforingsforslagSvarRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /virksomhet/whoami:
    get:
      tags:
      - login-controller
      operationId: whoAmI
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Innloggingsinfo"
  /virksomhet/representere:
    get:
      tags:
      - virksomhet-controller
      operationId: representere
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Actor"
  /virksomhet/naeringsloyve:
    get:
      tags:
      - naeringsloyve-controller
      operationId: getNaeringsloyve
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Naeringsloyve"
  /virksomhet/naering/vaapen:
    get:
      tags:
      - naering
      operationId: getVaapen
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: serienummer
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skytevaapen"
  /virksomhet/naering/vaapendeler:
    get:
      tags:
      - naering
      operationId: getVaapendeler
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: serienummer
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Laaskasse"
                  - $ref: "#/components/schemas/Pipe"
                  - $ref: "#/components/schemas/Revolvertonne"
                  - $ref: "#/components/schemas/Sluttstykke"
  /virksomhet/naering/vaapendeler/{id}:
    get:
      tags:
      - naering
      operationId: getVaapendelerById
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Laaskasse"
                - $ref: "#/components/schemas/Pipe"
                - $ref: "#/components/schemas/Revolvertonne"
                - $ref: "#/components/schemas/Sluttstykke"
  /virksomhet/naering/vaapen/{id}:
    get:
      tags:
      - naering
      operationId: getVaapenById
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Skytevaapen"
  /virksomhet/loyvedeling:
    get:
      tags:
      - loyve-controller
      operationId: hentDelteLoyver
      parameters:
      - name: X-Loyveinnehaver
        in: header
        description: Custom header for sending Loyveinnehaver search parameter
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /virksomhet/loyvedeling/{loyveId}:
    get:
      tags:
      - loyve-controller
      operationId: getDeltErvervsloyveById
      parameters:
      - name: loyveId
        in: path
        required: true
        schema:
          type: string
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Ervervsloyve"
  /virksomhet/korrigeringer/{korreksjonsId}/status:
    get:
      tags:
      - korreksjon-controller
      operationId: hentKorreksjonsStatus
      parameters:
      - name: korreksjonsId
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KorreksjonResponseStatus"
  /virksomhet/ikke-naering/vaapen:
    get:
      tags:
      - virksomhet
      operationId: getVaapenVirksomhet
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skytevaapen"
  /virksomhet/ikke-naering/vaapendeler:
    get:
      tags:
      - virksomhet
      operationId: getVaapendelerVirksomhet
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/Laaskasse"
                  - $ref: "#/components/schemas/Pipe"
                  - $ref: "#/components/schemas/Revolvertonne"
                  - $ref: "#/components/schemas/Sluttstykke"
  /virksomhet/ikke-naering/vaapendeler/{id}:
    get:
      tags:
      - virksomhet
      operationId: getVaapendelerByVirksomhetAndId
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/Laaskasse"
                - $ref: "#/components/schemas/Pipe"
                - $ref: "#/components/schemas/Revolvertonne"
                - $ref: "#/components/schemas/Sluttstykke"
  /virksomhet/ikke-naering/vaapen/{id}:
    get:
      tags:
      - virksomhet
      operationId: getVaapenByVirksomhetAndId
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Skytevaapen"
  /virksomhet/ervervsloyve:
    get:
      tags:
      - loyve-controller
      operationId: finnErvervsloyver
      parameters:
      - name: status
        in: query
        required: true
        schema:
          type: string
          enum:
          - AKTIVE
          - ALLE
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /virksomhet/eieroverforing/forslag:
    get:
      tags:
      - eieroverforings-controller
      operationId: finnEieroverforingsforslag
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagView"
                  - $ref: "#/components/schemas/VaapendelEieroverforingsforslagView"
components:
  schemas:
    Aldersgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ammunisjonssamlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Amnestigrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    AndreBehovsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Deaktivertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
      properties:
        navn:
          type: string
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
        id:
          type: integer
          format: int64
      required:
      - eiertype
    EierPerson:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 5678
          personidentifikator:
            type: string
            description: Fødselsnummer eller D-nummer
            example: 12345678901
          navn:
            type: string
            description: Navn på fysisk person - kun visning ved behov
            example: Kari Ole Normann
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            example: PERSON
      description: Representerer en person
      required:
      - eiertype
      - personidentifikator
    EierVirksomhet:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            example: VIRKSOMHET
      description: Representerer en virksomhet
      required:
      - eiertype
      - organisasjonsnummer
    Ervervsloyve:
      type: object
      description: Løyve for erverv av våpen eller våpendel
      properties:
        loyveId:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        gyldigTil:
          type: string
          format: date
        typeErverv:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          - AMMUNISJON
          - HOYKAPASITETSMAGASIN
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        grunnlag:
          oneOf:
          - $ref: "#/components/schemas/Aldersgrunnlag"
          - $ref: "#/components/schemas/Ammunisjonssamlergrunnlag"
          - $ref: "#/components/schemas/Amnestigrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/Avlivingsgrunnlag"
          - $ref: "#/components/schemas/Deaktivertgrunnlag"
          - $ref: "#/components/schemas/Etterregistrertgrunnlag"
          - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
          - $ref: "#/components/schemas/Hoykapasitetsgrunnlag"
          - $ref: "#/components/schemas/IkkeSkytevaapengrunnlag"
          - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          - $ref: "#/components/schemas/Jaktgrunnlag"
          - $ref: "#/components/schemas/Minneverdegrunnlag"
          - $ref: "#/components/schemas/Museumsgrunnlag"
          - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          - $ref: "#/components/schemas/Piratgrunnlag"
          - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/Samlergrunnlag"
          - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
          - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
          - $ref: "#/components/schemas/Slaktegrunnlag"
          - $ref: "#/components/schemas/Sportsgrunnlag"
          - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
          - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
          - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
          - $ref: "#/components/schemas/AndreBehovsgrunnlag"
          - $ref: "#/components/schemas/SaerskiltGrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
        spesifisering:
          $ref: "#/components/schemas/ErvervsloyveSpesifikt"
        paaVegneAv:
          $ref: "#/components/schemas/EierPerson"
        fritakFraAlderskrav:
          type: boolean
        oppbevaringsansvarlig:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        brukesAv:
          type: integer
          format: int64
        saksreferanse:
          type: string
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeErverv
      - vedtaksdato
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        funksjonsmaate:
          type: string
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
    Etterregistrertgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          HOYKAPASITETSMAGASIN: "#/components/schemas/Hoykapasitetsgrunnlag"
          MINNEVERDE: "#/components/schemas/Minneverdegrunnlag"
          AMMUNISJONSSAMLING: "#/components/schemas/Ammunisjonssamlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          IKKE_SKYTEVAAPEN: "#/components/schemas/IkkeSkytevaapengrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          SKYTTERFORENING: "#/components/schemas/Skytterforeningsgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          PIRAT: "#/components/schemas/Piratgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          ALDER: "#/components/schemas/Aldersgrunnlag"
          SAERSKILT_TILFELLE: "#/components/schemas/SaerskiltGrunnlag"
          ANDRE_BEHOV: "#/components/schemas/AndreBehovsgrunnlag"
          NAERINGSVIRKSOMHET: "#/components/schemas/Naeringsvirksomhetgrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - MINNEVERDE
          - SAMLER
          - REPLIKA_LUFT_FJAER
          - ISBJORN
          - TJENESTEPERSON
          - UTEN_BEHOVSPROVING
          - ALDER
          - AMMUNISJONSSAMLING
          - SKYTTERFORENING
          - NAERINGSVIRKSOMHET
          - AVLIVING_AV_DYR
          - MUSEUM
          - TEST_UTVIKLING
          - PIRAT
          - ETTERREGISTRERT
          - DEAKTIVERT
          - AMNESTI
          - SAERSKILT_TILFELLE
          - ANDRE_BEHOV
          - IKKE_SKYTEVAAPEN
          - HOYKAPASITETSMAGASIN
          - UTRYDDELSE_AV_SKADEDYR
          - SLAKTING
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - grunnlagsType
    GrunnlagWithBeskrivelse:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type: string
      required:
      - grunnlagsType
    Hoykapasitetsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    IkkeSkytevaapengrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Innehavsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/Aldersgrunnlag"
            - $ref: "#/components/schemas/Ammunisjonssamlergrunnlag"
            - $ref: "#/components/schemas/Amnestigrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Deaktivertgrunnlag"
            - $ref: "#/components/schemas/Etterregistrertgrunnlag"
            - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
            - $ref: "#/components/schemas/Hoykapasitetsgrunnlag"
            - $ref: "#/components/schemas/IkkeSkytevaapengrunnlag"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Minneverdegrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/Naeringsvirksomhetgrunnlag"
            - $ref: "#/components/schemas/Piratgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Skadedyrsutryddelsesgrunnlag"
            - $ref: "#/components/schemas/Skytterforeningsgrunnlag"
            - $ref: "#/components/schemas/Slaktegrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtenBehovsprovingGrunnlag"
            - $ref: "#/components/schemas/AndreBehovsgrunnlag"
            - $ref: "#/components/schemas/SaerskiltGrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      description: Løyve for innehavelse av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          registrertIJegerRegisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
      required:
      - grunnlagsType
      - registrertIJegerRegisteret
      - tilleggsvaapen
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - OVERDEL
            - UNDERDEL
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    Lagerbeholdning:
      type: object
      properties:
        organisasjonsnummer:
          type: string
        registrertAv:
          type: string
        vaapen:
          type: array
          items:
            $ref: "#/components/schemas/Lagervaapen"
        deler:
          type: array
          items:
            $ref: "#/components/schemas/Lagerdel"
      required:
      - deler
      - organisasjonsnummer
      - registrertAv
      - vaapen
    Lagerdel:
      type: object
      properties:
        del:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        lagerId:
          type: string
      required:
      - del
      - lagerId
    Lagervaapen:
      type: object
      properties:
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        lagerId:
          type: string
      required:
      - lagerId
      - vaapen
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Minneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Naeringsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          loyvehaver:
            $ref: "#/components/schemas/EierPerson"
          typeNaeringsvirksomhet:
            type: array
            items:
              type: string
              enum:
              - HANDEL
              - UTLEIE
              - MEKLING
              - TILVIRKNING
          avgrensninger:
            type: string
          dispensasjon:
            type: string
          saksreferanse:
            type: string
      - $ref: "#/components/schemas/LoyveForErverv"
      description: Løyve for næringsdrivende virksomhet
      required:
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeNaeringsvirksomhet
      - vedtaksdato
    Naeringsvirksomhetgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - skytevaapentype
    Piratgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - lademekanisme
      - skytevaapentype
    SaerskiltGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            $ref: "#/components/schemas/Samleromraade"
      required:
      - grunnlagsType
    Samleromraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        navn:
          type: string
        beskrivelse:
          type: string
        antallVaapen:
          type: integer
          format: int32
      required:
      - beskrivelse
      - id
      - innehaver
      - navn
    Skadedyrsutryddelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Skyteprogram:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type: array
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
      required:
      - arrangertAv
      - navn
    Skytevaapen:
      type: object
      description: Skytevåpen-modellen
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
      required:
      - definerendeType
      - funksjonsmaate
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    Skytterforeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Slaktegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            $ref: "#/components/schemas/Skyteprogram"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type: string
      required:
      - grunnlagsType
      - reservevaapen
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/GrunnlagWithBeskrivelse"
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UtenBehovsprovingGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Vaapendel:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
      properties:
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        serienummer:
          type: string
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        annetFabrikkmerke:
          type: string
        modell:
          type: string
        id:
          type: integer
          format: int64
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    UploadStatus:
      type: object
      properties:
        status:
          type: string
      required:
      - status
    Innehaver:
      type: object
    PersonInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          personidentifikator:
            type: string
      required:
      - personidentifikator
    VirksomhetInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          organisasjonsnummer:
            type: string
      required:
      - organisasjonsnummer
    JsonMessage:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    AcceptLoyvedeling:
      allOf:
      - $ref: "#/components/schemas/Loyvedeling"
      - type: object
        properties:
          loyveId:
            type: string
          ervervsloyveForesporselId:
            type: integer
            format: int64
      required:
      - ervervsloyveForesporselId
      - loyveId
      - svartype
    Loyvedeling:
      type: object
      discriminator:
        propertyName: svartype
        mapping:
          ACCEPT: "#/components/schemas/AcceptLoyvedeling"
          REJECT: "#/components/schemas/RejectLoyvedeling"
      properties:
        svartype:
          type: string
          description: Type svar på loyvedelingsforespørsel
          enum:
          - ACCEPT
          - REJECT
      required:
      - svartype
    RejectLoyvedeling:
      allOf:
      - $ref: "#/components/schemas/Loyvedeling"
      - type: object
        properties:
          ervervsloyveForesporselId:
            type: integer
            format: int64
      required:
      - ervervsloyveForesporselId
      - svartype
    ErvervsloyvedelingValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - OK
          - ERROR
      required:
      - status
    Korreksjonsmelding:
      type: object
      properties:
        meldingTilSaksbehandler:
          type: string
    Skytevaapenmelding:
      allOf:
      - $ref: "#/components/schemas/Korreksjonsmelding"
      - type: object
        properties:
          skytevaapen:
            $ref: "#/components/schemas/Skytevaapen"
      required:
      - skytevaapen
    Vaapendelmelding:
      allOf:
      - $ref: "#/components/schemas/Korreksjonsmelding"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
      required:
      - vaapendel
    AlreadyExists:
      allOf:
      - $ref: "#/components/schemas/KorreksjonResponseStatus"
      - type: object
        properties:
          reason:
            type: string
      required:
      - reason
    Created:
      allOf:
      - $ref: "#/components/schemas/KorreksjonResponseStatus"
      - type: object
        properties:
          id:
            type: string
            format: uuid
      required:
      - id
    Denied:
      allOf:
      - $ref: "#/components/schemas/KorreksjonResponseStatus"
      - type: object
        properties:
          reason:
            type: string
      required:
      - reason
    Failed:
      allOf:
      - $ref: "#/components/schemas/KorreksjonResponseStatus"
      - type: object
        properties:
          reason:
            type: string
      required:
      - reason
    KorreksjonResponseStatus:
      type: object
      discriminator:
        propertyName: status
      oneOf:
      - $ref: "#/components/schemas/Created"
      - $ref: "#/components/schemas/AlreadyExists"
      - $ref: "#/components/schemas/Denied"
      - $ref: "#/components/schemas/Failed"
      properties:
        status:
          type: string
      required:
      - status
    EieroverforingsforslagRequest:
      type: object
    SkytevaapenEieroverforingsforslag:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
      required:
      - ervervsloyveId
      - skytevaapenId
      - vaapendeler
    SkytevaapenEieroverforingsforslagNaering:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
      required:
      - naeringsloyveId
      - skytevaapenId
      - vaapendeler
    VaapendelEieroverforingsforslag:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
          vaapendelid:
            type: integer
            format: int64
      required:
      - ervervsloyveId
      - vaapendelid
    VaapendelEieroverforingsforslagNaering:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
          vaapendelid:
            type: integer
            format: int64
      required:
      - naeringsloyveId
      - vaapendelid
    EieroverforingError:
      type: object
      properties:
        loyveFelt:
          type: string
        modellFelt:
          type: string
        errorType:
          type: string
          enum:
          - ERROR_LOYVETYPE
          - ERROR_GRUNNLAGSTYPE
          - ERROR_FUNKSJONSMAATE
          - ERROR_SKYTEVAAPENTYPE
          - ERROR_FABRIKKMERKE
          - WARNING_MODELL
          - ERROR_AVFYRINGSMEKANISME
          - ERROR_LADEMEKANISME
          - ERROR_VAAPENDEFINERENDE
          - ERROR_VAAPENDELTYPE
          - ERROR_SKYTEVAAPEN_FINNES_IKKE
          - ERROR_ERVERVSLOYVE_FINNES_IKKE
          - ERROR_VAAPENDEL_FINNES_IKKE
          - ERROR_UGYLDIG_VAAPEN
          - ERROR_NAERINGSLOYVE_FINNES_IKKE
          - ERROR_VAAPEN_UTEN_VAAPENDEL
          - ERROR_ERVERVER_MATCHER_IKKE_LOYVEINNEHAVER
      required:
      - errorType
      - loyveFelt
      - modellFelt
    EieroverforingValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - WARNING
          - ERROR
          - CRITICAL
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
      required:
      - errors
      - status
      - warnings
    EieroverforingsforslagSvarRequest:
      type: object
      properties:
        eieroverforingId:
          type: integer
          format: int64
        svar:
          type: string
          enum:
          - AKSEPTER
          - AVSLAA
      required:
      - eieroverforingId
      - svar
    Innloggingsinfo:
      type: object
      properties:
        person:
          type: string
        virksomhet:
          type: string
        naeringsvirksomhet:
          type: boolean
        borsemaker:
          type: boolean
      required:
      - borsemaker
      - naeringsvirksomhet
      - person
      - virksomhet
    Actor:
      type: object
      properties:
        Name:
          type: string
        Type:
          type: string
        OrganizationNumber:
          type: string
        OrganizationForm:
          type: string
        Status:
          type: string
      required:
      - Name
      - OrganizationForm
      - Status
      - Type
    ErvervsloyveForesporsel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        foresporrer:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        createdDate:
          type: string
          format: date
      required:
      - createdDate
      - foresporrer
      - id
    EieroverforingsforslagView:
      type: object
      properties:
        vaapeneier:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        mottakersLoyve:
          oneOf:
          - $ref: "#/components/schemas/Ervervsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        id:
          type: integer
          format: int64
      required:
      - id
      - mottakersLoyve
      - vaapeneier
    LoyveForErverv:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          ERVERVSLOYVE: "#/components/schemas/Ervervsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
          - AVSLAATT
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    SkytevaapenEieroverforingsforslagView:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagView"
      - type: object
        properties:
          skytevaapen:
            $ref: "#/components/schemas/Skytevaapen"
      required:
      - id
      - mottakersLoyve
      - skytevaapen
      - vaapeneier
    VaapendelEieroverforingsforslagView:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagView"
      - type: object
        properties:
          vaapendel:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
      required:
      - id
      - mottakersLoyve
      - vaapendel
      - vaapeneier
