openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://vaapen.ppe.brreg.no
  description: Eksternt testmiljø (Pre Prod Ekstern)
- url: https://vaapen.ut1.brreg.no
  description: Utviklingsmiljø
paths:
  /virksomhet/naering/vaapen/lagerbeholdning:
    post:
      tags:
      - vaapen-controller
      operationId: sendLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lagerbeholdning"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UploadStatus"
  /virksomhet/naering/vaapen/csv:
    post:
      tags:
      - vaapen-controller
      operationId: convertLagerbeholdning
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Lagerbeholdning"
  /virksomhet/loyveforesporsel:
    get:
      tags:
      - loyve-controller
      operationId: finnErvervsloyveForesporsel
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ErvervsloyveForesporsel"
    post:
      tags:
      - loyve-controller
      operationId: opprettLoyvedelingsforesporsel
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/PersonInnehaver"
              - $ref: "#/components/schemas/VirksomhetInnehaver"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/JsonMessage"
  /virksomhet/eieroverforing:
    post:
      tags:
      - eieroverforings-controller
      operationId: oppretteEieroverforingsforslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslag"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaering"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslag"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaering"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /virksomhet/eieroverforing/validate:
    post:
      tags:
      - eieroverforings-controller
      operationId: validateForslag
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslag"
              - $ref: "#/components/schemas/SkytevaapenEieroverforingsforslagNaering"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslag"
              - $ref: "#/components/schemas/VaapendelEieroverforingsforslagNaering"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/EieroverforingValidationResult"
  /virksomhet/whoami:
    get:
      tags:
      - login-controller
      operationId: whoAmI
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Innloggingsinfo"
  /virksomhet/representere:
    get:
      tags:
      - virksomhet-controller
      operationId: representere
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Actor"
  /virksomhet/naeringsloyve:
    get:
      tags:
      - naeringsloyve-controller
      operationId: getNaeringsloyve
      parameters:
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Naeringsloyve"
  /virksomhet/naering/vaapen:
    get:
      tags:
      - vaapen-controller
      operationId: getVaapen
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: serienummer
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skytevaapen"
  /virksomhet/naering/vaapen/{id}:
    get:
      tags:
      - vaapen-controller
      operationId: getVaapenById
      parameters:
      - name: innloggetVirksomhet
        in: query
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Skytevaapen"
  /virksomhet/loyvedeling:
    get:
      tags:
      - loyve-controller
      operationId: hentDelteLoyver
      parameters:
      - name: X-Loyveinnehaver
        in: header
        description: Custom header for sending Loyveinnehaver search parameter
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ervervsloyve"
  /virksomhet/loyvedeling/{loyveId}:
    get:
      tags:
      - loyve-controller
      operationId: getDeltErvervsloyveById
      parameters:
      - name: loyveId
        in: path
        required: true
        schema:
          type: string
      - name: paVegneAv
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Ervervsloyve"
components:
  schemas:
    AmmunisjonForeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Ammunisjonssamlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    ArvOgMinneverdegrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Avlivingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Eier:
      type: object
      discriminator:
        propertyName: eiertype
        mapping:
          VIRKSOMHET: "#/components/schemas/EierVirksomhet"
          PERSON: "#/components/schemas/EierPerson"
      properties:
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
        id:
          type: integer
          format: int64
      required:
      - eiertype
    EierPerson:
      type: object
      description: Representerer en person
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator for eieren
          example: 5678
        personidentifikator:
          type: string
          description: Fødselsnummer eller D-nummer
          example: 12345678901
        navn:
          type: string
          description: Navn på fysisk person - kun visning ved behov
          example: Kari Ole Normann
        eiertype:
          type: string
          description: Type eier
          enum:
          - PERSON
          - VIRKSOMHET
          example: PERSON
      required:
      - eiertype
      - personidentifikator
    EierVirksomhet:
      allOf:
      - $ref: "#/components/schemas/Eier"
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Unik identifikator for eieren
            example: 1234
          organisasjonsnummer:
            type: string
            description: Organisasjonsnummer
            example: 123456789
          navn:
            type: string
            description: Navn på virksomhet - kun visning ved behov
            example: PANGPANG AS
          eiertype:
            type: string
            description: Type eier
            enum:
            - PERSON
            - VIRKSOMHET
            example: VIRKSOMHET
      description: Representerer en virksomhet
      required:
      - eiertype
      - organisasjonsnummer
    Ervervsloyve:
      type: object
      description: Løyve for erverv av våpen eller våpendel
      properties:
        loyveId:
          type: string
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
        vedtaksdato:
          type: string
          format: date
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        gyldigTil:
          type: string
          format: date
        typeErverv:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          - AMMUNISJON
          - HOYKAPASITETSMAGASIN
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        grunnlag:
          oneOf:
          - $ref: "#/components/schemas/AmmunisjonForeningsgrunnlag"
          - $ref: "#/components/schemas/Ammunisjonssamlergrunnlag"
          - $ref: "#/components/schemas/ArvOgMinneverdegrunnlag"
          - $ref: "#/components/schemas/Avlivingsgrunnlag"
          - $ref: "#/components/schemas/Hoykapasitetsgrunnlag"
          - $ref: "#/components/schemas/IkkeSkytevaapengrunnlag"
          - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          - $ref: "#/components/schemas/Jaktgrunnlag"
          - $ref: "#/components/schemas/Museumsgrunnlag"
          - $ref: "#/components/schemas/OpplaeringForeningsgrunnlag"
          - $ref: "#/components/schemas/Piratgrunnlag"
          - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          - $ref: "#/components/schemas/Samlergrunnlag"
          - $ref: "#/components/schemas/Sportsgrunnlag"
          - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
          - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
          - $ref: "#/components/schemas/UkjentGrunnlag"
          - $ref: "#/components/schemas/UtlaanForeningsgrunnlag"
        spesifisering:
          $ref: "#/components/schemas/ErvervsloyveSpesifikt"
        paaVegneAv:
          $ref: "#/components/schemas/EierPerson"
        fritakFraAlderskrav:
          type: boolean
        oppbevaringsansvarlig:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        brukesAv:
          type: integer
          format: int64
        saksreferanse:
          type: string
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeErverv
      - vedtaksdato
    ErvervsloyveSpesifikt:
      type: object
      properties:
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        funksjonsmaate:
          type: string
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
    Fabrikkmerke:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Grunnlag:
      type: object
      discriminator:
        propertyName: grunnlagsType
        mapping:
          JAKT: "#/components/schemas/Jaktgrunnlag"
          SPORT: "#/components/schemas/Sportsgrunnlag"
          SAMLER: "#/components/schemas/Samlergrunnlag"
          HOYKAPASITETSMAGASIN: "#/components/schemas/Hoykapasitetsgrunnlag"
          ARV_MINNEVERDE: "#/components/schemas/ArvOgMinneverdegrunnlag"
          AMMUNISJONSSAMLING: "#/components/schemas/Ammunisjonssamlergrunnlag"
          REPLIKA_LUFT_FJAER: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
          ISBJORN: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
          IKKE_SKYTEVAAPEN: "#/components/schemas/IkkeSkytevaapengrunnlag"
          TJENESTEPERSON: "#/components/schemas/Tjenestepersonsgrunnlag"
          AMMUNISJON_FORENING: "#/components/schemas/AmmunisjonForeningsgrunnlag"
          OPPLAERING_FORENING: "#/components/schemas/OpplaeringForeningsgrunnlag"
          UTLAAN_FORENING: "#/components/schemas/UtlaanForeningsgrunnlag"
          AVLIVING_AV_DYR: "#/components/schemas/Avlivingsgrunnlag"
          MUSEUM: "#/components/schemas/Museumsgrunnlag"
          PIRAT: "#/components/schemas/Piratgrunnlag"
          TEST_UTVIKLING: "#/components/schemas/TestOgUtviklingsgrunnlag"
          UKJENT: "#/components/schemas/UkjentGrunnlag"
      properties:
        grunnlagsType:
          type: string
          enum:
          - JAKT
          - SPORT
          - HOYKAPASITETSMAGASIN
          - ARV_MINNEVERDE
          - SAMLER
          - AMMUNISJONSSAMLING
          - REPLIKA_LUFT_FJAER
          - ISBJORN
          - IKKE_SKYTEVAAPEN
          - TJENESTEPERSON
          - AMMUNISJON_FORENING
          - OPPLAERING_FORENING
          - UTLAAN_FORENING
          - AVLIVING_AV_DYR
          - MUSEUM
          - PIRAT
          - TEST_UTVIKLING
          - UKJENT
        id:
          type: integer
          format: int64
      required:
      - grunnlagsType
    Hoykapasitetsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    IkkeSkytevaapengrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Innehavsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          grunnlag:
            oneOf:
            - $ref: "#/components/schemas/AmmunisjonForeningsgrunnlag"
            - $ref: "#/components/schemas/Ammunisjonssamlergrunnlag"
            - $ref: "#/components/schemas/ArvOgMinneverdegrunnlag"
            - $ref: "#/components/schemas/Avlivingsgrunnlag"
            - $ref: "#/components/schemas/Hoykapasitetsgrunnlag"
            - $ref: "#/components/schemas/IkkeSkytevaapengrunnlag"
            - $ref: "#/components/schemas/Isbjornbeskyttelsesgrunnlag"
            - $ref: "#/components/schemas/Jaktgrunnlag"
            - $ref: "#/components/schemas/Museumsgrunnlag"
            - $ref: "#/components/schemas/OpplaeringForeningsgrunnlag"
            - $ref: "#/components/schemas/Piratgrunnlag"
            - $ref: "#/components/schemas/ReplikaLuftOgFjaergrunnlag"
            - $ref: "#/components/schemas/Samlergrunnlag"
            - $ref: "#/components/schemas/Sportsgrunnlag"
            - $ref: "#/components/schemas/TestOgUtviklingsgrunnlag"
            - $ref: "#/components/schemas/Tjenestepersonsgrunnlag"
            - $ref: "#/components/schemas/UkjentGrunnlag"
            - $ref: "#/components/schemas/UtlaanForeningsgrunnlag"
          paaVegneAv:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
          fritakFraAlderskrav:
            type: boolean
          oppbevaringsansvarlig:
            oneOf:
            - $ref: "#/components/schemas/EierPerson"
            - $ref: "#/components/schemas/EierVirksomhet"
          ervervsloyve:
            $ref: "#/components/schemas/Ervervsloyve"
      description: Løyve for innehavelse av våpen eller våpendel
      required:
      - fritakFraAlderskrav
      - grunnlag
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Isbjornbeskyttelsesgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Jaktgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          registrertIJegerRegisteret:
            type: boolean
          tilleggsvaapen:
            type: boolean
      required:
      - grunnlagsType
      - registrertIJegerRegisteret
      - tilleggsvaapen
    Kaliber:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
      required:
      - id
      - navn
    Laaskasse:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          laaskassetype:
            type: string
            enum:
            - LAASKASSE
            - OVERDEL
            - UNDERDEL
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    Lagerbeholdning:
      type: object
      properties:
        organisasjonsnummer:
          type: string
        registrertAv:
          type: string
        vaapen:
          type: array
          items:
            $ref: "#/components/schemas/Lagervaapen"
        deler:
          type: array
          items:
            $ref: "#/components/schemas/Lagerdel"
      required:
      - deler
      - organisasjonsnummer
      - registrertAv
      - vaapen
    Lagerdel:
      type: object
      properties:
        del:
          oneOf:
          - $ref: "#/components/schemas/Laaskasse"
          - $ref: "#/components/schemas/Pipe"
          - $ref: "#/components/schemas/Revolvertonne"
          - $ref: "#/components/schemas/Sluttstykke"
        lagerId:
          type: string
      required:
      - del
      - lagerId
    Lagervaapen:
      type: object
      properties:
        vaapen:
          $ref: "#/components/schemas/Skytevaapen"
        lagerId:
          type: string
      required:
      - lagerId
      - vaapen
    LoyveForInnehav:
      type: object
      discriminator:
        propertyName: loyvetype
        mapping:
          INNEHAVSLOYVE: "#/components/schemas/Innehavsloyve"
          NAERINGSLOYVE: "#/components/schemas/Naeringsloyve"
      properties:
        status:
          type: string
          enum:
          - AKTIV
          - BENYTTET
          - TILBAKEKALT
          - FRYST
          - DELVIS_BENYTTET
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        loyveId:
          type: string
        vedtaksdato:
          type: string
          format: date
        loyvetype:
          type: string
          description: Type løyve
          enum:
          - INNEHAVSLOYVE
          - ERVERVSLOYVE
          - NAERINGSLOYVE
      required:
      - innehaver
      - loyveId
      - loyvetype
      - status
      - vedtaksdato
    Museumsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Naeringsloyve:
      allOf:
      - $ref: "#/components/schemas/LoyveForInnehav"
      - type: object
        properties:
          innehaver:
            $ref: "#/components/schemas/EierVirksomhet"
          loyvehaver:
            $ref: "#/components/schemas/EierPerson"
          typeNaeringsvirksomhet:
            type: array
            items:
              type: string
              enum:
              - HANDEL
              - UTLEIE
              - MEKLING
              - TILVIRKNING
          avgrensninger:
            type: string
          dispensasjon:
            type: string
          saksreferanse:
            type: string
      description: Løyve for næringsdrivende virksomhet
      required:
      - innehaver
      - loyveId
      - loyvetype
      - saksreferanse
      - status
      - typeNaeringsvirksomhet
      - vedtaksdato
    OpplaeringForeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Pipe:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          pipelengde:
            type: integer
            format: int32
          antallLop:
            type: integer
            format: int32
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - antallLop
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - skytevaapentype
    Piratgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    ReplikaLuftOgFjaergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Revolvertonne:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          lademekanisme:
            type: string
            enum:
            - MUNNLADER
            - BAKLADER
          avfyringsmekanisme:
            type: string
            enum:
            - PATRON
            - PERKUSJON
            - FLINT
            - LUNTE
          kaliber:
            type: array
            items:
              $ref: "#/components/schemas/Kaliber"
          annetKaliber:
            type: string
      required:
      - avfyringsmekanisme
      - innehavsloyve
      - kaliber
      - korrigeringsstatus
      - lademekanisme
      - skytevaapentype
    SamlerOmraade:
      type: object
      properties:
        id:
          type: string
          format: uuid
        innehaver:
          oneOf:
          - $ref: "#/components/schemas/EierPerson"
          - $ref: "#/components/schemas/EierVirksomhet"
        beskrivelse:
          type: string
        vaapen:
          type: array
          items:
            $ref: "#/components/schemas/Samlervaapen"
      required:
      - beskrivelse
      - id
      - innehaver
      - vaapen
    Samlergrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          samlerOmraade:
            $ref: "#/components/schemas/SamlerOmraade"
      required:
      - grunnlagsType
      - samlerOmraade
    Samlervaapen:
      type: object
      properties:
        merke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
      required:
      - merke
    Skyteprogram:
      type: object
      properties:
        id:
          type: integer
          format: int32
        navn:
          type: string
        arrangertAv:
          type: string
        skytevaapentyper:
          type: array
          items:
            type: string
            enum:
            - RIFLE
            - HAGLE
            - KOMBINASJONSVAAPEN
            - PISTOL
            - REVOLVER
            - MASKINGEVAER
            - MASKINPISTOL
            - SALUTT
            - KNALL
            - LUFTFJAER
            - MUSKETT
            - ARMBROST
            - UKJENT
      required:
      - arrangertAv
      - navn
    Skytevaapen:
      type: object
      description: Skytevåpen-modellen
      properties:
        id:
          type: integer
          format: int64
          description: Unik identifikator
        funksjonsmaate:
          type: string
          description: Funksjonsmåte for skytevåpenet
          enum:
          - ENKELTSKUDD
          - HALVAUTOMATISK
          - HELAUTOMATISK
          - MANUELL_OMLADING
          - UKJENT
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
        avfyringsmekanisme:
          type: string
          enum:
          - PATRON
          - PERKUSJON
          - FLINT
          - LUNTE
        lademekanisme:
          type: string
          enum:
          - MUNNLADER
          - BAKLADER
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        vaapendeler:
          type: array
          items:
            oneOf:
            - $ref: "#/components/schemas/Laaskasse"
            - $ref: "#/components/schemas/Pipe"
            - $ref: "#/components/schemas/Revolvertonne"
            - $ref: "#/components/schemas/Sluttstykke"
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          description: Type registreringsobjekt
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
          example: SkyteVaapen
        definerendeType:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
      required:
      - definerendeType
      - funksjonsmaate
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
      - vaapendeler
    Sluttstykke:
      allOf:
      - $ref: "#/components/schemas/Vaapendel"
      - type: object
        properties:
          sluttstykketype:
            type: string
            enum:
            - SLUTTSTYKKE
            - GLIDESTYKKE
            - LAASEBLOKK
      required:
      - innehavsloyve
      - korrigeringsstatus
      - skytevaapentype
    Sportsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          skyteprogram:
            $ref: "#/components/schemas/Skyteprogram"
          reservevaapen:
            type: boolean
          annetSkyteprogram:
            type: string
      required:
      - grunnlagsType
      - reservevaapen
    TestOgUtviklingsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Tjenestepersonsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    UkjentGrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      - type: object
        properties:
          beskrivelse:
            type: string
      required:
      - grunnlagsType
    UtlaanForeningsgrunnlag:
      allOf:
      - $ref: "#/components/schemas/Grunnlag"
      required:
      - grunnlagsType
    Vaapendel:
      type: object
      description: Våpendel-modellene
      discriminator:
        propertyName: vaapendeltype
        mapping:
          LAASKASSE: "#/components/schemas/Laaskasse"
          PIPE: "#/components/schemas/Pipe"
          REVOLVERTONNE: "#/components/schemas/Revolvertonne"
          SLUTTSTYKKE: "#/components/schemas/Sluttstykke"
      properties:
        vaapenstatus:
          type: string
          enum:
          - AKTIV
          - DESTRUERT
          - DEAKTIVERT
          - UTFORT
        korrigeringsstatus:
          type: string
          enum:
          - OK
          - TRENGER_GJENNOMGANG
          - UNDER_KORRIGERING
        registreringsobjektType:
          type: string
          enum:
          - SKYTEVAAPEN
          - VAAPENDEL
        annetFabrikkmerke:
          type: string
        innehavsloyve:
          oneOf:
          - $ref: "#/components/schemas/Innehavsloyve"
          - $ref: "#/components/schemas/Naeringsloyve"
        skytevaapentype:
          type: string
          enum:
          - RIFLE
          - HAGLE
          - KOMBINASJONSVAAPEN
          - PISTOL
          - REVOLVER
          - MASKINGEVAER
          - MASKINPISTOL
          - SALUTT
          - KNALL
          - LUFTFJAER
          - MUSKETT
          - ARMBROST
          - UKJENT
        vaapendeltype:
          type: string
          enum:
          - PIPE
          - LAASKASSE
          - REVOLVERTONNE
          - SLUTTSTYKKE
        serienummer:
          type: string
        fabrikkmerke:
          $ref: "#/components/schemas/Fabrikkmerke"
        modell:
          type: string
        id:
          type: integer
          format: int64
      required:
      - innehavsloyve
      - korrigeringsstatus
      - registreringsobjektType
      - skytevaapentype
    UploadStatus:
      type: object
      properties:
        status:
          type: string
      required:
      - status
    Innehaver:
      type: object
    PersonInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          personidentifikator:
            type: string
      required:
      - personidentifikator
    VirksomhetInnehaver:
      allOf:
      - $ref: "#/components/schemas/Innehaver"
      - type: object
        properties:
          organisasjonsnummer:
            type: string
      required:
      - organisasjonsnummer
    JsonMessage:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    EieroverforingsforslagRequest:
      type: object
    SkytevaapenEieroverforingsforslag:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
      required:
      - ervervsloyveId
      - skytevaapenId
      - vaapendeler
    SkytevaapenEieroverforingsforslagNaering:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
          skytevaapenId:
            type: integer
            format: int64
          vaapendeler:
            type: array
            items:
              type: integer
              format: int64
      required:
      - naeringsloyveId
      - skytevaapenId
      - vaapendeler
    VaapendelEieroverforingsforslag:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          ervervsloyveId:
            type: string
          vaapendelid:
            type: integer
            format: int64
      required:
      - ervervsloyveId
      - vaapendelid
    VaapendelEieroverforingsforslagNaering:
      allOf:
      - $ref: "#/components/schemas/EieroverforingsforslagRequest"
      - type: object
        properties:
          naeringsloyveId:
            type: string
          vaapendelid:
            type: integer
            format: int64
      required:
      - naeringsloyveId
      - vaapendelid
    EieroverforingError:
      type: object
      properties:
        loyveFelt:
          type: string
        modellFelt:
          type: string
        errorType:
          type: string
          enum:
          - ERROR_LOYVETYPE
          - ERROR_GRUNNLAGSTYPE
          - ERROR_FUNKSJONSMAATE
          - ERROR_SKYTEVAAPENTYPE
          - ERROR_FABRIKKMERKE
          - WARNING_MODELL
          - ERROR_AVFYRINGSMEKANISME
          - ERROR_LADEMEKANISME
          - ERROR_VAAPENDEFINERENDE
          - ERROR_VAAPENDELTYPE
          - ERROR_SKYTEVAAPEN_FINNES_IKKE
          - ERROR_ERVERVSLOYVE_FINNES_IKKE
          - ERROR_VAAPENDEL_FINNES_IKKE
          - ERROR_UGYLDIG_VAAPEN
          - ERROR_NAERINGSLOYVE_FINNES_IKKE
          - ERROR_VAAPEN_UTEN_VAAPENDEL
      required:
      - errorType
      - loyveFelt
      - modellFelt
    EieroverforingValidationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - WARNING
          - ERROR
          - CRITICAL
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/EieroverforingError"
      required:
      - errors
      - status
      - warnings
    Innloggingsinfo:
      type: object
      properties:
        person:
          type: string
        virksomhet:
          type: string
        naeringsvirksomhet:
          type: boolean
        borsemaker:
          type: boolean
      required:
      - borsemaker
      - naeringsvirksomhet
      - person
      - virksomhet
    Actor:
      type: object
      properties:
        Name:
          type: string
        Type:
          type: string
        OrganizationNumber:
          type: string
        OrganizationForm:
          type: string
        Status:
          type: string
      required:
      - Name
      - OrganizationForm
      - Status
      - Type
    ErvervsloyveForesporsel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        foresporrer:
          $ref: "#/components/schemas/Foresporrer"
        createdDate:
          type: string
          format: date
      required:
      - createdDate
      - foresporrer
      - id
    Foresporrer:
      type: object
      oneOf:
      - $ref: "#/components/schemas/VirksomhetsForesporrer"
      - $ref: "#/components/schemas/PersonForesporrer"
    PersonForesporrer:
      allOf:
      - $ref: "#/components/schemas/Foresporrer"
      - type: object
        properties:
          fnr:
            type: string
      required:
      - fnr
    VirksomhetsForesporrer:
      allOf:
      - $ref: "#/components/schemas/Foresporrer"
      - type: object
        properties:
          orgnr:
            type: string
      required:
      - orgnr
